[2020-08-14 00:07] Myddleware commented on #344
Did you try to put your rule reference date in the past ? The reference date is set by default to the rule creation date. If no Moodle records (users, courses... depending on the module you want to read) has been modified since this date, then Myddleware has nothing to read.

You will find more info about the reference date here : https://myddleware.github.io/myddleware/#/basic_usage?id=rule-param

[2020-08-14 09:32] mirianmpr commented on #341
Ok, thank you. I cancelled without  problem. But, can I delete this transfers? I see if I try again the rule, I can't use the same data because they have created the documents.

[2020-08-14 09:37] mirianmpr opened #345 "Error sitepolicynotagreed with Moodle"
Hi,
When I try to create the users from Prestashop to Moodle I'm obtaining the error sitepolicynotagreed. I have an optional policy in Moodle, and I don't know how can I pass a value to Moodle in order to avoid this error.
Thank you.

[2020-08-14 12:50] Inv0k-er commented on #344
ok I give you answer in next week. I wana read your link.

[2020-08-15 22:59] Myddleware commented on #341
Hi @mirianmpr ,
You can use the same command and change "cancel" by "remove". It will remove the data transfer of your rule.
Hope it will help.

[2020-08-15 23:08] Myddleware commented on #345
Hi @mirianmpr ,
I think you have to change a setting in your Moodle instance. Probaly in this page : Site administration -> Security ->Site policies
Could you tell us if it helps ?
Thanks.

[2020-08-17 10:54] mirianmpr commented on #341
Yes, I used "remove", but they are still there marked as "cancel" and I can't use them again.

[2020-08-17 11:42] mirianmpr commented on #345
Yes, but the policies are marked as optional, not compulsory. I've tried to deactivate the site policy, but the error persists.

[2020-08-17 12:06] mirianmpr commented on #345
I've deactivated all the policy rules and the rule worked! But I don't know why can't I have the rules activated.

Thank  you.

[2020-08-17 23:03] Myddleware commented on #345
Thanks for your feedback.
Please let us know if you have any other question.

[2020-08-17 23:03] #345 closed, assigned to nobody

[2020-08-17 23:49] Myddleware commented on #341
Hi @Myddleware ,
The remove action with the "Y" should remove all the data transfer of your rule.
Please could you add some details and screenshots to show me which data transfer aren't removed ?
Thanks.

[2020-08-28 15:39] Yuvarajsfcloud opened #346 "Unable to configure the connectors in myddleware"
we are integrating Moodle & Salesforce through Myddleware and it was working fine couple of months back. we had a change in salesforce credentials for which I tried to reconfigure the connector and I ended up with the following error .

**Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please check your log file here : \myddleware\var\logs\prod.log

[2020-08-28 15:44] Myddleware commented on #346
No problem,
could you open your log file : \myddleware\var\logs\prod.log
Then regenerate the error in Myddleware.
Then open again your log file and POST the new lines here please.
Thanks.

[2020-09-04 15:00] Yuvarajsfcloud commented on #346
[2020-09-03 14:08:01] request.CRITICAL: Uncaught PHP Exception Illuminate\Contracts\Encryption\DecryptException: "The MAC is invalid." at D:\Inetpub\Web\PDC\pdcwebp002vw.state.in.us\myddleware\vendor\illuminate\encryption\Encrypter.php line 148 {"exception":"[object] (Illuminate\\Contracts\\Encryption\\DecryptException(code: 0): The MAC is invalid. at D:\\Inetpub\\Web\\PDC\\pdcwebp002vw.state.in.u

[2020-09-04 15:04] Myddleware commented on #346
Hi @Yuvarajsfcloud ,
Did you change the secret in the file \myddleware\app\config\parameters.yml ? Or have you re installed Myddleware and copyied the database to the new Myddleware ?
Thanks.

[2020-09-04 15:06] Yuvarajsfcloud commented on #346
I’m not sure whether something has changed in the recent days.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Myddleware<mailto:notifications@github.com>
Sent: 04 September 2020 20:35
To: Myddleware/myddleware<mailto:myddleware@noreply.github.com>
Cc: Yuvarajsfcloud<mailto:yuvarajp23@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Myddl

[2020-09-04 15:08] Myddleware commented on #346
It seems that your secret key has been changed. So Myddleware isn't able anymore to decrypt your Salesforce access.
What is your Myddleware version ?

[2020-09-09 06:42] simonetravaglini opened #347 "Error when process scheduled"
Hi,
I've a scheduled process that give error:
![image](https://user-images.githubusercontent.com/6990139/92563685-3eb0e880-f278-11ea-859b-07094eef9d05.png)

Consider that if I run manually process I don't get any error and then if I manually reload transfer than go in status transformed.

Can you help me to understand?

[2020-09-09 06:54] Myddleware commented on #347
Hi @simonetravaglini ,
Could you show me the field mapping tab of your rule ? Could you also show me a data transfer in error (data transfer content with source and target + data transfer log) ?
Thanks.

[2020-09-09 06:54] simonetravaglini opened #348 "How to "reset" a rule"
Hi,
suppose I've been a rules correctly set. But not sure if all data in my target are related to rule. So I want delete everythings and force sync like if is first time.
If I delete everythings in target then rules when run will not work correctly. So I suppose I have to "clear" the situation. There is a console command or db query to do that?

[2020-09-09 06:57] simonetravaglini commented on #347
here field mapping
![image](https://user-images.githubusercontent.com/6990139/92565182-8a649180-f27a-11ea-9156-fc3464548b33.png)

[2020-09-09 07:20] Myddleware commented on #348
Hi @simonetravaglini ,
If you want to re sync your data from scratch, yes clear the target application and remove all data trasfer in Myddleware for this rule.
There is a specific command to remove all data transfer in your rule, please have a look to this : https://github.com/Myddleware/myddleware/issues/309#issuecomment-633500529

[2020-09-09 08:19] simonetravaglini commented on #347
![image](https://user-images.githubusercontent.com/6990139/92573345-f6002c00-f285-11ea-8b76-db1a59a966bd.png)

[2020-09-09 12:28] #348 closed, assigned to nobody

[2020-09-09 14:48] Yuvarajsfcloud commented on #346
v2.5.4b

[2020-09-10 11:35] Myddleware commented on #347
Hi Simone, I see in the creenshot you sent me directly that the date DATADINASCIATA hase the format d/m/Y (19/03/1990). But when I see your formula you try to change the format d-m-Y.
Could you change your formula and try again ?
Thanks.

[2020-09-10 11:37] Myddleware commented on #346
Have you recently upgraded Myddleware  ?

[2020-09-10 15:43] Yuvarajsfcloud commented on #346
Yes . Now we have a different issue.  we recreated all the rules & connectors and it works when we execute manually.
we schedule the Synchro (All Rows) with Period 5, but I don't see any task created for the Job Run. There is no trace of the transfers. we need the assistance immediately.

[2020-09-10 15:51] Myddleware commented on #346
Hi @Yuvarajsfcloud
We do our best to be reactive on the forum.  However, I hope you understand that we have to support our client first.
Have you added the Myddleware job in your scheduler on your serveur (crontab if you use a linux server)?

[2020-09-10 16:58] Yuvarajsfcloud commented on #346
Yes I do understand . I appreciate your quick response. I scheduled the job through the UI using the Job Schedular available in the top right right corner.

[2020-09-10 17:10] Myddleware commented on #346
Cool.
OK but you have to add this task in the scheduler of your server : php bin/console myddleware:jobScheduler --env=background > /dev/null 2>&1
If you have linux, please add this line in your crontab :
`*/5 * * * * cd <path of myddleware root directory> ; php bin/console myddleware:jobScheduler --env=background > /dev/null 2>&1`

Myddleware scheduler will be launch every 5 minutes and it will r

[2020-09-14 09:10] MisterIbe opened #349 "Message d'erreur"
Bonjour,

Nous avons reçu le message d'erreur suivant :

Here the errors:
- Règle Products to Cirrus, id transfert 5f5c2ba3669085.10276527, le 2020-09-12 02:00:06 : Name:Error_MSG_Field_Required,Failed to send document. Status : Error_sending
- Règle Product list to Cirrus, id transfert 5f5c2bb937e409.38092970, le 2020-09-12 02:00:25 : No data for the field Myddleware_element_id in the rule produc

[2020-09-14 12:23] Myddleware commented on #349
Bonjour @MisterIbe ,
D'après les log des points 1 et 3, un produit n'a pas été créé dans Cirrus Shield car un champ obligatoire doit être vide (règle Products to Cirrus).

Pour corriger le problème, vous pouvez mettre une données manuellement dans la transfert de données en erreur (statut Error sending) directement dans Myddleware puis relancer le transfert de données.
Cependant la bonne pratique

[2020-09-14 15:26] fosullivan-usam opened #350 "Job historic chart shows oldest data only"
The Job historic chart on the homepage continuously shows the oldest job data in the system.  Presumably, it should show the most recent week.

![Historic Jobs Chart](https://user-images.githubusercontent.com/17993233/93105311-e8c7b080-f67c-11ea-86ab-b42e09864294.jpg)

[2020-09-15 16:07] Yuvarajsfcloud commented on #346
Hi Team,

Based on your suggestion , I have used php bin/console myddleware:jobScheduler --env=background to schedule the job on CMD. It ran immediately without any issues. But one of the transfer got failed.

After that the scheduled job didn’t run at all.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Myddleware<mailto:notifications@github.com>
Sent: 10 Sep

[2020-09-16 05:22] Yuvarajsfcloud commented on #346
Hi Team,

Could you please confirm that the scheduler job stops if any transfer fails and we need to re initiate the scheduler from the CMD again.

[2020-09-16 06:01] Myddleware commented on #346
Hi @Yuvarajsfcloud ,
The scheduler doesn't stop if a transfer fails. The only thing that can stop the scheduler is when a job couldn't finish.
Could you open your tak list and check the last job. What is its status ?
Thanks.

[2020-09-16 06:09] Myddleware commented on #350
Hi @fosullivan-usam ,
You are right, we will work on it. Thanks.

[2020-09-16 06:10] Yuvarajsfcloud commented on #346
![image](https://user-images.githubusercontent.com/44530191/93298673-4bea4c00-f811-11ea-921c-b967864e97e2.png)
Attached the snapshot of the Task which was executed by Scheduler immediately after we scheduled. and there was no job ran after that. we had to run it manually every time

[2020-09-16 06:12] Myddleware commented on #346
OK.
Could you show me how your have created your scheduler task (the crontab if you use linux) ? Thanks.

[2020-09-16 06:15] Yuvarajsfcloud commented on #346
![image](https://user-images.githubusercontent.com/44530191/93299089-1c880f00-f812-11ea-90d5-d759cd8c6792.png)

[2020-09-16 06:25] Myddleware commented on #346
Your screenshot shows a task running, not the scheduler task. So you have to create a scheduler tack to run Myddleware job automatically.

[2020-09-16 06:50] Yuvarajsfcloud commented on #346
I have used php bin/console myddleware:jobScheduler --env=background on the cmd. I believe this is right. Could you please confirm?

[2020-09-16 06:57] Myddleware commented on #346
Yes this is right if you want to run a task without opening Myddleware.
However, if you want to run this task automatically, you have to tell windows (I see in your screenshot that your are using Windows) to run your command (the one you run on the cmd) every 5 minutes (or 15 minutes or more... like you want).
Hope it helps.

[2020-09-16 07:08] Yuvarajsfcloud commented on #346
Ok . The only thing which we missed to mention is the frequency in the Scheduled Task. How do I modify the command to run every minutes
php bin/console myddleware:jobScheduler --env=background

Also how this interferes with the period mentioned in the Job schedular table. Will we end up with conflict sometime?

[2020-09-16 07:12] Myddleware commented on #346
Sorry but it isn't just to change the command. You have to create a scheduler task. Here is a video that will probably help you : https://www.youtube.com/watch?v=HAOP0HZeDJg

There is no conflict with the Myddleware scheduler table. You just have to make sure to run your sheduler task with a period lower or equal to the shortest period you have set in Myddleware table.

[2020-09-16 07:16] Yuvarajsfcloud commented on #346
Appreciate your help. I will watch and run it accordingly

[2020-09-21 09:22] Yuvarajsfcloud opened #351 "Only Name field available for duplicate check"
Hi Team,

we are integrating SF with Moodle . As part of one of our requirement , we need a combination of fields to identify a record as duplicate on SF which should be considered for updated rather than create.

For Any custom object we use on Myddleware, we only get Name as the duplicate identifier which will not work in our case. Is there anywhere to identify duplicates through other fields. I

[2020-09-21 15:54] Myddleware commented on #351
Hi @Yuvarajsfcloud ,
You can redefine the duplicate fields into the SalesForce connector (in Myddleware).
Please create the file <myddleware_root>\src\Myddleware\RegleBundle\Custom\Solutions\salesforce.php (create the directory Custom if it doesn't exist) and add this code
[code]
Then you can add all the entries you want in this array to add duplicate fields for a module.
I have added this line as

[2020-09-22 11:14] Yuvarajsfcloud commented on #302
Its fixed now. Thanks a lot for helping out

[2020-09-22 11:14] #302 closed, assigned to nobody

[2020-09-22 11:14] Yuvarajsfcloud commented on #346
Its fixed now. Thanks a lot for helping out

[2020-09-22 11:14] #346 closed, assigned to nobody

[2020-09-22 11:25] Yuvarajsfcloud opened #352 "Required Fields are currently empty"
As part of our Salesforce-Moodle integration, we are trying to sync the Subscription__c (Custom Object) in SF with Moodle's get_course_completion_by_date Module .

Subscription object will already have data and we just need to update the completion date on the Salesforce as per Moodle's data. Duplicate check will be done with a combination of courseId & UserId which we will update in the custom so

[2020-09-22 13:40] Myddleware commented on #352
Hi @Yuvarajsfcloud ,
You problem here isn't about the required fields in the Field tab. It is because the name field is selected as duplicate field and not set in the "field" tab.
Could you just click on "name" in the confirmation tab ? Name won't be in red anymore and you will be able to save.

[2020-09-23 09:35] matteo-opencrmitalia opened #353 "Issue with old Microsoft sql"
Hi, old Microsoft sql did not support Offset so myddleware does not work

https://stackoverflow.com/questions/19756839/why-cant-i-query-offset-fetch-query-on-my-sql-server
https://stackoverflow.com/questions/2135418/equivalent-of-limit-and-offset-for-sql-server

[2020-09-23 09:44] Myddleware commented on #353
Hi @matteo-opencrmitalia ,
I am sorry but I don't know how I can help. Please let me know.
Thanks.

[2020-09-24 07:56] matteo-opencrmitalia commented on #353
I connect sql server and it seem ok
![image](https://user-images.githubusercontent.com/60502629/94114904-4318fc00-fe49-11ea-91e6-a51bcd724041.png)

so i create rule
![image](https://user-images.githubusercontent.com/60502629/94115124-99863a80-fe49-11ea-8334-c80c53dedce2.png)

But when i try to simulate i get this error
![image](https://user-images.githubusercontent.com/60502629/94115196-ab67dd80-f

[2020-09-24 07:58] Myddleware commented on #353
Thank you very much for your feedback @matteo-opencrmitalia

[2020-09-24 15:51] #344 closed, assigned to nobody

[2020-09-24 15:52] #349 closed, assigned to nobody

[2020-09-24 15:52] #325 closed, assigned to nobody

[2020-09-24 15:53] #318 closed, assigned to nobody

[2020-09-24 15:53] #317 closed, assigned to nobody

[2020-09-24 15:54] #326 closed, assigned to nobody

[2020-09-24 15:54] #341 closed, assigned to nobody

[2020-09-24 15:55] #300 closed, assigned to nobody

[2020-09-24 15:56] #306 closed, assigned to nobody

[2020-09-24 15:58] Myddleware commented on #329
Done in the version 2.4.5g : https://github.com/Myddleware/myddleware/pull/336

[2020-09-24 15:58] #329 closed, assigned to nobody

[2020-09-24 15:58] #310 closed, assigned to nobody

[2020-09-24 15:58] #335 closed, assigned to nobody

[2020-09-24 16:38] #256 closed, assigned to nobody

[2020-09-24 16:38] #249 closed, assigned to nobody

[2020-09-24 16:39] #242 closed, assigned to nobody

[2020-09-24 16:39] #241 closed, assigned to Myddleware

[2020-09-24 16:40] #234 closed, assigned to nobody

[2020-09-24 16:40] #288 closed, assigned to nobody

[2020-09-24 16:40] #280 closed, assigned to nobody

[2020-09-24 16:41] #353 closed, assigned to nobody

[2020-09-25 14:06] Yuvarajsfcloud commented on #351
I have tried your suggestion . Please look my code below
namespace Myddleware\RegleBundle\Solutions;

use Symfony\Component\Form\Extension\Core\Type\PasswordType;
use Symfony\Component\Form\Extension\Core\Type\TextType;

class salesforce extends salesforcecore {

        protected $FieldsDuplicate = array(
                                             'Contact' => array('Email','LastName'),

[2020-09-28 08:39] simonetravaglini opened #354 "Apply formula crash if filed is empty"
Hi guys,
Just applied a formula  to transform a data field. It works, but if fields is empty than I got an error. To avoid this as workaround I set a filter in data field that sync only if contain / (why not adding is empty / is not empty in condition possibility?).
But should be better that if formula is applied on empty field just skip and not give an error...
What do you think about?

[2020-09-28 08:55] Myddleware commented on #354
Hi @simonetravaglini ,
In this case, we use the "if" in your formula : ({your field} =="" ? "" : <your formula>)
Does that make sense ?

[2020-09-28 08:59] Myddleware commented on #354
We talk about it here if you need more info : https://myddleware.github.io/myddleware/#/advanced_usage?id=formulae

You can also have a look into the "Ternary Operator" chapter here : https://www.php.net/manual/en/language.operators.comparison.php#language.operators.comparison.ternary

[2020-09-28 13:00] Yuvarajsfcloud commented on #351
Hi Team ,

Could you please help out on this ?

[2020-09-28 13:12] Myddleware commented on #351
Sorry guys, we don't work the weekend ;)
We will answer today (Europe time zone). Hope it will be fine for you.

[2020-09-28 14:23] Myddleware commented on #351
I see that a coma is missing between 'Contact__c' and 'Product1__c'
If you have another error like this, you can check your logs in myddleware\var\logs\prod.log
Have a nice day

[2020-09-30 14:13] FunkyCss opened #355 "There is no data in the source server or fields in the target solution"
I make a succesfull connection bettween Moodle with targeting Mautic.  i use for the Moodle the **Users** and in the Mautic the **Contacts**

I want to note here that this is for test purpsose and i am just testing the connection between those two platforms.

So i have a couple of users in my moodle platform and i have set up my Mautic working with a couple of other contacts.

1. When i try to map

[2020-09-30 18:51] Myddleware commented on #355
Hi @FunkyCss,
If you get this error, it means that Moodle is connected to Myddleware because the call to Moodle return a Moodle error. So Moodle and Myddleware are "talking" but there is obviously a problem.

It seems that your problem is a permission issue. Could you check that your have followed every step of this tutorial : https://myddleware.github.io/myddleware/#/connectors_credentials?id=moo

[2020-09-30 19:08] FunkyCss commented on #355
I have followed step by step the documentation of Myddleware and all looks as you have written there.

Also i have installed the Myddleware extension in Moodle , and i see the functions all are there.

I have given the tokens and use the Moodle web service for the connection and i dont understand why this is happening.

You say about permission , there is any chance this has to do with the roles i

[2020-10-01 11:44] Yuvarajsfcloud opened #356 "Mass Cancel transfers"
Hi Team ,

we have an integration between Salesforce & Moodle.

Could you please help us with the below queries ?

I have around 3500 transfers failed for a particular rule . Do we have any solution to mass cancel /reload all the transfers ?

Thanks in Advance

[2020-10-01 12:05] Myddleware commented on #356
HI @Yuvarajsfcloud ,
Please could you create 3 posts for your 3 topics. Thanks.

[2020-10-01 12:07] Yuvarajsfcloud commented on #356
Yes . I'm doing that

[2020-10-01 12:07] Yuvarajsfcloud opened #357 "ENTITY IS DELETED"
Integration between Moodle & Salesforce

whenever an entity gets deleted in either of the system, we get an error saying "ENTITY IS DELETED" . How to overcome this issue ?  we would need the record to be deleted at the other system as well or it should allow us to recreate .

[2020-10-01 12:08] Myddleware commented on #356
Good, keep only the first topic for this post. Thanks. We will answer very soon.

[2020-10-01 12:08] Yuvarajsfcloud opened #358 "Transfers gets stuck in "New" & "Ready to Send" status Intermittently"
In some instances, we need the transfers get stuck at "New" & "Ready to Send" Status  . Only when we reload the transfers, those are getting processed.

[2020-10-01 16:22] Myddleware commented on #355
Yes it could definitely be a role problem. Did you import the role that you can download from our tutorial. Or for the test purpose only, you can set the role system administrator to the user linked to your token.
Hope it will help.

[2020-10-01 16:25] Myddleware commented on #356
Yes, for example, you can cancel massively all data transfer belonging to a rule . Here is a post that should help you : https://github.com/Myddleware/myddleware/issues/341#issuecomment-671882181

Let me know if you need more help.

[2020-10-01 16:34] Myddleware commented on #358
This behavior can happen. It could depend on the solution you use and the limit you have set in your rule.

For some applications, we can't limit the number of record read. So Myddleware reads more data transfer than the limit set in the rule :
![image](https://user-images.githubusercontent.com/11330301/94837017-fec2c880-0413-11eb-9d40-942938b7e1ab.png)

In this case Myddleware will read all recor

[2020-10-01 16:56] Myddleware commented on #357
OK, for exemple, if you delete manually a record (createb by Myddleware) into Salesforce, and if you modify the corresponding record into Moodle, then Myddleware will read this record from Moodle and try to update it into Salesforce. An error will occur because Myddleware will try to update a record that doesn't exist anymore. It hapends because Myddleware don't know that you have deleted the reco

[2020-10-01 18:55] fosullivan-usam opened #359 "Stopped saving email password"
Recently, I stopped receiving daily email status notices.

My SMPT settings are correct.  When I enter the password for the email account and click 'Send Test Mail', the email is sent (and received) correctly.  However, when I 'Save configuration SMTP', and then try to Send Test Mail, I receive the following error:

Error : Failed to authenticate on SMTP server with username "info@xxxxxxx.com" usi

[2020-10-02 07:00] Myddleware commented on #359
Hi @fosullivan-usam ,
Did you change Myddleware before your have stopped receiving daily mail ? Like upgradding Myddleware ?
If no, I would say that your problem is on SMTP side, or server file (firewall), or mail could be sent in your spam mailbox ?
Could you try to send daily mail to another mailbox to test Myddleware ?
Thanks

[2020-10-02 15:53] fosullivan-usam commented on #359
The email does not go to the Junk folder because it is not sent.  I get a very clear error message confirming that it failed to send (see above). Also, as I mentioned above, when I enter the correct password for the email account and click 'Send Test Mail', the email is sent (and received) correctly. However, when I click Send Test Mail again, or click on 'Save configuration SMTP', and then try to

[2020-10-02 20:51] Myddleware commented on #359
Ho sorry @fosullivan-usam,

I was too quick to reply. It seems that there is a bug when we save the SMTP parameters. We will have a look into this.

In the meantime, you can try to update your smpt parameters directly in the parameter file here : <myddleware_root>\app\config\public\parameters_smtp.yml

Then clear all your cache by removing the content of the directories <myddleware_root>\var\cache

[2020-10-03 10:32] himanshunandan opened #360 "Connection between Moodle and SuiteCRM not working"
HiAdmin,

I have configured both SuiteCRM and Moodle in Myddleware. Link is ok. However when I try to map the fields and test rue it always shows "There is no data in the source server or fields in the target solution".

I have imported "Myddleware user" in moodle as per the guide. Gave the user Sysadmin rights.
If I try passing Jason in browser every other function works except "core_user_get_use

[2020-10-03 12:39] himanshunandan opened #361 "Moodle with ERPNext integration failing."
Hi Admin,

Can I integrate Moodle with ERPnext using Myddleware. I need School (Education) module with fees management.
Kindly suggest.

Regards
Himanshu

[2020-10-03 19:08] fosullivan-usam commented on #359
I edited the file and cleared the cache.  When I logged in and went to the SMTP Configuration page, it changed the password to NULL again.  So, I made the changes again, but will now wait until tomorrow to see if the scheduled email fires on time.  I'll be sure to let you know, but please let me know when you post an update with a fix to this problem.
Thank you!

[2020-10-05 14:07] Yuvarajsfcloud opened #362 "Incorrect Date Time Value from Moodle to SF"
Hi Team,

I'm trying to sync Course Completion data from Moodle to Myddleware. I get an incorrect date from the Myddleware to Salesforce.

Date Time value from Moolde - 1601794506

1601794506
Is equivalent to:
10/04/2020 @ 6:55am (UTC)

Instead of the above date, I'm getting 1970-01-19T12:56:34.000+0000 in the salesforce.

[2020-10-05 16:52] Myddleware commented on #360
Hi @himanshunandan ,
Could you send me a private message using our contact page on our website : http://www.myddleware.com/contact-us
I will give you the access to a Moodle test instance to check if the problem comes from your Moodle instance?

[2020-10-05 16:54] Myddleware commented on #361
Yes @himanshunandan ,
It is possible to connect Moodle with ERPnext using Myddleware. Here are the list of module Myddleware can read from Moodle : http://www.myddleware.com/solution/connected-applications?view=project&id=14:moodle

We can add more module if you need it.

[2020-10-05 17:13] Myddleware commented on #362
Hi @Yuvarajsfcloud ,
Yes you have to change the date format. You can use a formula in Myddleware like this :
`changeFormatDate( {timecompleted}, "U", "Y-m-dTH:i:s")`
![image](https://user-images.githubusercontent.com/11330301/95110547-78bdbf00-073e-11eb-9366-58f7dc3199a9.png)

You should have something like this :
![image](https://user-images.githubusercontent.com/11330301/95110599-8e32e900-073e-1

[2020-10-05 17:18] Myddleware commented on #360
Oh I think about something. For performance purpose, during the simulation, Myddleware don't read data oldest than 1 year. Maybe you don't have recent data in your Moodle instance. In this case, you can change the attribut delaySearch in the Moodle class (<myddleware_root>\src\Myddleware\RegleBundle\Solutions\moodle.php)
![image](https://user-images.githubusercontent.com/11330301/95111238-7f006b00

[2020-10-06 07:45] Yuvarajsfcloud opened #363 "Update fails from salesforce to moodle"
Hi Team ,

when records are created newly in salesforce, it syncs successfully to Moodle. But not the updates though same data is used with the update.
![image](https://user-images.githubusercontent.com/44530191/95173016-c20d1d80-07d5-11eb-8a22-b8ec7569c45f.png)

I'm trying to process all the historical records from salesforce to moodle by setting the Reference Date to the past. But it fails.

![i

[2020-10-06 07:45] #357 closed, assigned to nobody

[2020-10-06 07:45] #352 closed, assigned to nobody

[2020-10-06 07:45] #351 closed, assigned to nobody

[2020-10-06 07:45] #356 closed, assigned to nobody

[2020-10-06 07:46] #358 closed, assigned to nobody

[2020-10-06 07:56] Yuvarajsfcloud commented on #362
The above time format which you mentioned is not supported in Salesforce. I tried with other formats as well , it didn't work.
Error : Call failed - 400 [{"message":"Cannot deserialize instance of datetime from VALUE_STRING value 2020-10-04GMT+00000306:55:06 or request may be missing a required field at [line:1, column:70]","errorCode":"JSON_PARSER_ERROR"}]

[2020-10-06 14:27] Myddleware commented on #362
Hi @Yuvarajsfcloud ,
The right format is this one :
`changeFormatDate( {timecompleted},"Y-m-d H:i:s","Y-m-d\TH:i:s.000\Z")`
Please let me know if it works ony your side.

[2020-10-06 14:32] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
 Could you try to remove the mapping of auth field  and try again ? Thanks.

[2020-10-06 14:33] Myddleware commented on #359
Hi @fosullivan-usam ,
We will try to reproduce the bug and fix it for the next hotfix version.
I 'll keep you updated.

[2020-10-06 14:37] Yuvarajsfcloud commented on #362
It doesn't work. formula evaluates to Null value.

![image](https://user-images.githubusercontent.com/44530191/95216387-9f97f600-080f-11eb-891e-4df3510681a2.png)

[2020-10-06 14:40] Myddleware commented on #362
OK the date format of your source isn't the same than me (I have tested it with Prestashop on my side). So for Moodle, it should be this one :
`changeFormatDate( {timecompleted},"U","Y-m-d\TH:i:s.000\Z")`

[2020-10-07 14:05] Yuvarajsfcloud commented on #363
I tried by removing the auth mapping, but still it ends up with error.

![image](https://user-images.githubusercontent.com/44530191/95341803-4e9e0580-08d4-11eb-83ac-1b2195afdaf5.png)

[2020-10-07 14:06] #362 closed, assigned to nobody

[2020-10-07 16:02] Myddleware commented on #363
I will try to reproduce your issue. I 'll come back to you very soon, probably tomorrow.

[2020-10-08 09:30] Myddleware commented on #363
Hi,
I can't reproduce your problem. Could you try to login into Moodle with the user linked to your token (used in Myddleware). Then could you try to modify the user ypattest directly in Moodle. You will see if you have a missing permission.
Please keep me updated.

[2020-10-08 11:11] himanshunandan commented on #360
Thanks for your help. I have moved to erpnext and trying myddleware there.

[2020-10-08 11:11] #360 closed, assigned to nobody

[2020-10-09 12:29] himanshunandan opened #365 "Myddleware login disabled"
Hi Admin,

I have installed Myddleware on ubuntu 18.04 using Nginx and php 7.4. After installation the "sign in" button is disabled.

I can see below nginx status. I have also attached browser screenshot. kindly help here.

root@localhost:/etc/nginx/sites-available# sudo systemctl status nginx
● nginx.service - A high performance web server and a reverse proxy server
   Loaded: loaded (/lib/system

[2020-10-09 12:31] himanshunandan commented on #365
To clarify again "Sign In" button is disabled and i cant click on it.

[2020-10-09 12:41] Myddleware commented on #365
Hi @himanshunandan ,
It seems that you have no writting permission on the cache and log directories in var directory. Could you change the permission and try again.
Please keep me posted.

[2020-10-09 15:53] himanshunandan commented on #365
Hi,
I removed the previous installation and now trying via command line. I am facing below issue while running create database command:

php bin/console doctrine:schema:update -f -e prod

root@localhost:/var/www/html/myddleware#  php bin/console doctrine:schema:update -f -e prod
PHP Warning:  PHP Startup: Unable to load dynamic library 'pdo_mysql.so' (tried: /usr/lib/php/20190902/pdo_mysql.so (/us

[2020-10-10 08:39] himanshunandan commented on #361
Hi Admin,
I tried creating the integration between Moodle and ERPNext.
I am facing below error while testing .

 "There is no data in the source server or fields in the target solution"
also
Reading Issue: Error : Error accessexception : Access control exception /var/www/html/myddleware/src/Myddleware/RegleBundle/Solutions/moodle.php Line : ( 232 )
![Untitled3](https://user-images.githubuserconten

[2020-10-10 08:39] himanshunandan commented on #361
I have not mapped all the fields in form. hope its ok. Also I have imported myddlware user ti my moodle site and gave all the permissions.

[2020-10-10 09:07] #365 closed, assigned to nobody

[2020-10-11 13:31] himanshunandan commented on #361
Kindly suggest here. I am completely stuck.

[2020-10-11 16:11] himanshunandan commented on #361
This is solved

[2020-10-11 16:11] #361 closed, assigned to nobody

[2020-10-11 16:49] himanshunandan opened #366 "Can't find data in ERPnext"
Dear Admin,

I have successfully created connection between Moodle and ERPNext.
Now when I am tying to transfer the data (users) from Moodle to ERPNext no data transfer is happening. I cant see it in ERPNext.
I have around 10 users in Moodle. But 0 records gets populated.
Kindly help here. I have attached the screenshot.
![Untitled 4png](https://user-images.githubusercontent.com/64355057/95684502-

[2020-10-12 13:58] Myddleware commented on #361
Hi @himanshunandan,
Thanks for telling us this is solved but could you explain in just a few words what the problem was ?
Thanks in advance.

[2020-10-12 14:01] Myddleware commented on #366
Hi @himanshunandan ,
Could you try what I have suggested here : https://github.com/Myddleware/myddleware/issues/329#issuecomment-665925600
Thanks.

[2020-10-12 15:14] himanshunandan commented on #366
Dear Admin,

I tried and now I can see attached error. Kindly suggest.
![Untitled1](https://user-images.githubusercontent.com/64355057/95762700-b3d66a00-0ccb-11eb-94d0-a863bd2289aa.png)

[2020-10-12 15:16] Myddleware commented on #366
Hi @himanshunandan
COuld you open this data transfer and show us what is in the log and the content of the data transfer ? Thanks.

[2020-10-12 16:08] himanshunandan commented on #366
Dear Admin,
I have attached the screenshot.
![Untitled3](https://user-images.githubusercontent.com/64355057/95767958-36aef300-0cd3-11eb-9c83-0be20c125394.png)
![Untitled2](https://user-images.githubusercontent.com/64355057/95767967-3878b680-0cd3-11eb-9995-3b7c36c788c6.png)

Regards
Himanshu

[2020-10-12 16:10] Myddleware commented on #366
Please, open your data transfer, the one in you first screenshot (error_sending) and send us secreenshots with the content of this data transfert.
Thanks.

[2020-10-12 16:23] himanshunandan commented on #366
Dear Admin,

I have attached all the screenshots.
![Untitled7](https://user-images.githubusercontent.com/64355057/95769336-5b0bcf00-0cd5-11eb-8301-188d8de3a208.png)
![Untitled6](https://user-images.githubusercontent.com/64355057/95769342-5cd59280-0cd5-11eb-91d5-bc6f784090a9.png)
![Untitled5](https://user-images.githubusercontent.com/64355057/95769347-5d6e2900-0cd5-11eb-8693-538cc09ba82c.jpg)

Rega

[2020-10-12 16:34] Myddleware commented on #366
In your first sscreenshot, the end of the log is missing, could you copy the whole log in a post please ? Thanks.

[2020-10-12 16:42] himanshunandan commented on #366
Dear Admin,

I have added the log in word file.

Regards
Himanshu
[error.docx](https://github.com/Myddleware/myddleware/files/5366362/error.docx)

[2020-10-13 11:07] sikho88 opened #367 "Moodle to Vtiger Parameter error"
Dear Admin

I'm having an issue simulating transfers from Moodle (source) to Vtiger (target).

Error: Reading Issue: Error : Error invalidresponse : Invalid response value detected /home/xxxxxxxxx/public_html/myddleware/src/Myddleware/RegleBundle/Solutions/moodle.php Line : ( 232 )

However when simulating transfers for another rules that is setup, Vtiger (source) to Moodle (target), I do not get

[2020-10-13 11:46] Myddleware commented on #367
Hi @sikho88 ,
I guess your error happens when you simulate the rule "From Vtiger to Moodle". Unfortunately the error returned by Moodle hasn't much detail. So could you try to create the user manually in Moodle with the same data than you have in your data transfer. Moodle should give you an error with more detail, for example, the password is too short, or username has space, a user is alreday ex

[2020-10-13 12:02] Yuvarajsfcloud commented on #363
I was able to successfully do that on the Moodle UI. No idea why it is failing on the Myddleware

Should there be any problem with token used in Myddleware side which doesn't have necessary permission. I validated everything from side and all looks good.

I would really appreciate if you could get back to me ASAP.

Thanks in Advance

[2020-10-13 13:11] Myddleware commented on #363
We always answer as soon as possible on the forum. However I hope you understand that the support for our client comes first.

You can try to add the "system" role to the Moodle user linked to the token. You will see if it is a permission problem.

[2020-10-13 13:13] Myddleware commented on #366
I can see in your log taht you have a problem with email. Could you remove all email from the mapping and see if Myddleware can send the data to ERPNext.
Thanks.

[2020-10-13 13:27] sikho88 commented on #367
Hi @Myddleware

Thank you for you assistance, we are now able to send user data from Moodle (source) to Vtiger (target). However we are trying to create a user from Vtiger (source) to Moodle (target) and we receive the following errors:

**1. Doc ID: 5f85a2d14406b0.51846230**
Error message: invalidparameter : Invalid parameter value detectedFailed to send document. Status : Error_sending

![1 VTM2

[2020-10-13 13:56] himanshunandan commented on #366
Dear Admin,
[error2.docx](https://github.com/Myddleware/myddleware/files/5371792/error2.docx)

I removed and tried. Now I can see attached error.

Regards
Himanshu

[2020-10-13 16:31] himanshunandan commented on #366
Sir,

I got resolved. Thanks.

Himanshu

[2020-10-13 18:02] Myddleware commented on #366
Thanks for your feedback.

[2020-10-13 18:02] #366 closed, assigned to nobody

[2020-10-14 05:21] Yuvarajsfcloud commented on #363
There is no such role called “system” role in our application.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Myddleware<mailto:notifications@github.com>
Sent: 13 October 2020 18:42
To: Myddleware/myddleware<mailto:myddleware@noreply.github.com>
Cc: Yuvarajsfcloud<mailto:yuvarajp23@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Myddlew

[2020-10-14 06:38] Myddleware commented on #363
This screenshot should help you :
![image](https://user-images.githubusercontent.com/11330301/95952524-93f09480-0df8-11eb-87c1-6fc514581149.png)

[2020-10-14 06:51] himanshunandan opened #368 "Courses not transferring between Moodle and ERPNext"
Dear Admin,

My courses are not flowing and I am getting constant error. Screenshot is attached.
Kindly help here.

User data is flowing correctly.

Regards
Himanshu
[course.docx](https://github.com/Myddleware/myddleware/files/5376155/course.docx)

[2020-10-14 06:53] himanshunandan opened #369 "Not able to delete a rule"
Dear Admin,

i am trying to delete a rule and Myddleware is not allowing me. All transfers are cancelled or send. I have attached the screenshots.
Kindly help here.

Regards
Himanshu
[delete error.docx](https://github.com/Myddleware/myddleware/files/5376185/delete.error.docx)

[2020-10-14 07:15] Myddleware commented on #367
Perfect about the rule from Moodle to Vtiger.
About the rule from Vtiger to Moodle, did you try what I have said in my previous message : create the user manually in Moodle with the same data than you have in your data transfer. Moodle should give you an error with more detail. For example, the password is too short, or username has space, a user is alreday existing with the same email address...

[2020-10-14 07:20] Myddleware commented on #369
If you want to delete a rule, you have to delete all data transfer in this rule first.
To remove all data transfer belonging to a rule, you can run this command in your command prompt :
php bin/console myddleware:massaction remove rule <your rule id> Y --env=background

Here you can find more info about this function (the doc show how to launch this function with CURL but you can run it via the co

[2020-10-14 07:24] Myddleware commented on #368
Hi @himanshunandan ,
The error seems to say that the record you have to send to ERPNext should have a parent record linked. Maybe you have to add a relationship in your rule.
To have more info, you could try to create the record manually in ERPNExt with the data you try to send with Myddleware. Maybe ERPNext UI will give you more detail about the error.
Hope it helps.

[2020-10-14 08:28] himanshunandan commented on #369
I tried but below error I received in console
root@localhost:/var/www/html/myddleware# php bin/console myddleware:massaction remove rule Y --env=background
5f86b67746be51.71222374
No document found corresponding to the input parameters. No action done in the job massAction.
root@localhost:/var/www/html/myddleware#

[2020-10-14 09:14] Myddleware commented on #369
Sorry, I forgot the rule_id. Please add you rule id in the command :
`php bin/console myddleware:massaction remove rule <your rule id> Y --env=background`

[2020-10-14 09:44] himanshunandan commented on #369
thanks much for your help. It's perfect.

Regards
Himanshu

[2020-10-14 09:52] #369 closed, assigned to nobody

[2020-10-14 09:52] Myddleware commented on #369
Thanks for you feedback.

[2020-10-14 09:58] FunkyCss commented on #355
Hi and i am so sorry for the latency, I was trying to figure what can it be wrong , as it looks that all is ok from our end , also the roles you have mention before are installed.

Can i ask you two quick questions ?

1. The roles must be assigned to the user that we will take the data from , or the admin that will be created the token for the web service.

2. We must create a token with Moodle We

[2020-10-14 10:36] himanshunandan commented on #368
I tried many times creating a relation.The assessment criteria is not working for me. getting below error:. I have attached screenshot of my rule also. Can you please help here?
[error3.docx](https://github.com/Myddleware/myddleware/files/5377499/error3.docx)

Traceback (most recent call last): File "/home/erpuser/frappe-bench/apps/frappe/frappe/app.py", line 64, in application response = frappe.a

[2020-10-15 00:16] pickettd commented on #220
Hi @Myddleware

I'm interested in trying to add at least one specific custom profile field for my Moodle (both as a source and a target). My understanding from looking at the code here (src/Myddleware/RegleBundle/Solutions/moodle.php) is that I'm supposed to be able to put the new custom logic in a file called src/Myddleware/RegleBundle/Custom/Solutions/moodle.php but I'm having trouble getting an

[2020-10-15 06:45] himanshunandan commented on #368
even if I remove all other fields I see below error. Kindly help here.

Id | Reference | Job | Creation date | Type | Message
-- | -- | -- | -- | -- | --
477 |   | 5f87eb0a33d6b5.48796208 | 15/10/2020 06:24:10 | E | Traceback (most recent call last): File "/home/erpuser/frappe-bench/apps/frappe/frappe/app.py", line 64, in application response = frappe.api.handle() File "/home/erpuser/frappe-bench/

[2020-10-15 15:32] Myddleware commented on #355
Hi @FunkyCss ,
1. The role must be assigned to the user linked to your token
![image](https://user-images.githubusercontent.com/11330301/96151872-32b9e580-0f0c-11eb-87c5-e330efa5ce07.png)

2. You have to create a token. No token is created during Myddleware plugin installation in Moodle.

Hope it heps.

[2020-10-15 15:49] Myddleware commented on #355
To help you, we have updated our Moodle tutorial to show how to assigned a role to a user in Moodle (you will find Moodle in the "other" section) : https://myddleware.github.io/myddleware/#/connectors_credentials

[2020-10-15 15:57] Myddleware commented on #368
Hi @himanshunandan,
Please try first to create the record manually in ERPNext. Use the same data than in your rule. ERPNext should return an error too. Then try to add other field manually in ERPNExt until the save action works.
When you successfully create the record manually in ERPNext, do the same in your Myddleware rule, it should work. Myddleware use the same function than ERPNext UI.

[2020-10-15 20:13] Myddleware commented on #220
Hi David,
Could you try this :
[code]

[2020-10-15 20:16] Myddleware commented on #220
You can also redefine the file Solutions/lib/moodle/metadata.php by creating your custim file in Custom/Solutions/lib/moodle/metadata.php'

[2020-10-16 07:15] FunkyCss commented on #355
Hi and thank you so much for your email.

1. I have assigned the role to the admin and before , but should i use the
web service of myddleware? when i use this one the connection cant be done

[image: image.png]

2. The connection will work only if i use Moodle mobile web service to the
admin

3. I need to assign the role only to the admin or i should do this to
everyone ( students in moodle) that

[2020-10-16 17:38] Myddleware commented on #355
Hi @FunkyCss ,

You need to assign the role only to the user linked to your token. Please, don't assign it to the student, they will have too many permissions.

You should have created an external service :
![image](https://user-images.githubusercontent.com/11330301/96290448-e42d4980-0fe6-11eb-862e-f45b85048b59.png)

Then you should have a token linked to this service and to your user :
![image](h

[2020-10-16 20:49] FunkyCss commented on #355
Hi, I think this will help , but the only issue here is what functions
should i add to the new " external web service" ? There they go the
functions i need to use for the fields?

[image: image.png]

Στις Παρ, 16 Οκτ 2020 στις 8:38 μ.μ., ο/η Myddleware <
notifications@github.com> έγραψε:

--
Με εκτίμηση  *Ανδρέας Μούτσης*
*I create fast wordpress websites and i help business to grow , sometimes i

[2020-10-17 13:45] himanshunandan commented on #368
Thanks for your help. I was able to send the records now.
All set !!

[2020-10-17 13:45] #368 closed, assigned to nobody

[2020-10-17 19:52] Myddleware commented on #355
Hi @FunkyCss ,
You can find this information here : https://myddleware.github.io/myddleware/#/connectors_credentials?id=moodle
![image](https://user-images.githubusercontent.com/11330301/96352377-ee247a80-10c2-11eb-8b70-4298af1c283f.png)

In the blue box are the standard functions. In the red box are the custom functions used by Myddleware to read data from Moodle. The custom functions have a name

[2020-10-17 19:54] Myddleware commented on #368
Thank for your feedback.
Enjoy Myddleware !

[2020-10-22 13:19] ogrdiota opened #372 "erreur entitymanager"
Failed to create documents : The EntityManager is closed. /var/www/myddleware/vendor/doctrine/orm/lib/Doctrine/ORM/ORMException.php Line : ( 144 )

[2020-10-23 10:46] z3n4j opened #374 "Upgrade to Release 2.5.5b"
Hi. I upgrade myddleware but i get this error:

Error : The process "php composer.phar install --no-plugins" exceeded the timeout of 60 seconds. /var/www/html/vendor/symfony/symfony/src/Symfony/Component/Process/Process.php Line : ( 1330 )

[2020-10-23 11:13] Myddleware commented on #374
Hi @z3n4j ,
Depending on the upgrade, the composer install command can take few minutes.
You have to change the variable max_execution_time in your php.ini file.
Have a nice day

[2020-10-23 11:15] Myddleware commented on #372
Hi @ogrdiota ,
Could you show me which command or which button you use to get this error ?
Thanks.

[2020-10-23 14:38] z3n4j commented on #374
Hi. I changed the variable max_execution_time.

I run the command:
php bin/console myddleware:upgrade --env=background

But i get this error:

PHP Fatal error:  Uncaught Error: Class 'Doctrine\Common\Annotations\AnnotationRegistry' not found in /var/www/html/app/autoload.php:8
Stack trace:
#0 /var/www/html/bin/console(13): require()
#1 {main}
  thrown in /var/www/html/app/autoload.php on line 8

[2020-10-23 14:59] Myddleware commented on #374
What's your php version ? (you can run php -v)

Could you also follow the tutorial to upgrade Myddleware manually : https://myddleware.github.io/myddleware/#/admin_tasks?id=upgrading-myddleware
Please start with the command `git pull`

[2020-10-23 15:15] z3n4j commented on #374
PHP 7.2.28 (cli) (built: Feb 18 2020 11:07:04) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.28, Copyright (c) 1999-2018, by Zend Technologies

[2020-10-23 15:25] z3n4j commented on #374
Hi. I upgraded manually and it work. Thank you.

[2020-10-23 15:27] Myddleware commented on #374
Good news, thanks for your feedback.

[2020-10-23 15:35] #374 closed, assigned to nobody

[2020-10-26 10:31] z3n4j commented on #335
Hi. I go to task and stop manually the task. Then i delete all the pending transfer. After that i run the rule and it complete correctly.
But next time job sceduler start, i have the same problem.

[2020-10-26 22:04] Myddleware commented on #335
Hi @z3n4j,
OK there is maybe a problem when the synchro job runs.
Could you try to run this job directly in your command prompt from Myddleware root directory :
`php bin/console myddleware:synchro ALL --env=background
`
Maybe you will receive an error and see what's going on.

[2020-10-27 05:34] z3n4j commented on #335
PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to all                                            ocate 32768 bytes) in /var/www/html/vendor/symfony/symfony/src/Symfony/Component                                            /Debug/Exception/OutOfMemoryException.php on line 1

[2020-10-27 10:50] Myddleware commented on #335
Great, so you have your answer. You have to increase your memory limit in your php.ini file.

[2020-10-28 20:11] sikho88 commented on #367
Hi

I initially did try what you said but I now note that my problem related to the password field; I used the incorrect format. I noticed this solution by reading this post: https://moodle.org/mod/forum/discuss.php?d=365598.

I note that custom fields on moodle can't be mapped to Vtiger, do you have any plan to add this feature in the near term?

Thank you again for the assistance.

[2020-10-28 21:07] Myddleware commented on #367
Hi @sikho88 ,
Thanks for your feedback about the password.

About the custom fields, it is possible to enhance Myddleware as Moodle API allows us to manage custom fields (function core_user_create_users for example).

If you want to develop it by yourself, we can guide you. In this case you can open a new topic on this forum.

If you want us to enhance Myddleware, you can contact use directly via

[2020-10-29 15:13] yuridebuggers opened #375 "Connector SqlServer: 500 Internal Server Error"
Hi,

I'm trying to add the Sql Server connector but after entering the parameters and doing the test, i received this error:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please check your log file here : \myddleware\var\logs\prod.log

Prod.log:

request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call

[2020-10-29 20:33] Myddleware commented on #375
Hi @yuridebuggers ,
Could you tell me what is your php version ?
Thanks.

[2020-10-29 20:56] yuridebuggers commented on #375
Of course, my php version is 7.4

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Myddleware <notifications@github.com>
Sent: Thursday, October 29, 2020 9:33:21 PM
To: Myddleware/myddleware <myddleware@noreply.github.com>
Cc: Yuri Chirico <yuri@debuggers.it>; Mention <mention@noreply.github.com>
Subject: Re: [Myddleware/myddleware] Connector SqlServer: 50

[2020-10-29 22:09] Myddleware commented on #375
Sorry but Myddleware is only compatible php 7.2 and 7.3.

I agree that we have a bug on the php check version, it is done on php version > 7.2. That's a mistake.

The next main version will be compatible with php 7.4, we will also upgrade Symfony to version 4.4.

However, for now, could you try to use Myddleware with a php version 7.2 or 7.3. Thanks.

[2020-10-30 07:21] yuridebuggers commented on #375
I downgrade PHP to 7.2 but i have the same error.

![capture](https://user-images.githubusercontent.com/63705572/97671611-dec10c00-1a88-11eb-9a3b-e3617b925806.PNG)

[2020-10-30 07:16:36] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call to a member function getId() on string" at C:\@Condivisa\ApacheWeb\default\src\Myddleware\RegleBundle\Controlle

[2020-10-30 09:35] simonetravaglini opened #376 "Number of record processed it's not coherent"
Hi guys
look here:
![Clipboard - 30 ottobre 2020 09_18](https://user-images.githubusercontent.com/6990139/97689125-6dd71f80-1a9b-11eb-8577-b84d85a031d1.png)
Then rules is run, but:
![Clipboard - 30 ottobre 2020 10_24](https://user-images.githubusercontent.com/6990139/97689156-792a4b00-1a9b-11eb-87e1-411e8ede76a5.png)

In rule there is a filter, so it's normal that record are skipped, but total rec

[2020-10-30 09:35] #354 closed, assigned to nobody

[2020-10-30 09:36] #347 closed, assigned to nobody

[2020-10-30 14:31] yuridebuggers commented on #375
OK, now it works correctly .

[2020-10-30 14:31] #375 closed, assigned to nobody

[2020-10-30 14:34] yuridebuggers opened #377 "Failed to get the task id"
i try my first test, it's to run a sync between a MSSQL View and an MSSQL table (tow distinct database)

The connections are working fine, successfully created the rules but getting this message when I try to run it:

"Failed to get the task id".

[2020-10-30 21:03] Myddleware commented on #375
Thanks for your feedback.
Have a nice day.

[2020-10-30 22:02] Myddleware commented on #377
OK this is maybe a cache problem with Myddleware UI.
Could you try to run your rule with a command prompt by running this command :
`php bin/console myddleware:synchro <your rule id> --env=background`
Does it work properly ?

[2020-10-30 22:16] Myddleware commented on #376
Hi @simonetravaglini ,
Yes, the numbers sould be the same i both screenshot.
Could you tell me what is the source application connected to this rule (for example MySQL ) ?

It could happen if the id selected in your rule isn't unique. In this case Myddleware will merge the records because the record ID is the key of the result array of the read function.

[2020-11-02 08:06] simonetravaglini commented on #376
Hi @Myddleware ,
I confirm that we are working on MSSQL And ID selcted is unique.
Any ideas what we can check?

[2020-11-02 08:18] Myddleware commented on #376
Hi @simonetravaglini ,
I guess that you have 20 735 records (not 5 715 : 5456 + 259) in your database, isn't it ?
We need to reproduce this issue. Is there a way that you send me privately a dump of your table ? You could remove sensible data, I just need the ID field and the reference field.
Thanks.

[2020-11-03 20:15] pickettd commented on #220
Thank you @Myddleware and sorry for the slow reply. This advice did work for me! In case it is helpful for anyone else coming to this issue, you are welcome to see my custom files here:

- [My custom Moodle.php file](https://github.com/pickettd/myddleware/blob/master/src/Myddleware/RegleBundle/Custom/Solutions/moodle.php)
- [My custom Moodle metadata.php file](https://github.com/pickettd/myddlewar

[2020-11-06 13:42] #376 closed, assigned to nobody

[2020-11-06 13:52] simonetravaglini opened #378 "How to manage transcoding table"
Hi suppose this situation.
I'm in CRM and i need to write in a sql table 2 entity: contact and organization.
The way I found is:
1 - I write sql table with organization -> OK
2 - I write sql table with contact, and i map account_id field of CRM to correspondant field of organization -> OK
This works.
But suppose that in contact sql table I want to write not the CRM ID of organization (account_id),

[2020-11-06 16:29] pohodak235 opened #379 "Problem with installation"
I have problem with installation Myddleware. After clicking on Submit in the first step, an error will be displayed:

**[ERROR]
Failed: The command "php /data/2/f/2fb0803f-65c8-4783-926d-9645e5534cad/automatickekavovary.sk/web/app/../bin//console cache:clear --env=prod" failed. Exit Code: 127(Command not found) Working directory: /data/2/f/2fb0803f-65c8-4783-926d-9645e5534cad/automatickekavovary.s

[2020-11-06 18:31] Myddleware commented on #378
Hi @simonetravaglini ,
I guess your are sending account (form Vtiger for example) to the account table in the first rule.
The you send your contacts to your contact table in the second rule.
I see 2 solutions :
 - Create a custom code in Myddleware to add account data in your first rule (contact) with a specific webservice call.
 - Or create a SQL trigger to fill these fields each time the contact

[2020-11-06 20:39] Myddleware commented on #379
Hi  @pohodak235 ,
I guess you have a specific command to run php on your server. It could be php72 or something else.
If you want to change it, you can modify the file <myddleware>\app\config\public\parameters_public.yml
![image](https://user-images.githubusercontent.com/11330301/98412559-71107380-2078-11eb-831d-a639007afeee.png)

Then clear the cache and the installation should work.
Please keep

[2020-11-09 10:51] simonetravaglini commented on #378
Hi it fit with our idea, so we will update vtiger plugin to manage also parent record fields.
Thanks for answer!

[2020-11-09 10:51] #378 closed, assigned to nobody

[2020-11-09 17:54] Myddleware commented on #220
That's great. Thank you for your feedback and the code you shared.
Well done !

[2020-11-09 17:54] #220 closed, assigned to nobody

[2020-11-11 13:39] yuridebuggers commented on #377
if i try to run my rule with a command prompt, it work correctly. but if i use the web console my rules not worked. why ?

[2020-11-11 17:57] Myddleware opened #380 "Add a input in simutaion view to read a specific record"
The goal of this topic is to allow users to select a specific record for their rule simulation.

We have to add an input field here :
![image](https://user-images.githubusercontent.com/11330301/98846074-e1d7d700-244e-11eb-90fa-e453675a315c.png)

The call to the function read_last in the file \src\Myddleware\RegleBundle\Controller\DefaultController.php line 1167 has to be enhanced with the entry qu

[2020-11-12 09:15] stlgaits commented on #377
Hi,

This could potentially be an issue with permissions on your cache folder :

Could you please check that Myddleware is allowed to write in this directory ?

When you run a rule using the web app, Myddleware will try to create a temporary .txt file here :

Does your folder contain any of those .txt files ? And if so, do the .txt include a task ID ?

Let me know if that works.

[2020-11-24 17:17] RosleStores commented on #379
Hello, I got the same problem with while installing the program.
This is the error I get:
[ERROR]
Failed: The command "php /var/www/vhosts/boboutik.com/sync.boboutik.com/app/../bin//console cache:clear --env=prod" failed. Exit Code: 127(Command not found) Working directory: /var/www/vhosts/boboutik.com/sync.boboutik.com/web Output: ================ Error Output: ================ sh: php: command n

[2020-11-24 17:20] RosleStores opened #383 "Problem with the installation"
Hello, I'm unable to install mydlleware. I got the same error, I try to change the executable from PHP to php7 but nothing happens. Please help. I use Plesk.
This is the error message:
[ERROR]
Failed: The command "php /var/www/vhosts/boboutik.com/sync.boboutik.com/app/../bin//console cache:clear --env=prod" failed. Exit Code: 127(Command not found) Working directory: /var/www/vhosts/boboutik.com/s

[2020-11-24 17:22] Myddleware commented on #383
Hi @RosleStores ,
Could you just try the command : php -v
It will tell you if php command is installed on your serveur and if yes, it will give you your php version
Please, keep us posted.

[2020-11-24 17:23] Myddleware commented on #379
Hi @RosleStores ,
Could you just try the command : php -v
It will tell you if php command is installed on your serveur and if yes, it will give you your php version
Please, keep us posted.

[2020-11-24 17:38] RosleStores commented on #383
The PHP version is PHP7.4.12
I change the yml file at this link: boboutik.com / .../ app / config / public / parameters_public.yml
This is the parameter :
# This file is auto-generated during the composer install
parameters:
    php:
        executable: php7412
    locale: en
    pager: 20
    migration:
        mode: 0
    notification:
        alert_time_limit: 60
    transfer:
        search_li

[2020-11-25 08:33] stlgaits commented on #383
Hi,

could you try removing the numbers after php, like in the following example  :

# This file is auto-generated during the composer install
parameters:
    php:
        executable: php

Please let me know if this works or not.

________________________________
De : Guy Roland Kalou Djollo <notifications@github.com>
Envoyé : mardi 24 novembre 2020 18:39:03
À : Myddleware/myddleware
Cc : Subscrib

[2020-11-25 08:34] stlgaits commented on #383
Oh sorry I just realised it was like that originally, let me look into it further and I will get back to you.

________________________________
De : Estelle Gaits
Envoyé : mercredi 25 novembre 2020 09:33:31
À : Myddleware/myddleware; Myddleware/myddleware
Cc : Subscribed
Objet : RE: [Myddleware/myddleware] Problem with the installation (#383)

Hi,

could you try removing the numbers after php, lik

[2020-12-04 15:24] simonetravaglini opened #386 "different beahvior if scheduled"
Hi we have created a rules with this:
![Clipboard - 4 dicembre 2020 16_03](https://user-images.githubusercontent.com/6990139/101181460-3127b680-364d-11eb-8289-05df77db7751.png)

if we run manually we dont' get error
when rule is run from scheduler we get this error:
![Clipboard - 4 dicembre 2020 16_03-2](https://user-images.githubusercontent.com/6990139/101181369-17866f00-364d-11eb-80f4-1ae4be8452

[2020-12-04 15:38] Myddleware commented on #386
Hi Simone,
Could you change {RagioneSocialeEstensione}=== NULL by {RagioneSocialeEstensione}== ""
Please, let me know if it works. Thanks.

[2020-12-07 18:54] Samirius opened #389 "regarding prestashop to erpnext"
tried to create a rule between PrestaShop to Erpnext or vise versa but I can find no option to select in modules selection of PrestaShop side

https://prnt.sc/vx0rfi

can you please help me?

[2020-12-08 08:50] stlgaits commented on #389
Hello,

I think you may not be properly logged in to Prestashop, either that or your token doesn't have sufficient authorizations. Could you check that you have granted the permissions you need on your token like in the example below ? You do not need to check all the modules in there, just the ones you need to access :
![permissions](https://user-images.githubusercontent.com/74190794/101460247-a2

[2020-12-08 09:44] Samirius commented on #389
thanks for the tips, after removing the old API and making a new connection, I have found the connection successful and could create a rule (I mean to have the ability to create one)

but now I have no idea what to choose and how to create the rule regarding the orders sync or quantities (stock management)

as the whole idea is creating a sync between woocommerce stock and prestashop stock, updati

[2020-12-08 10:27] stlgaits commented on #389
Good news !

I just a have few questions to understand your situation better and try to sort this out for you :

- Are your products already on ERPNext or are they going to be created by Prestashop via Myddleware?

- What module do you use for your  products in ERPNext ?

Based on what you wrote, so far I would recommend the following :

- creating a rule from Prestashop to ERPNext in which you se

[2020-12-08 21:09] Samirius commented on #389
Thanks :)

Are your products already on ERPNext or are they going to be created by Prestashop via Myddleware?
no, not yet.

What module do you use for your products in ERPNext ?
i don't, but it is connected to my woocommerce test site with their official module/plugin (using hooks it is not a 3rd party one)

about creating rules, I don't know which to choose precisely to do what you have mentioned

[2020-12-09 07:33] simonetravaglini commented on #386
yes now it works thanks!

[2020-12-09 07:33] #386 closed, assigned to nobody

[2020-12-09 12:53] Myddleware commented on #389
Hi @Samirius ,
I think you will need at least 6 rules to connect Prestashop and ERPNext :
 - Sending Customers (The e-shop customers) from Prestashop to ERPNext
 - Optionaly : Sending Customers addresses (The Customer, Brand and Customer addresses) from Prestashop to ERPNext
 - Sending Orders (The Customers orders) from Prestashop to ERPNext
 - Sending Order lines (Details of an order) from Presta

[2020-12-22 05:54] dnyt84 opened #392 "login not working"
Hello,

i did a brand new install and the login is not working.
I get no error just a new login prompt.

When I intentionally use a wrong password I do get a MSG ( Bad credentials)
I use PHP-FPM 7.4.11 with Apache.
I uploaded the latest version available from Github, 2.5.5

How can I troubleshoot this?

Thank you,

Daniel

[2020-12-22 08:55] stlgaits commented on #392
Hello,
I think this could be due to your version of PHP being too high. Could you try downgrading to a PHP 7.3.x version ?
Let me know if this changed anything for you.

[2020-12-24 17:50] dnyt84 commented on #392
Its strange, when i open a incognito window I get it to work sometimes.
I will try a lower PHP version.

[2020-12-28 14:19] Valdderson opened #393 "Sending information from different connectors"
Good afternoon, I'd like to use your tool but I have question:

I'm looking to bring information from the Moodle tool, to Hubspot tool. I noticed that sending data is divided by conectors and that each conector has specific field that can be sent.
First question: Can I only send information from one connector at a time or can I send the connector field "x" with the connector field "y"in the same r

[2020-12-31 11:47] Myddleware commented on #393
Hi @Valdderson
Could you have a look to this tutorial : https://myddleware.github.io/myddleware/#/basic_usage? This is a example between Prestashop and SuiteCRM but it will help you to understand how use Myddleware.

You will see that you can create a lot of rules with the same connectors. And if you use the same connectors to send contacts and deals for example, you will be able to link your diff

[2021-01-05 12:00] laukokpin opened #394 "Cannot find DB during installation. Despite the DB Connection details being correct"
Attached is the screenshot.

Debian 7. Php 7.3
bitnami Moodle image.

![image](https://user-images.githubusercontent.com/26833900/103644250-06ed4f80-4f91-11eb-8c14-201dd62fc625.png)

[2021-01-05 12:05] Myddleware commented on #394
Hi @laukokpin ,
Hope you are well today.
I assume you have a problem with your database. Have you created the database myddleware on your server ? If yes, is your database stored on the same server than the one that host your Myddleware files (as you set localhost) ?
Have a nice day.

[2021-01-05 12:11] laukokpin commented on #394
Yes Localhost.

Yes I have created a database and granted the privileges as well as set the password.

Thank You.

[2021-01-05 20:37] Myddleware commented on #394
Ok thanks.
Could you try to install Myddleware using the terminal : https://myddleware.github.io/myddleware/#/?id=install-myddleware

Please let us know if it works. Otherwise, could you show us the error with a screenshot please ?

[2021-01-08 10:08] laukokpin opened #395 "Moodle Connectors: Role Permission for core_webservice_get_site_info"
I can't find this capability to add to the role. So hence I get the error bellow.

{
    "exception": "webservice_access_exception",
    "errorcode": "accessexception",
    "message": "Access control exception",
    "debuginfo": "Access to the function core_webservice_get_site_info() is not allowed.\n                     There could be multiple reasons for this:\n                     1. The servic

[2021-01-08 10:11] Myddleware commented on #395
Hi @laukokpin ,

Could you check if you have completed all the steps in this tutorial : https://myddleware.github.io/myddleware/#/connectors_credentials?id=moodle

Hope it will help.
Have a nice day.

[2021-01-08 10:13] laukokpin commented on #395
I did go through the steps.

Can you tell me how to add this specific capability.   core_webservice_get_site_info

[2021-01-08 10:27] laukokpin commented on #395
Nvm. I realize I was looking at roles and permissions. Instead of Web service Functions. It works now. Thank you.

[2021-01-08 10:29] Myddleware commented on #395
That's perfect.
Thanks for your feedback.

[2021-01-08 10:29] #395 closed, assigned to nobody

[2021-01-08 16:15] simonetravaglini opened #396 "Mautic 3 compatibility"
Hi guys,
seems that connector in this moment it's not working with mautic 3.0, isn't it?

[2021-01-08 16:20] Myddleware commented on #396
Hi @simonetravaglini ,
You are right, we will work on it to make Myddleware compatible with Mautic3.
We will keep you posted.

[2021-01-12 16:35] francescobianco opened #398 "How synchronize from source table without a proper `date_ref` field?"
## Description

In this discussion  https://github.com/Myddleware/myddleware/issues/293  the proposed solution has a drawback

The idea is override the `date_def` value at every sync loop, in this way all record in the source are ever NEW (good move!)

[code]

The override line replace `date_ref` on the follow

![Workspace 1_023](https://user-images.githubusercontent.com/472171/104340258-c9407780-

[2021-01-12 16:52] francescobianco opened #399 "Missing rule_id in $params during Simulation"
When I click on "Simulate Transfer" many rule get '0' because no `rule_id` in `$param['rule']['id']`

than Custom solution with code like this

[code]

replay with `0` record

we suggest to introduce something like this

- https://github.com/opencrmitalia-official/myddleware/blob/b425509eec72328f9f6cac0ad65b6407bd2ee964/devops/oldfiles/custom.php#L31
- https://github.com/opencrmitalia-official/myd

[2021-01-12 17:00] francescobianco opened #400 "Advice on not-consistent records slot on "Simulate Transfer""
We must found useful try a "Simulater Transfer" to configure the right limit number,
than I'm expect the same behaviour provided here

https://github.com/Myddleware/myddleware/blob/3ad3a8b5be7b97d3634b11342d8a7cb8da64ad38/src/Myddleware/RegleBundle/Classes/rule.php#L507

If the simulation is inconsistent for date_ref

[2021-01-12 20:54] Myddleware commented on #400
Hi @francescobianco ,
We are developing a new feature which should resolve this problem. In the next main Myddleware version, you will be able to set an id to read a specific record in the "simulator transfer" tab.
We will keep you updated.

[2021-01-12 21:07] Myddleware commented on #398
Hi @francescobianco ,
This custom code we have provided to you seems to generate several bugs. We thought your reference field type would always be a date.
When we developped Myddleware, we have named this field reference_date which is wrong because, now, Myddleware can work with a reference field that isn't a date.
In your case, I would advise to change the default value for this field depending

[2021-01-12 21:24] Myddleware commented on #399
Hi @francescobianco ,

Thanks for this suggestion, very interesting code, thanks.

The simulation process calls the function read_last') not read() . And this function doesn't need the rule id to work. It will just read one record in the source application :
https://github.com/Myddleware/myddleware/blob/3df255a3b7ef1b465febd57dad976245bc7532f4/src/Myddleware/RegleBundle/Solutions/microsoftsql.php#

[2021-01-13 12:50] laukokpin opened #401 "Error : 0 is not a correct Rule mode. /home/myddleware/public_html/src/Myddleware/RegleBundle/Solutions/erpnext.php 490"
I mapped ERPnext's user to Moodle's users
as well as Erpnext's student to Moodle's Users.

I keep getting this error. Any ideas how to resolve it? Thanks.

[2021-01-13 13:14] stlgaits commented on #401
Hello,

Thank you very much for this. It appears there is a slight bug in our code. We will fix this promptly on the hotfix branch, but meanwhile here is how you can solve this problem :
Open the file specified :  /home/myddleware/public_html/src/Myddleware/RegleBundle/Solutions/erpnext.php
Then go to line 485, it should look like this :
![image](https://user-images.githubusercontent.com/74190794/

[2021-01-13 14:22] laukokpin commented on #401
Hi,

 I have modified. And do not see their error anymore. Brilliant. And Thank
you.

 However I do not get any transfer whatsoever as per the screenshot bellow.

[image: image.png]

[2021-01-13 14:25] stlgaits commented on #401
You're welcome ! Could you send the screenshot again ? I can't see it right now unfortunately

[2021-01-13 14:33] laukokpin commented on #401
here it is. thanks

![image](https://user-images.githubusercontent.com/26833900/104465734-54039e00-55ef-11eb-89a1-0f36780fd426.png)

[2021-01-13 14:37] stlgaits commented on #401
Ok, thank you. Could double checked that you set (and saved) a reference date in the past in the rule parameters ?

If you don't manually enter a reference date to read from in Myddleware, then the reference date is automatically set to the creation date (so today at midnight) by default.

Here is a link with more detail about this just in case : https://myddleware.github.io/myddleware/#/basic_usa

[2021-01-13 15:47] simonetravaglini opened #402 "what does it mean "retrieving existing data only"?"
if I select this option what will happen? IT will update only data already present in target?

[2021-01-13 15:56] Myddleware commented on #402
Hi @simonetravaglini ,
Myddleware will just search the data in the target application and create a correspondance between the id of the source and the id of the target application. Myddleware will never create or update data for this rule. It can be use when you need a reference without changing target data for a specific data.

For example, you want to create contacts and link them to your accoun

[2021-01-13 16:35] #402 closed, assigned to nobody

[2021-01-14 04:21] laukokpin commented on #401
It worked.  Thank You.  But now I have error sending. I think it's due to moodle's required field such as password not being sent over.  But that should be for another thread. Thanks!

![image](https://user-images.githubusercontent.com/26833900/104544507-e4c79180-5662-11eb-8cc9-0758696b31e5.png)

[2021-01-14 07:47] stlgaits commented on #401
Happy to help !

[2021-01-14 09:48] laukokpin opened #403 "Wrong Timezone is used in Transfer and Task"
![image](https://user-images.githubusercontent.com/26833900/104574002-85807600-5690-11eb-8bd3-77292d5dad2d.png)
![image](https://user-images.githubusercontent.com/26833900/104574100-9e892700-5690-11eb-9157-c98248062770.png)

But in Rules the correct timezone is used.

![image](https://user-images.githubusercontent.com/26833900/104574164-b19bf700-5690-11eb-94b1-7500b3418004.png)

[2021-01-14 09:56] stlgaits commented on #403
Hi,
sorry about this, yes indeed the dates in data transfer are saved as UTC. This is something we need to improve so that the dates are in sync with the user's timezone.

[2021-01-15 20:58] Myddleware opened #406 "Test : send mail failed"
When we test the email configuration :
![image](https://user-images.githubusercontent.com/11330301/104777781-93132a00-577c-11eb-86eb-c8a3e1ba38a5.png)

We receive the error : Attempted to call an undefined method named "newInstance" of class "Swift_Message".

[2021-01-15 21:00] Myddleware opened #407 "Connector creation form not properly displayed"
When we create a connector, teh form isn't visible. Probably a css error :
![image](https://user-images.githubusercontent.com/11330301/104778043-0026bf80-577d-11eb-9e9b-ce03f664e5c6.png)

[2021-01-15 21:02] Myddleware opened #408 "Error when selecting a solution during rule creation"
When we selec the source and target application, we should be able to select the connector. But we receive an error :
![image](https://user-images.githubusercontent.com/11330301/104778205-49770f00-577d-11eb-8731-1ef697a7e3d3.png)

[2021-01-15 21:05] Myddleware commented on #407
We have the same problem in the data transfer search view :
![image](https://user-images.githubusercontent.com/11330301/104778525-c4d8c080-577d-11eb-8987-909fe2af3d80.png)

[2021-01-15 21:06] Myddleware opened #409 "Rename data transfer to document in the UI"
We have to rename data transfer to document in Myddleware UI

[2021-01-15 21:07] Myddleware opened #410 "Remove read_last function"
We should use now the function read instead of read last.

[2021-01-15 21:10] Myddleware opened #411 "SImplify the logic in the connector"
We have to simplify the logic in the connector classes. Some action should be done in the document or rule class level.
Here is a list :
- Date_reference calculation after read
- Merge module_field and relate_fields
- Document status update after create/update
- Add required field in teh read function
- Date format change

[2021-01-18 14:23] francescobianco commented on #398
Hi @simonetravaglini please follow this

[2021-01-18 14:23] francescobianco commented on #399
Hi @simonetravaglini please follow this

[2021-01-18 14:23] francescobianco commented on #400
Hi @simonetravaglini please follow this

[2021-01-22 11:05] rickyshe opened #412 "Using Myddleware to update existing data in Salesforce with data from MySql DB"
Hello,

We have a Salesforce system with objects we have defined.
Some data is updated automatically using Myddleware, other data is updated manually using csv files.

We are using Myddleware , Moodle connector, updating data in Salesforce.

We are uploading data (not kept in Moodle) from MySql DB.
For this we are using csv files, loaded into Salesforce.

We want to stop working manually and start

[2021-01-22 12:34] Myddleware commented on #412
@rickyshe ,
Could you give us more detail with about your example, one test data would be perfect ?
Thanks.

[2021-01-22 13:05] #401 closed, assigned to nobody

[2021-01-26 14:44] stlgaits commented on #396
Hello @simonetravaglini ,
this issue should now be fixed and Myddleware is now compatible with Mautic 3 (see this commit : https://github.com/Myddleware/myddleware/commit/4382250cb93f1c98923e5bd2a74bd5c47e57c69a ). However, if using Mautic 3, please ensure that your cache folder (in Mautic) is emptied before creating the Mautic connector.

Also, in case you need to use a previous version of Mautic

[2021-01-26 14:44] #396 closed, assigned to Myddleware, stlgaits

[2021-01-27 13:10] Myddleware opened #414 "Connector list : data not center inside the colum"
In the connecor list view : the data in the table aren't center :
![image](https://user-images.githubusercontent.com/11330301/105995537-667ade80-60a9-11eb-9137-fa61edf95ad2.png)

[2021-01-27 13:13] Myddleware opened #415 "Myddleware is only in french"
The language of the application is in french even if the language is "en" (parameter locale) in the file \config\packages\public\parameters_public.yml :
![image](https://user-images.githubusercontent.com/11330301/105995840-d5583780-60a9-11eb-8ecb-1c5ccde59f5a.png)

[2021-01-28 20:51] Myddleware opened #416 "Not possible to open a document"
When we click on a document from the search view, we are redirected to the search view and the document isn't opened.

[2021-01-29 08:57] simonetravaglini opened #417 "mssql: module list fails if too many tables"
Hi,
we have been connected a Db with 10k tables / viwes.
When we try to select DB we get an empty list:
![image](https://user-images.githubusercontent.com/6990139/106253899-664d2100-6218-11eb-87a2-845786a747b9.png)
Ho to manage this situation?

[2021-01-29 09:25] Myddleware commented on #417
Hi Simone,
Could you connect directly to MSSQL with the user used in your MSSQL connector in Myddleware. Then could you run this query :
`SELECT table_name FROM information_schema.tables WHERE table_catalog = 'your_database';`

Do you get the expected result ?
Thanks.

[2021-01-29 15:27] matteo-opencrmitalia commented on #417
Hi @Myddleware, issue was related to this query:

https://github.com/Myddleware/myddleware/blob/9deaf79995f41a7383b6530f65d0fce0af35e39c/src/Myddleware/RegleBundle/Solutions/microsoftsql.php#L59

![image](https://user-images.githubusercontent.com/60502629/106293729-a0d1b080-624e-11eb-8311-5841f3c025db.png)

we fix changing like this:

SELECT table_name FROM INFORMATION_SCHEMA.TABLES

SELECT table_

[2021-01-30 08:32] rickyshe commented on #412
Hello

This is an example :
Moodle - is a source of data   - participants( contact ), courses, enrollments , first two are lookups for the enrollments
MySQl  - is a source of data  - branches - this is a lookup , for each participant, there is a branch
Salesforce - is a target

Myddleware plugin for Moodle is used to update Salesforce : participants( contact ), courses, enrollments
In order to get

[2021-01-31 10:32] userGitHub75334 opened #418 "Reading Issue: Error : 0 is not a correct Rule mode."
I have installed erpNext, prestashop and myddleware for data exchange. Every program for itself works fine. I've transferred customer data from prestashop to erpNext sucessfully.
But now I want to transfer item data from erpNext to prestashop and I got the error message "Reading Issue: Error : 0 is not a correct Rule mode. /var/www/html/myddleware/src/Myddleware/RegleBundle/Solutions/erpnext.php 4

[2021-02-01 08:12] stlgaits commented on #418
Hello,

please have a look at this thread : https://github.com/Myddleware/myddleware/issues/401 which is linked to this commit https://github.com/Myddleware/myddleware/commit/9deaf79995f41a7383b6530f65d0fce0af35e39c

Kind regards,

Estelle

[2021-02-01 08:49] stlgaits commented on #418
By the way, you can simply upgrade your Myddleware version to 2.5.6a by following this tutorial as this bug has been corrected since : https://myddleware.github.io/myddleware/#/admin_tasks?id=upgrading-myddleware

[2021-02-01 13:14] userGitHub75334 commented on #418
Thank you very much,
the update to the version 2.5.7 has solved the issue.
Also a lot of thanks for the fast help.
Best regard
Andreas

[2021-02-01 13:14] #418 closed, assigned to nobody

[2021-02-01 13:37] userGitHub75334 opened #419 "templates for the data exchange between erpNext and prestashop"
Dear myddleware community,

I've installed erpNext and prestashop. Now I want to configure the data exchange between these systems. I tryed to use the button "default templates selection" and got the message "No template for these solutions, if you want a template, please contact us".
I want to ask you, whether there are templates for the data exchange between erpNext and prestashop in both direct

[2021-02-01 17:39] Myddleware commented on #419
Hi @userGitHub75334 ,
Yes we haven't created any template between erpNext and Prestashop yet. We can help you to create your rules, then we will ask you to generate the template. By this way, you will contribute to our open source project.

Could you give us more detail  about which data you want to send from Prestashop to erpNext, and which data you want to send erpNext to Prestashop ? For exampl

[2021-02-01 21:04] Myddleware commented on #412
Hi @rickyshe ,
If I have understood well, you have your  Id Salesforce (and other fields like branch) into your MySQL table and you want to update Salesforce automatically. Please let me know if I am wrong.

We have tried to reproduce your case. So we have created a table with 2 fields : Salesforce_id and last_name (your field branch in your example) :
![image](https://user-images.githubuserconten

[2021-02-01 21:57] Myddleware opened #420 "Homepage's charts aren't displayed anymore"
Homepage's charts aren't displayed anymore :
![image](https://user-images.githubusercontent.com/11330301/106523068-e0173000-64e0-11eb-89b0-b972d7701f14.png)

[2021-02-01 22:26] kemsko commented on #419
Hi @Myddleware ,
So we can't connect ERPNext and prestashop unless we create the rules, we cant create it using the connector menu? im new on this.

Best Regards.
- David Kemski

[2021-02-01 22:30] Myddleware commented on #419
Hi @kemsko,
Yes, you have to create the rule to indicate to Myddleware what data you want to send and how you want to send it.
To  help you to create these rules, you can use this tutorial : https://myddleware.github.io/myddleware/#/basic_usage
It is a tutotial between Prestashop and SuiteCRM (not ERPNext) but it will show you how Myddleware works.
Hope it helps.

[2021-02-01 22:40] kemsko commented on #419
definitely helps! thanks!
i have another question, it would be awesome if you can help me.

i'm using the cloud-based Myddleware for testing the connector, and i need to connect PrestaShop and ERPNEXT, but every time that i put the API Key from prestashop to Myddleware and always show me "Connection failed : Bad auth key" message, i followed all the instructions and the key its correct from Presta

[2021-02-02 18:34] rickyshe commented on #412
Hi,
Thanks very much for your help.
Thank You.

[2021-02-02 21:48] userGitHub75334 commented on #419
Thanks for your feedback, I will try to build the data exchange with the documentation  you mentioned and will test it in my environment. If it works, I can describe the approach of solution for the community.
best regards
Andreas

[2021-02-02 21:48] #419 closed, assigned to nobody

[2021-02-02 22:04] userGitHub75334 opened #421 "data exchange between erpNext and prestashop ->Error : Failed to find the language in the Prestashop XML"
Dear myddleware community,

I've installed erpNext and prestashop. Now I want to transfer item data from erpNext to prestashop. The transferprozess stopped with the error message "Error : Failed to find the language in the Prestashop XML /var/www/html/myddleware/src/Myddleware/RegleBundle/Solutions/prestashop.php Line : ( 958 )Failed to send document. Status : Error_sending".
I' would be happy if

[2021-02-02 22:26] Myddleware commented on #421
Hi Andreas,
Could you tell us which data (module) you are sending to Prestashop ? And we will try to reproduce your issue.
Best regards

[2021-02-03 07:55] userGitHub75334 commented on #421
Thanks a lot for your fast response.
I use with the erpNext connector the modul "Item" and with the prestashop connector the modul "The products".
best regards
Andreas

[2021-02-03 13:40] simonetravaglini opened #422 "Manage big DB: best practice for first run"
Hi guys,
we are syncing a Db to vtiger.
We are working on company, 50k records.
I launched rule yesterday and it's still running (29k done in status new).
Seems that our problem is that for this first run we have all data with same data ref, so we have to set 50k for every run.
There is a way to better manage this situation and have a faster sync? I don't have idea how long will work to complete t

[2021-02-03 15:01] Myddleware commented on #422
Hi @simonetravaglini,
Myddleware performance decreases after 2k records, so it will take a very long time for 50k records... and Maybe your server won't be able to finish it. You should configure a limite to 1k records. However, if all your records have the same data ref, you can't set a 1k record limit because Myddkeware won't be able to restart after the latest record read. Somigration won't wor

[2021-02-03 16:02] simonetravaglini opened #423 "manage deleted record from DB"
Suppose we have a Db as source.
A record is cancelled in DB, how to manage deletion with myddleware to a target like CRM?

[2021-02-03 16:18] Myddleware commented on #423
Hi @simonetravaglini ,
Could you tell me how the record is cancelled, is it a flag in your database set to 1 when it is cancelled ?
I guess your are using Vtiger as a CRM but could you confirm it ?
Thanks.

[2021-02-03 16:25] simonetravaglini commented on #423
It's not a flag, but deep deleted.

[2021-02-03 18:12] Myddleware commented on #421
Thanks @userGitHub75334
We could reproduce the issue and we have fixed the bug. In your case the language wasn't displayed in your rule.  You could apply manually this fix : https://github.com/Myddleware/myddleware/commit/291d78a8f57074b436fa7fca8f6327e030d8a097
Then you will see the language here :
![image](https://user-images.githubusercontent.com/11330301/106790339-b5011d80-6653-11eb-8b0c-58b1f

[2021-02-04 09:22] userGitHub75334 commented on #421
Thank you for your quick response and the solutions.
I will give you feedback on my results.
First I tried your suggestion with the update. But I already installed version 5.1.7 on Monday February 1st, 2021 and I think that's why I didn't get your modified prestashop.php this way.

Then I tried your manual fix 291d78a and it worked. I'm one step further now.

Thank you for your help
Best regard
An

[2021-02-04 09:22] #421 closed, assigned to nobody

[2021-02-04 12:50] #420 closed, assigned to stlgaits

[2021-02-04 13:14] stlgaits commented on #407
Fixed https://github.com/Myddleware/myddleware/commit/f0b82edd364b4fd19620a6cc98dd3b16acb7c80b
![image](https://user-images.githubusercontent.com/74190794/106898842-f8f82f00-66f4-11eb-87a4-721c72954738.png)

[2021-02-04 13:14] #407 closed, assigned to stlgaits

[2021-02-04 13:25] stlgaits commented on #420
Fixed : https://github.com/Myddleware/myddleware/commit/3ddec34ab955d7806d12c6ba0282298f4ccdad8c
![image](https://user-images.githubusercontent.com/74190794/106898712-d239f880-66f4-11eb-9d03-3767bfc61ac4.png)

[2021-02-04 13:35] stlgaits commented on #407
![image](https://user-images.githubusercontent.com/74190794/106899932-3c06d200-66f6-11eb-9404-46fbc2913418.png)
Transfers Page

[2021-02-04 14:12] stlgaits commented on #408
Fixed
![image](https://user-images.githubusercontent.com/74190794/106904359-63ac6900-66fb-11eb-9397-728471ca2906.png)

[2021-02-04 14:12] #408 closed, assigned to nobody

[2021-02-04 14:21] stlgaits commented on #414
Fixed
![image](https://user-images.githubusercontent.com/74190794/106905485-a02c9480-66fc-11eb-9f08-4f7a883521a4.png)

[2021-02-04 14:21] #414 closed, assigned to stlgaits

[2021-02-04 14:42] stlgaits commented on #409
![image](https://user-images.githubusercontent.com/74190794/106908114-4a0d2080-66ff-11eb-8b4e-4237799b0a54.png)
Changed the wording across the whole UI

[2021-02-04 14:42] #409 closed, assigned to Myddleware

[2021-02-04 14:46] stlgaits opened #425 "Error : can't run rule from UI"
![image](https://user-images.githubusercontent.com/74190794/106908881-ffd86f00-66ff-11eb-808d-61cafb850a76.png)
When you click on 'run the rule', the Error 'undefined offset 1' is triggered and the rule isn't run.

[2021-02-04 14:50] stlgaits opened #426 "Bug: 'simulate transfers' on rule view parameters tab not working"
![image](https://user-images.githubusercontent.com/74190794/106909285-6e1d3180-6700-11eb-8430-2a58bb7a430a.png)
If you click on 'simulate transfers', the loading animation never ends and the error 'Call to a member function getName() on null' is thrown by DefaultController line 582 :

[code]

[2021-02-04 17:15] Myddleware commented on #417
Thank  you so much for this fix.

[2021-02-04 17:15] #417 closed, assigned to nobody

[2021-02-04 20:49] userGitHub75334 opened #428 "data exchange between erpNext and prestashop: Error : Please check your data.This call to PrestaShop Web Services failed and returned an HTTP status of 400."
Dear myddleware community,

I've installed erpNext and prestashop. Now I want to transfer item data from erpNext to prestashop. The transferprocess stopped with the error message
"Error : Please check your data. This call to PrestaShop Web Services failed and returned an HTTP status of 400. That means: Bad Request. /var/www/html/myddleware/src/Myddleware/RegleBundle/Solutions/prestashop.php Line :

[2021-02-04 22:00] Myddleware commented on #428
Hi Andreas,
Could you post a screenshot of your data transfer in error and tell us which module you want to send to Prestashop (customer, product....) ?  We would like to see what data you want to send to Prestashop.
Best regards.

[2021-02-04 22:42] userGitHub75334 commented on #428
Thank you for your quick response.
I've made 2 screenshots. They contain the information you asked for.
I have updated my environment with the newest version 5.1.7 today ca. 22:00.

![error02](https://user-images.githubusercontent.com/78299104/106963381-cd029b00-6740-11eb-8b12-7f45208ce40f.JPG)
The error message of the updated version 5.1.7 is now:
"Error : Please check your data.This call to Pres

[2021-02-04 23:04] Myddleware commented on #428
Thanks,
I would like the screenshot of the data transfer in error because I would like to send the same data than you to Prestashop and so reproduce the issue.
Could you add your data transfer screenshot ?
Thank you very much

[2021-02-05 08:02] simonetravaglini commented on #422
thanks for tips we solved! :)

[2021-02-05 08:02] #422 closed, assigned to nobody

[2021-02-05 08:08] userGitHub75334 commented on #428
Thank you for your help,
I hope the screenshots contain the information you need.
![error03](https://user-images.githubusercontent.com/78299104/107006363-4fb34680-6791-11eb-97cc-292154c6b3f3.JPG)
![error04](https://user-images.githubusercontent.com/78299104/107006378-55109100-6791-11eb-8406-ea49a58bcafa.JPG)
best regard
Andreas

[2021-02-05 16:35] Myddleware commented on #428
Hi Andreas,
We could reproduce you problem. You haven't mapped the price and it is a required field into Prestahop. You can see the star here to indicate that you should fill this field :
![image](https://user-images.githubusercontent.com/11330301/107061284-46999800-67d8-11eb-838c-c8826d1704a0.png)

If you haven't any price, you can fixe a default value to 0 using the formula : "0"
![image](https:

[2021-02-05 18:43] userGitHub75334 commented on #428
Thank you very much,
sorry it was my fault.
I didn't know that the star indicates the key-fields.
I have tested the data transfer with the field "price" like descriped in your solution and it works fine.

You helped me very quickly. Really great support.

Best regard
Andreas

[2021-02-05 18:43] #428 closed, assigned to nobody

[2021-02-09 10:34] stlgaits commented on #415
![image](https://user-images.githubusercontent.com/74190794/107350928-5102ad00-6aca-11eb-8802-d00da5f7ab8e.png)
![image](https://user-images.githubusercontent.com/74190794/107351309-bf476f80-6aca-11eb-8fc2-7d14965d8bb0.png)
Fixed, locale should now work without using parameters_public.yaml

[2021-02-09 10:34] #415 closed, assigned to stlgaits

[2021-02-09 10:51] stlgaits opened #429 "The section 'Change Password' on User Account Page has disappeared"
![image](https://user-images.githubusercontent.com/74190794/107353195-10f0f980-6acd-11eb-99d6-57465df1692a.png)
This part is not showing anymore

[2021-02-09 12:25] Myddleware commented on #428
Hi Andreas,
You couldn't know because there is nothing that explain why there is a star on this target fields.
Thanks for your feedback.

[2021-02-09 12:56] subhankar opened #430 "Integration with Moodle and SuiteCRM"
We have installed Myddleware to integrate SuiteCRM and Moodle in our organization. The connection has been established successfully. We are trying to push all courses from CRM to Moodle and Students, while any new Course / Student being created. We are unable to achieve this integration through Myddleware.

We have followed the instruction mentioned here:

https://myddleware.github.io/myddleware/#

[2021-02-09 13:13] stlgaits commented on #430
Hello,
could you please check for me whether you have selected a reference date in the past (and saved) in this section of your rule :

![refdate](https://user-images.githubusercontent.com/74190794/107367789-fffdb380-6adf-11eb-8acf-d752ae2e0614.png)
If you save and then click on simulate transfers, it should then tell you the number of estimated transfers for this rule, which should of course be a

[2021-02-09 13:25] subhankar commented on #430
But parameter is absent when I create / Edit any rule in the system

![Myddleware-Fields](https://user-images.githubusercontent.com/608589/107369891-4ebf4380-6b08-11eb-8f77-ac05f05213e0.png)

[2021-02-09 13:29] stlgaits commented on #430
Sorry  I should have been clearer. First you need to save your rule in the confirmation tab. Your rule will then be created. Then, you need to go back to that rule and then click on the parameters tab :
![image](https://user-images.githubusercontent.com/74190794/107370280-0f323080-6ae3-11eb-8a83-ab9218655915.png)
It is only once your rule is created that you will be able to change the reference da

[2021-02-09 13:45] subhankar commented on #430
Now that rule has been executed. Thanks for your help. But some error occurs

accessexception : Access control exceptionFailed to send document. Status : Error_sending

![Myddleware-The-task-form-6022911b9c2e38-78081990](https://user-images.githubusercontent.com/608589/107372259-3b61a780-6b0b-11eb-8fa6-5040c07ac251.png)

[2021-02-09 14:08] stlgaits commented on #430
I would need to have a look at your data transfer in order to be sure where the problem lies but I think this could be due to your Moodle configuration. Did you import your Moodle role ?  Could you also check that the user that is assigned this token has that role too ?
Check this out I think it could help you too : https://github.com/Myddleware/myddleware/issues/395

[2021-02-09 15:01] subhankar commented on #430
I have assigned Myddleware role to the particular user

![DynLMS-Administration-Users-Permissions-Assign-system-roles](https://user-images.githubusercontent.com/608589/107382268-b5972980-6b15-11eb-92fa-06ae16f182d3.png)

See the error I got

![Myddleware-Transfer-form-6022a0c93809f7-59665743](https://user-images.githubusercontent.com/608589/107382335-c3e54580-6b15-11eb-9cab-7787e6ed25df.png)

[2021-02-09 15:15] stlgaits commented on #430
Ok, are you sure your user is correctly assigned to the token in Moodle?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/74190794/107383903-bf0e9a80-6af1-11eb-83ce-1fd826dab50d.png)
Also, can you check whether there isn't any missing capabilities on this page ?
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/74190794/107384075-ecf3df00-6af1-11eb-8309-804aff3

[2021-02-09 16:10] subhankar commented on #430
I think yes I configured it

Manage token screen
![Myddleware-Transfer-form-6022a0c93809f7-59665743](https://user-images.githubusercontent.com/608589/107392082-52aa9000-6b1f-11eb-8fd4-9ac2ec9d55a1.png)

Function added
![DynLMS-Administration-Plugins-Web-services-External-service-functions](https://user-images.githubusercontent.com/608589/107392148-6229d900-6b1f-11eb-98ac-e491f6a84e4e.png)

[2021-02-09 16:12] Myddleware commented on #430
OK great. Sounds good.
Could you post a screenshot with the detail of your data transfer (data you are trying to send to Moodle) ? Thanks.

[2021-02-09 16:23] subhankar commented on #430
I tried to push a course from CRM to Moodle

![Myddleware-Transfer-form-6022a9c633bd43-56072167](https://user-images.githubusercontent.com/608589/107393816-37d91b00-6b21-11eb-8082-4044a7843535.png)

[2021-02-09 16:30] Myddleware commented on #430
Sorry, not this one. The one that have the status error_sending.
Thanks.

[2021-02-09 17:31] subhankar commented on #430
![Myddleware-Transfer-form-602290ba8e9e97-08707405](https://user-images.githubusercontent.com/608589/107403070-b090a500-6b2a-11eb-8882-bd4244a6f1bd.png)

[2021-02-10 11:21] subhankar commented on #430
Any update on how to resolve this issue.

[2021-02-10 11:56] Myddleware commented on #430
Hi @subhankar ,
About our support, our clients always come first then we answer forum's question. It is the reason why, sometime, we answer a few hours after a topic is posted.  I am sure that you understand.

Could you test this : could you log into your Moodle instance with the user linked to your token in Moodle. Then try to create a user directly into your Moodle instance (using your browser),

[2021-02-10 14:19] subhankar commented on #430
I m not able to login using webservice user.

[2021-02-10 14:48] Myddleware commented on #430
Hi @subhankar,
Maybe that's the problem. Could you try to set "Manual account" here :
![image](https://user-images.githubusercontent.com/11330301/107525763-74575600-6bb7-11eb-9621-3e41ab977557.png)

Please keep us updated.

[2021-02-10 15:06] subhankar commented on #430
Hi
I have changed the authentication method to Manual Authentication and able to login. I can create users from new login. Now if I again trying to Run User Creation rule, received **_Error_sending_** Error

[2021-02-10 15:21] stlgaits commented on #429
Fixed, there is now a button with a link to a reset password form :
https://github.com/Myddleware/myddleware/commit/b47fb3b8b21eafd82d977e95c24586709dcf3b2c
![image](https://user-images.githubusercontent.com/74190794/107530268-fea1b900-6bbb-11eb-9695-e69043d26709.png)

![image](https://user-images.githubusercontent.com/74190794/107530173-e6ca3500-6bbb-11eb-9690-9d879e7e7382.png)

[2021-02-10 15:21] #429 closed, assigned to stlgaits

[2021-02-10 15:49] Myddleware opened #431 "Create commands to create a user, add and remove a role"
We need to create the commands to create a user, add and remove a role

[2021-02-10 21:04] Myddleware commented on #430
Hi @subhankar ,
When you have created the user in Moodle, did you put exactly the same data than in your Myddleware rule, so only email, firstname and lastname (no username and no password) ?

[2021-02-11 13:21] stlgaits commented on #406
Tested and worked using Google configuration with .env file but this will need to be looked at in more detail, especially as users may not be able to write parameters in .env file themselves.
Google Documentation on configuring SMTP : https://support.google.com/a/answer/176600?hl=en#zippy=%2Cutiliser-le-serveur-smtp-gmail%2Cuse-the-gmail-smtp-server
If double auth is enabled on Google account, wil

[2021-02-11 14:04] subhankar commented on #430
Seems I have been able to figure out the issue. A couple of mandatory fields were missing in the mapping. Now course list start synchronization. Thanks for your help.

[2021-02-11 14:31] Myddleware commented on #430
Good news. Thanks for your feedback. Enjoy Myddleware ;)

[2021-02-11 14:31] #430 closed, assigned to nobody

[2021-02-11 15:03] subhankar opened #432 "Moodle integration Create Category"
Hi
After creating a new connection, I can not see Moodle Category option in the modules pull down. Can we push Course Category also in Moodle from SuiteCRM? Does it require any other functions to add in Myddleware service.

![Untitled2](https://user-images.githubusercontent.com/608589/107654163-659c9c00-6ca8-11eb-9c36-747ebb1e5d04.png)

[2021-02-11 15:10] Myddleware commented on #432
Hi @subhankar,
You are right, catagories aren't managed yet in the Moodle connector.
If you are developer we could guide you to develop it, and in retrun you could share your code as contributor on our open source project.
Otherwise, we can develop it for you. In this case, contact us directly via our contact page http://www.myddleware.com/contact-us
Have a nice day.

[2021-02-12 12:24] Myddleware commented on #423
Hi Simone,
Please update your Myddleware instance to the version 2.5.7a (#433).
Then when you will edit your rule, the new value « Compare source table with Myddleware" will appear in the list « Field with deletion flag" :
![image](https://user-images.githubusercontent.com/11330301/107767653-97a80f80-6d35-11eb-80bc-722c93085df2.png)

If you choose this value, Myddleware will compare the data alrea

[2021-02-12 12:25] #423 closed, assigned to nobody

[2021-02-12 12:25] #412 closed, assigned to nobody

[2021-02-12 15:35] simonetravaglini opened #434 "Can you explain this scenario?"
Hi,
after launched a rule I have this result:
![image](https://user-images.githubusercontent.com/6990139/107788067-3e010e80-6d50-11eb-875d-a89a4a9ea60d.png)

Why some record are still open?
In this case we are importing some raw form invoice (from a DB to Vtiger)
Status of these records is:
![image](https://user-images.githubusercontent.com/6990139/107788262-7f91b980-6d50-11eb-8155-d51041712a0c.pn

[2021-02-12 15:37] Myddleware commented on #434
Hi @simonetravaglini ,
Could you post a screenshop with the data transfer content and its logs ?
Thanks.

[2021-02-12 15:39] simonetravaglini commented on #434
![image](https://user-images.githubusercontent.com/6990139/107788570-da2b1580-6d50-11eb-8673-b8902d9ad6e9.png)

[2021-02-12 15:39] simonetravaglini commented on #434
![image](https://user-images.githubusercontent.com/6990139/107788649-f038d600-6d50-11eb-9567-7b4452251183.png)

[2021-02-12 15:40] simonetravaglini commented on #434
![image](https://user-images.githubusercontent.com/6990139/107788735-0a72b400-6d51-11eb-9c1a-632cab19eb2f.png)

[2021-02-12 15:51] Myddleware commented on #434
Thanks @simonetravaglini ,
What happens if you run it again by clicking on the button "reload the transfer" on the data transfer view ?

[2021-02-12 17:07] simonetravaglini commented on #434
![image](https://user-images.githubusercontent.com/6990139/107798905-08aeed80-6d5d-11eb-8b05-7cc976484a46.png)

[2021-02-12 17:21] Myddleware commented on #434
You data transfer seems to have the status error_sending. Could you show me the log on your data transfer ? Or does your data transfer still have the status "Ready to send" ?

[2021-02-12 20:48] simonetravaglini commented on #434
Is still ready to send...

[2021-02-15 08:45] userGitHub75334 opened #435 "rules: mapping fields: documentation about the fields of each module prestashop module and erpNext module"
Dear myddleware community,

I've installed erpNext and prestashop. Now I want to transfer sales orders and sale orders detailes from prestashop to erpNext.
The problem is my try and error method to generate the rules. I get a lot of error messages and I need a lot of time to get little steps with success. So I want to ask, is there a documentation about the field mappings which I could use for tha

[2021-02-15 09:23] userGitHub75334 opened #436 "Data exchange: prestashop to erpnext: sales order"
Dear myddleware community,

I've installed erpNext and prestashop. Now I want to transfer sales orders from prestashop to erpNext.
I got the following error message:

**Traceback (most recent call last): File "/home/pi/frappe-bench/apps/frappe/frappe/app.py", line 64, in application response = frappe.api.handle() File "/home/pi/frappe-bench/apps/frappe/frappe/api.py", line 130, in handle "data": f

[2021-02-15 09:42] Myddleware commented on #436
Hi Andreas,

You can't send order into ERPNext without order items. So in your case you have to create a rule between the Prestashop module "Order detail" and the ERPNext module "Items". Keep this rule disable, it will never run by itself.

Then edit again your order rule and, in the relationship tab, you should have a "parent relationship section", below standard relationship. Select you item rul

[2021-02-15 09:58] Myddleware commented on #435
Hi @userGitHub75334,
There is no documentation to create the connection between Prestashop and ERPNext. We have only documentation to create the connectors.
However, we 'll continue to help you to build the connection via this forum. Once you have built it with our help, we count on you to generate a template (we will show you how to generate it). This template will definitely help other people wi

[2021-02-15 09:59] stlgaits commented on #426
![image](https://user-images.githubusercontent.com/74190794/107931699-ed222d80-6f7c-11eb-94cf-f6ca50543dcd.png)

[2021-02-15 09:59] #426 closed, assigned to stlgaits

[2021-02-15 10:39] stlgaits commented on #416
![image](https://user-images.githubusercontent.com/74190794/107936089-7f790000-6f82-11eb-9b24-75512a00464d.png)

[2021-02-15 10:39] #416 closed, assigned to stlgaits

[2021-02-15 11:09] stlgaits opened #437 "Can't open Task from task list"
![image](https://user-images.githubusercontent.com/74190794/107939081-899cfd80-6f86-11eb-87d7-f02ae3bcd83c.png)
When you click on a task, it simply reloads the same page

[2021-02-15 12:45] stlgaits opened #438 "Stop Task button doesn't do anything on Task view log"
![image](https://user-images.githubusercontent.com/74190794/107948310-f5d22e00-6f93-11eb-98d5-f5b98d750fb9.png)

[2021-02-15 13:21] sezanzeb opened #439 "urls after installation are broken + create_function() is deprecated"
![image](https://user-images.githubusercontent.com/28510156/107951713-0933c800-6f99-11eb-84b0-d6ab37da7277.png)

[2021-02-15 13:23] stlgaits commented on #439
Hi,

just go back to your folder URL and add /web/app.php and it should redirect you to your app.

Estelle

[2021-02-15 13:25] sezanzeb opened #440 "sign in results in 404 on nginx"
Entering the username and password and clicking "Sign in" results in error 404

![image](https://user-images.githubusercontent.com/28510156/107952072-924aff00-6f99-11eb-8628-c6eaabda7243.png)

[2021-02-15 13:25] sezanzeb commented on #439
yeah, that leads me to the login page. thanks

[2021-02-15 13:27] stlgaits commented on #440
Hi, there might be an issue with your installation.
Could you double check that your database exists and that the table users contains at least one user.

[2021-02-15 13:31] sezanzeb commented on #440
nice, you are very fast in responding. thanks

[code]

[2021-02-15 13:38] sezanzeb commented on #440
- nginx 1.18.0
- myddleware 97f673598f8678ca37909de19eaa24cc4b93bda7 from master
- ubuntu 20.04
- php 7.3.27
- mysql 8.0.23

[2021-02-15 13:41] sezanzeb commented on #440
`/var/log/nginx/error.log`

[code]

[2021-02-15 13:47] stlgaits commented on #440
Thank you for this, could you try the same thing in dev environment  so we can see a more detailed log? Simply change your URL to :
http://***.***.***.***/web/app_dev.php

[2021-02-15 13:52] sezanzeb commented on #440
where would I find that log?

[2021-02-15 13:55] sezanzeb commented on #440
browser logs, if that is what you wanted:

[code]

after clicking the "Sign in" button no new log appears

[2021-02-15 14:01] sezanzeb commented on #440
works with apache2. I can stick to that, that is fine for me.

[2021-02-15 14:03] sezanzeb commented on #440
If you are interested in making it run on nginx as well, I'd be happy to provide more debug info. If we find the problem, maybe the useful myddleware requirements checker can check for that problem on nginx installations.

The installation instructions say "With a web server **like** apache." so I suppose it targets to work with nginx as well?

[2021-02-15 14:11] sezanzeb commented on #440
Found the problem with nginx:

`/etc/nginx/sites-available/myddleware.conf`

[code]

the problem was the location matching regex. The changed regex also matches paths that contain `.php/...`

[2021-02-15 14:11] #440 closed, assigned to nobody

[2021-02-15 14:13] sezanzeb commented on #440
The original regex is a proposed configuration inside of nginxs default file (/etc/nginx/sites-available/default, similar to https://github.com/nginx/nginx/blob/master/conf/nginx.conf)

[2021-02-15 14:21] sezanzeb commented on #439
I also get `Deprecated: Function create_function() is deprecated in /var/www/myddleware/var/SymfonyRequirements.php on line 551` on that page with both apache2 and nginx

with apache2 the url is `http://***.***.***.***/app.php`

[2021-02-15 14:54] Myddleware commented on #440
Thank you very much for your feedback.

[2021-02-15 14:57] Myddleware commented on #439
Hi @sezanzeb . Yes there is a deprecated function. We are working on the next main Myddleware version (based on Symfony 4.4), create_function won't be used in this version.
Thanks for your help.

[2021-02-15 15:05] stlgaits opened #441 "Prestashop connector error : undefined index language line 810 in prestashop.php"
![image](https://user-images.githubusercontent.com/74190794/107962513-574fc800-6fa7-11eb-8671-4c2bbab13a7b.png)
Record :
![image](https://user-images.githubusercontent.com/74190794/107962619-73536980-6fa7-11eb-9014-a013f08aded5.png)

[2021-02-15 15:06] stlgaits commented on #437
Fixed

[2021-02-15 15:06] #437 closed, assigned to stlgaits

[2021-02-15 15:10] stlgaits opened #442 "Login page displays too much info on invalid credentials error"
![image](https://user-images.githubusercontent.com/74190794/107963298-45baf000-6fa8-11eb-9536-1a847d232429.png)

[2021-02-15 15:16] stlgaits commented on #442
fixed
![image](https://user-images.githubusercontent.com/74190794/107964002-27092900-6fa9-11eb-8e6c-6c6d85f02157.png)

[2021-02-15 15:16] #442 closed, assigned to stlgaits

[2021-02-15 15:27] stlgaits opened #443 "Add button & input to simulate rule on specific record (like in 2.5.7a)"
Need to add something similar to this to allow users to simulate a rule on a specific record :
![image](https://user-images.githubusercontent.com/74190794/107965298-a77c5980-6faa-11eb-819b-5a4bf32b43ca.png)
but instead, there should only be one button, and if the input is left empty then it runs the default simulation

[2021-02-15 15:29] stlgaits opened #444 "Add cancel & delete documents (transfers) buttons in rule view (for admins only?)"
![image](https://user-images.githubusercontent.com/74190794/107965461-d72b6180-6faa-11eb-89e7-5a9e33919241.png)

[2021-02-15 15:33] stlgaits opened #445 "Complete remodel of installation process (previously installMyddleware.php)"
We need to get rid of installMyddleware.php and entirely redo the following :

- symfony requirements checker

- database creation/connection

- user creation + setting role admin

[2021-02-15 16:18] sezanzeb commented on #136
Beware that this may cause problems when upgrading erpnext afaik, since it would change the contents of the frappe/erpnext app directories and theremore might cause merge conflicts when pulling in a new version.

[2021-02-15 16:55] Myddleware commented on #434
OK Simone, you probably have a fatal error. Could you check your logs /var/logs/prod.log (or dev.log if you are using dev environement). Could you try to run it gain and check if there is a new log ?
Thanks

[2021-02-17 08:30] userGitHub75334 commented on #436
Thank you for your advice and your help.
I think without your help there is no chance of implementing a working solution.
I am a small step further with the definition below.
![image](https://user-images.githubusercontent.com/78299104/108176635-95153380-7102-11eb-9e70-e619379b16b4.png)

The try and error method takes a long time, but Myddleware is a great tool when the settings are correct.
It wou

[2021-02-17 08:30] #436 closed, assigned to nobody

[2021-02-17 09:10] Myddleware commented on #436
Hi @userGitHub75334 ,
Thanks for your feedback. You are right, we have to improve Myddleware's documentation. For now we are working on technical things with the Myddleware's upgrade (framework upgrade to Symfony3 to Symfony4).  But next step will definitely be the documentation.
Could you share you work by generating a template with all you rules once you have finished to configure Myddleware.

T

[2021-02-17 13:08] stlgaits opened #448 "ERROR : Undefined index date_ref in solution.php line 345"
Transfer in error here :
![image](https://user-images.githubusercontent.com/74190794/108208545-75453600-7129-11eb-857f-97c430bd6fb1.png)

![image](https://user-images.githubusercontent.com/74190794/108208605-8726d900-7129-11eb-84d4-1b4bbdc2979b.png)

Rule mapping for this transfer :
![image](https://user-images.githubusercontent.com/74190794/108208677-a160b700-7129-11eb-9627-27fc6528e31e.png)

[2021-02-17 13:10] stlgaits commented on #448
![image](https://user-images.githubusercontent.com/74190794/108208854-da992700-7129-11eb-8b77-891d23c28ded.png)

[2021-02-17 18:30] Myddleware opened #449 "Search not working"
This search failed :
![image](https://user-images.githubusercontent.com/11330301/108250526-a6882b00-7156-11eb-979f-725bb6cd214a.png)

[2021-02-17 18:52] Myddleware commented on #448
Search duplicate doesn't generate error anymore :
![image](https://user-images.githubusercontent.com/11330301/108253111-b35a4e00-7159-11eb-8d8e-64950ce71475.png)

[2021-02-17 18:52] #448 closed, assigned to Myddleware

[2021-02-18 14:54] stlgaits opened #450 "Bug on NotificationManager.php constructor line 125"
This was sending a request from constructor. I've commented it as it was causing issues on every single command line (it was loaded and was trying to connect to users table, even when the database isn't connected yet), but it needs to be initialised in a different way here :

`$this->setEmailAddresses();`

It needs to be replaced by something else.

[2021-02-18 15:17] stlgaits opened #451 "User Deprecated: The "Doctrine\Common\Inflector\Inflector::classify" method is deprecated and will be dropped in doctrine/inflector 2.0. Please update to the new Inflector API."
This error is triggered when running doctrine:fixtures:load
![image](https://user-images.githubusercontent.com/74190794/108377886-c413ce00-7204-11eb-870a-813eda181edb.png)

[2021-02-18 15:17] stlgaits commented on #451
https://github.com/symfony/symfony/issues/38121

[2021-02-18 19:48] Myddleware commented on #441
@EstelleMyddleware could you try again ?
Thanks.

[2021-02-18 21:03] Myddleware commented on #450
Bug fixed, we changed the position of the method setEmailAddresses

[2021-02-18 21:03] #450 closed, assigned to Myddleware

[2021-02-21 13:17] V0RTX opened #452 "PHP 7.4.14 Install Fails"
Fails to install, are there workaround for this.  Other apps depend upon php, not so easy to change versions

[2021-02-22 08:25] V0RTX commented on #452
Found a way to download the plugin

[2021-02-22 08:31] Myddleware commented on #452
Hi @V0RTX ,
We were about to reply to you.
Myddleware isn't compatible 2.x php7.4. But let us know how you have done if you found a way to make it works with php 7.4.
Thanks.

For information, we will launch Myddleware 3.0 based on Symfony 4.4  in March. This version will be compatible php7.4 et we do our best to make it compatible with php8 as well.

[2021-02-22 09:55] V0RTX commented on #452
@Myddleware
Hello, thanks for your answer.
I found the php error with the cli install of Myddleware.  Now I downloaded the Myddleware/Moodle plugin zip file and imported into Moodle without errors so far.
Not much information around on configuring Myddleware as a plugin in Moodle.   From what I have found so far I am still the process of configuring the parameters in Moodle.
One thing is that I ca

[2021-02-22 10:26] stlgaits commented on #452
Hello V0RTX,
you've installed Myddleware plugin for Moodle but have you finished installing Myddleware on its own as well? Because the plugin won't be able to work without Myddleware installed.

[2021-02-22 10:31] stlgaits commented on #452
By the way Myddleware does not have to be installed on the same server as Moodle. If you want to install it on a different server that is absolutely fine :)

[2021-02-22 10:33] V0RTX commented on #452
Ok, I understand.  Didn't realise both are needed.  Well yes in that case, I will need to wait for the next version as at the moment I have just one server.  I'm a startup and don't have the resources to run 2 servers until we grow a bit.
Thanks for your quick response.

[2021-02-22 10:42] stlgaits commented on #452
In that case, I think 2 options are available to you for the time being.

- you can either host Myddleware for less than 10€ a month, for example on PlanetHoster
- or you can host Myddleware locally on your machine, in which case you would either have to execute your rules manually or create a Windows task which will execute Myddleware for you

[2021-02-22 10:49] V0RTX commented on #452
Ok, thanks so much.  Yes, I think hosting on my local machine at the moment.  No problem with PlanetHoster or the like, it's just at the moment I'm evaluating Moodle vs Google Workspace.  I'm leaning toward Moodle as I worked with it some years ago and the connection between Magento and Moodle is the attraction.
Are you able to point me to the resource for hosting on Win10 machine so I can continu

[2021-02-23 08:49] stlgaits commented on #444
![image](https://user-images.githubusercontent.com/74190794/108820406-73152880-75bc-11eb-966c-e4959a67be83.png)

[2021-02-23 09:32] stlgaits opened #453 "When Error_Sending, there is not enough info displayed (tested with Prestashop)"
![image](https://user-images.githubusercontent.com/74190794/108824660-45cb7900-75c2-11eb-9c7e-bbda4695fba8.png)
The error below should be displayed in Myddleware :
![image](https://user-images.githubusercontent.com/74190794/108824773-67c4fb80-75c2-11eb-8438-adbf3dcf2dc9.png)

[2021-02-23 09:42] #444 closed, assigned to stlgaits

[2021-02-23 09:47] stlgaits commented on #445
So far, most of the process works, with the exception of step 4 (doctrine fixtures load) which requires upgrading Doctrine Inflector
What's left to do apart from that is to block access to these routes once the installation process is over (block_install) :
![image](https://user-images.githubusercontent.com/74190794/108826031-1ae22480-75c4-11eb-90b3-c0f97be231cf.png)
![image](https://user-images.g

[2021-02-23 14:33] Myddleware commented on #438
Button fixed :
![image](https://user-images.githubusercontent.com/11330301/108858470-7aecc100-75ec-11eb-950c-d87dcbb8a9b9.png)

[2021-02-23 14:33] #438 closed, assigned to stlgaits

[2021-02-25 22:37] Myddleware commented on #451
We have changed the way to create fixtures (see commit https://github.com/Myddleware/myddleware/commit/7d7c22b160cd6c3d2eb8d9a4163152d79b5ab4d3)

[2021-02-25 22:37] #451 closed, assigned to nobody

[2021-02-26 09:54] francescobianco opened #454 "A Fancybox strange problem block me to save rule"
Fancybox library infers with saving the rules
[code]
still no working if I click directly with mouse but if I type this command in developer console it trigger the save procedure

![Workspace 1_030](https://user-images.githubusercontent.com/472171/109284734-76a8e980-7820-11eb-8cf3-00e2b29c6f73.png)

![Workspace 1_031](https://user-images.githubusercontent.com/472171/109284868-a0faa700-7820-11eb-8c

[2021-02-26 10:02] francescobianco opened #455 "Strange empty Duplicates field selector"
We have many rule with strange RED and not clear duplaces field value

![Workspace 1_033](https://user-images.githubusercontent.com/472171/109285998-08652680-7822-11eb-8db8-0811eed9a18c.png)

It not keep the status after save

@simonetravaglini

[2021-02-26 10:07] francescobianco opened #456 "Fields to avoid duplicates not persists"
If Edit existing rules the fields to avoid duplicates, start as resetted not are showed as I saved it

![Screenshot from 2021-02-26 11-06-05](https://user-images.githubusercontent.com/472171/109286653-d3a59f00-7822-11eb-8169-5d3fd1b9fa1e.png)

@simonetravaglini

[2021-02-26 10:34] Myddleware commented on #455
Hi @francescobianco ,
Yes your are right, this RED bug is displayed when there is no duplicate field for the application's module selected.
We will fix this.
Thanks.

[2021-02-26 10:40] Myddleware commented on #456
Hi @francescobianco ,
Which Myddleware version are your using ? Because we have fixed this bug few weeks ago in version 2.5.6 (https://github.com/Myddleware/myddleware/commit/3df255a3b7ef1b465febd57dad976245bc7532f4) :
![image](https://user-images.githubusercontent.com/11330301/109290006-57fa2100-7827-11eb-8930-b038451c4498.png)

If you have the latest version then could you tell us which module a

[2021-03-01 07:51] stlgaits commented on #454
Hello @francescobianco , may I ask what version of Myddleware you are using ? I tried to reproduce the problem in 2.5.7 but couldn't.

[2021-03-01 09:59] stlgaits commented on #445
![image](https://user-images.githubusercontent.com/74190794/109481147-b704a380-7a7c-11eb-96bd-4dddae4608e0.png)
![image](https://user-images.githubusercontent.com/74190794/109481193-c08e0b80-7a7c-11eb-9ccf-338ab43414dd.png)
![image](https://user-images.githubusercontent.com/74190794/109481528-27132980-7a7d-11eb-8c1c-ccb41216a508.png)
![image](https://user-images.githubusercontent.com/74190794/1094

[2021-03-01 16:15] stlgaits commented on #445
![image](https://user-images.githubusercontent.com/74190794/109525259-a3bffb00-7ab1-11eb-8985-1afddc7bb214.png)

[2021-03-02 08:16] francescobianco opened #457 "Delete transfers button"
Hi! I became aware of the presence of two buttons (as in the image)
![unnamed](https://user-images.githubusercontent.com/472171/109618362-bda42100-7b37-11eb-8373-5b015faae86d.jpg)
But I never see it in the code. Please could you point me to the code of this button, or suggest some trick to get in on my instance.

Thanks always for your kindness

@simonetravaglini

[2021-03-02 08:42] stlgaits commented on #457
Hello @francescobianco, these buttons are available since Release 2.5.7. To be able to see  these buttons you need to promote your user to ROLE_SUPER_ADMIN as you can see in the twig code below.
To promote your user, use the following command in your terminal :

php bin/console fos:user:promote <myddleware_username> ROLE_SUPER_ADMIN -e prod

In case you want to see the code to display them it is l

[2021-03-02 14:04] stlgaits commented on #431
![image](https://user-images.githubusercontent.com/74190794/109659810-61a5c080-7b68-11eb-9dc1-48dff2209eb2.png)
The command currently works, the user is created in the database, however it is not yet possible to login with the user created. I believe this is due to the fact that the salt column is left on null (could be to do with FOSUserBundle ??).
Also for now the user only has ROLE_USER if you

[2021-03-02 16:41] stlgaits commented on #431
For now, all created users are admin by default

[2021-03-02 17:34] Myddleware commented on #453
Error is now displayed :
![image](https://user-images.githubusercontent.com/11330301/109689689-db987280-7b85-11eb-9478-122feac46816.png)

[2021-03-02 17:35] #453 closed, assigned to Myddleware

[2021-03-03 08:55] francescobianco opened #458 "Master branch miss code of branch Release-2.5.7"
Some of the functionality provided from Release-2.5.7 (WooEvenertManager, WordPress connector)
not are available on the MASTER branch.

@EstelleMyddleware @simonetravaglini

[2021-03-03 09:01] francescobianco commented on #457
Thank you very much, it is really very useful, I will immediately use it

[2021-03-03 11:00] stlgaits commented on #458
Thank you for this I will take care of it today.

[2021-03-03 23:04] Myddleware opened #460 "Test button not working on connector edit view"
When we open an existing connector, the test button doesn't work.

[2021-03-04 09:21] stlgaits opened #461 "Connector name not displayed in breadcrumbs when editing a connector"
![image](https://user-images.githubusercontent.com/74190794/109941367-6470f480-7cd3-11eb-8312-9bdb858b2957.png)

[2021-03-04 09:58] francescobianco opened #462 "Large Jobs with multiple records (>1000) are unstoppable"
If I use large number of record for each sync job the operation take ONE round of CRON but more then 5 minutes
If I stop the TASK it still continues their process because there is no STOPPER or SEMAPHORE to look for TASK status into each loop

Eg. the following loop is unstoppable for every JOB it process
https://github.com/Myddleware/myddleware/blob/180f9648ce618888335e20150ed4fae5cd5c1508/src/My

[2021-03-04 10:00] Myddleware commented on #462
Hi @francescobianco,
Did you try to stop the task by opening the task in Myddleware and click on the button "stop task" ?

[2021-03-04 10:29] francescobianco commented on #462
Hi @Myddleware yes, of course I have stopped with button, but background process still going to import, I think because DATA are in memory of CRON

[2021-03-04 10:46] Myddleware commented on #462
Hi @francescobianco ,
We check all the time the task's status and if it isn't equal to 'Start' we stop the process.
Here is the location of the code where  we set the attribute jobActive  : https://github.com/Myddleware/myddleware/blob/180f9648ce618888335e20150ed4fae5cd5c1508/src/Myddleware/RegleBundle/Classes/document.php#L164
This attribute is then used during the process in the class document.

[2021-03-04 10:53] Myddleware commented on #462
About the loop in Prestashop, we could actually add the status check in the method :
https://github.com/Myddleware/myddleware/blob/180f9648ce618888335e20150ed4fae5cd5c1508/src/Myddleware/RegleBundle/Solutions/solution.php#L134
It would test the task for all soltuion not only Prestashop. We will think about it.

[2021-03-04 12:43] stlgaits commented on #461
![image](https://user-images.githubusercontent.com/74190794/109965646-8a0bf700-7cef-11eb-8c79-5bc9ee0a6823.png)

[2021-03-04 12:43] #461 closed, assigned to stlgaits

[2021-03-04 12:44] stlgaits commented on #460
![image](https://user-images.githubusercontent.com/74190794/109965819-c7708480-7cef-11eb-90ea-18aa197b9d34.png)

[2021-03-04 12:44] #460 closed, assigned to stlgaits

[2021-03-04 16:19] stlgaits commented on #449
![image](https://user-images.githubusercontent.com/74190794/109994349-84250e80-7d0d-11eb-8a37-b4191c69b7ae.png)
In DocumentRepository.php line 313
removed `&& $data['page'] != 1 `from condition as it was the cause of the problem, now it nearly works but there are issues due to pagination still as this error is thrown from FluxController.php line 807  :
`     } catch (\Pagerfanta\Exception\NotValid

[2021-03-04 16:23] #458 closed, assigned to nobody

[2021-03-04 17:59] fosullivan-usam opened #463 "SuiteCRM - Existing records don't sync when a new security group is added (for user of the new security group)"
When using a SuiteCRM connector with a user that is part of a Security Group, if a record (e.g., Account or Contact) existed in SuiteCRM before being added to that Security Group, Myddleware does not sync that record.

How to recreate:
1. Create two Security Groups, one called Existing and one called New.
2. Create a User called Sync-Test that is only part of the group called New.
3. Create a new

[2021-03-04 20:39] Myddleware commented on #463
Hi @fosullivan-usam ,
I see what's your problem. Unfortunately, when you add a security group on an account in SuiteCRM, this account isn't modified. So Myddleware can't detect the modification. Developping the comparaison you wrote would be a specific code only for you and would take several days of work.

I see 2 other solutions :
 - If the number of account isn't too large, you could set the re

[2021-03-05 00:17] Myddleware opened #464 "Reduce rule filter search text size"
![image](https://user-images.githubusercontent.com/11330301/110048675-9aa08980-7d50-11eb-994e-ccfaa287cbde.png)

[2021-03-05 00:22] Myddleware commented on #449
Search is fixed :
![image](https://user-images.githubusercontent.com/11330301/110049014-434ee900-7d51-11eb-92a1-0b7242f9ec75.png)

[2021-03-05 00:22] #449 closed, assigned to Myddleware

[2021-03-05 00:23] Myddleware commented on #410
Read last function has been removed

[2021-03-05 00:23] #410 closed, assigned to Myddleware

[2021-03-05 00:23] Myddleware commented on #411
The connector logic has been changed.

[2021-03-05 00:23] #411 closed, assigned to Myddleware

[2021-03-05 00:24] Myddleware commented on #425
Button is working now :
![image](https://user-images.githubusercontent.com/11330301/110049161-94f77380-7d51-11eb-8ef1-a392494b5beb.png)

[2021-03-05 00:24] #425 closed, assigned to stlgaits

[2021-03-05 00:25] #441 closed, assigned to Myddleware, stlgaits

[2021-03-05 00:26] Myddleware commented on #443
Buttons have been added :
![image](https://user-images.githubusercontent.com/11330301/110049266-cd974d00-7d51-11eb-94a0-7b05c2193029.png)

[2021-03-05 00:26] #443 closed, assigned to stlgaits

[2021-03-05 08:12] francescobianco opened #465 "Missing WooEventManager ICON"
![c4P9yz3law](https://user-images.githubusercontent.com/472171/110086592-da886080-7d92-11eb-9fcf-cf95e34f0f1e.png)

[2021-03-05 16:24] fosullivan-usam commented on #463
We took your second suggestion and will let you know if we encounter any other problems.
Thank you!

[2021-03-05 16:25] #463 closed, assigned to nobody

[2021-03-08 10:09] #464 closed, assigned to stlgaits

[2021-03-08 10:10] stlgaits commented on #464
![image](https://user-images.githubusercontent.com/74190794/110307111-d95b6b80-7ffe-11eb-8ea5-c4a3ccdeb8c1.png)

[2021-03-09 16:53] stlgaits commented on #431
Added command to promote a user.
![image](https://user-images.githubusercontent.com/74190794/110507475-58849880-8100-11eb-9556-df44ffce7160.png)
![image](https://user-images.githubusercontent.com/74190794/110507547-6803e180-8100-11eb-9b92-9b54db81cad8.png)

[2021-03-09 20:30] Myddleware opened #466 "Button to generate template not displayed"
A button should be displayed gere to generate the template :
![image](https://user-images.githubusercontent.com/11330301/110533830-af00cf80-811e-11eb-90cd-88f02bf5e2df.png)

[2021-03-10 07:20] simonetravaglini commented on #434
Seems that was related to a bug in Vtiger connector.
We fixed.
@francescobianco can you release fix?

[2021-03-10 07:20] #434 closed, assigned to nobody

[2021-03-10 07:24] simonetravaglini opened #467 "Help on a particular scenario"
Hi,
I need to manage this scenario.
I import data from SQL to Vtiger.
In SQL I don't have ASSIGNED TO field. So during import I set it as fixed.
Then a user is assigned manually in CRM.
The problem is that on every update ASSIGNED TO come back to the fixed user.
There is a smart way to manage this situation from myddleware also if data are only from SQL to Vtiger?

@francescobianco

[2021-03-10 07:24] #331 closed, assigned to Myddleware

[2021-03-10 07:25] #293 closed, assigned to Myddleware

[2021-03-10 09:34] stlgaits commented on #466
The origin of the problem is linked to PrestaShopWebService.php file.

The following error is triggered, hence stopping execution and therefore the button doesn't appear :
`Bad HTTP response  ..\myddleware\src\Solutions\lib\PrestaShopWebservice.php line 144`

![image](https://user-images.githubusercontent.com/74190794/110607088-25d3b200-818b-11eb-840b-9fb3cf55a870.png)

which also throws the error

[2021-03-10 09:49] Myddleware commented on #467
Hi Simone,
I see only one "no code" solution.  You should create 2 rules :
 - rule 1 : your existing rule but set the parameter "Create data only" in the confirmation tab :
![image](https://user-images.githubusercontent.com/11330301/110608389-7dbee880-818c-11eb-940c-5b4a6b40de00.png)

 - rule 2 : this rule will only update your data, so map only the field you would like to update. You won't map th

[2021-03-10 10:37] stlgaits commented on #431
![image](https://user-images.githubusercontent.com/74190794/110616382-c4184580-8194-11eb-9213-79337d1fd816.png)
![image](https://user-images.githubusercontent.com/74190794/110616529-edd16c80-8194-11eb-86cd-2a9dca50b4da.png)

[2021-03-10 11:00] #431 closed, assigned to stlgaits

[2021-03-10 13:58] stlgaits opened #468 "AJAX requests going to wrong endpoints when using url: Routing.generate('example_path')"
All AJAX requests are going to the wrong endpoints since updating webpack.config.js to setPublicPath('./build') .

All requests seem to not take into account the dir1/myddleware/public  path from URL.

For example  instead of :
![image](https://user-images.githubusercontent.com/74190794/110640323-fdf74500-81b0-11eb-9993-c08eb00c153f.png)

The requests goes to http://localhost/rule/inputs

[2021-03-10 14:44] stlgaits opened #469 "Failed to get Task ID when running rule from browser"
![image](https://user-images.githubusercontent.com/74190794/110645986-bf648900-81b6-11eb-9a5b-9b287fe13302.png)
To recreate context :
I've used the following template
![image](https://user-images.githubusercontent.com/74190794/110646173-f175eb00-81b6-11eb-8025-fccfab1317dc.png)
When submitting to create the template, the validation requests sends the following error
![image](https://user-images.gi

[2021-03-10 14:59] stlgaits opened #470 "jobscheduler/getFieldsSelect AJAX request is made on almost every page (and fails) but it should not be made at all except on jobscheduler page"
This is thrown on almost every page even though it should only be in jobScheduler page

Here is an example on rule view page :

![image](https://user-images.githubusercontent.com/74190794/110648595-21be8900-81b9-11eb-9539-d341a2579a8e.png)
![image](https://user-images.githubusercontent.com/74190794/110648731-4286de80-81b9-11eb-9261-5fdedd600909.png)

![image](https://user-images.githubusercontent.

[2021-03-10 16:37] stlgaits commented on #466
I've added jobManager->orderRules() however I am not sure why  I get a circular reference error

![image](https://user-images.githubusercontent.com/74190794/110663455-bd0a2b00-81c6-11eb-8a58-b5f4fe88533a.png)

[2021-03-10 20:17] Myddleware commented on #466
Circular bug fixed and button is displayed

[2021-03-11 07:53] #465 closed, assigned to stlgaits

[2021-03-11 07:54] #457 closed, assigned to nobody

[2021-03-16 08:35] stlgaits opened #473 "CSS bug, tabs not displayed properly in rule creation"
![image](https://user-images.githubusercontent.com/74190794/111279424-faddd800-863a-11eb-98f4-ed740f6f4794.png)

[2021-03-16 08:48] stlgaits opened #474 "When clicking 'reload the document' or 'rerun the same record' message says 'no task ID given'"
![image](https://user-images.githubusercontent.com/74190794/111280539-42189880-863c-11eb-892b-b558a7b9b02d.png)

[2021-03-16 09:58] stlgaits opened #475 "App\Entity\Job object not found by the @ParamConverter annotation. when clicking on 'see details' after launching a new task"
![image](https://user-images.githubusercontent.com/74190794/111289767-c4598a80-8645-11eb-8ad6-e7e48efe9ab7.png)
![image](https://user-images.githubusercontent.com/74190794/111289859-dcc9a500-8645-11eb-9239-228530a1fa4b.png)

HTTPNotFoundException is thrown :
App\Entity\Job object not found by the @ParamConverter annotation.

Previous SQL request log :
`[2021-03-16 10:54:15] doctrine.DEBUG: SELECT

[2021-03-16 10:40] stlgaits commented on #466
The problem linked to Prestashop seems to not be fixed yet.
When running all rules from the tutorial (Prestashop to SuiteCRM) I get the following error
![image](https://user-images.githubusercontent.com/74190794/111296061-582e5500-864c-11eb-8acc-8098be32aa51.png)

[2021-03-16 14:02] stlgaits opened #476 "'Please wait' loading animation is not loaded"
![image](https://user-images.githubusercontent.com/74190794/111321799-90439100-8668-11eb-8470-d0e479dff12a.png)

[2021-03-16 14:25] stlgaits commented on #473
This bug only appears online but not on my local macine, will need to investigate further why this happens. Could be do to with the archive compiled by yarn.

[2021-03-16 15:02] stlgaits opened #477 "BUG : simulation request can run indefinetely if we don't select duplicate fields when creating a rule"
Scenario : I am following the tutorial from Prestashop to SuiteCRM.
https://myddleware.github.io/myddleware/#/basic_usage
![image](https://user-images.githubusercontent.com/74190794/111331272-064bf600-8671-11eb-9e54-aa6f035a2896.png)
![image](https://user-images.githubusercontent.com/74190794/111331306-0d730400-8671-11eb-831f-c9b6c2879e5d.png)

During step 6.1.2 Many To One Relationships, I was un

[2021-03-16 15:10] stlgaits commented on #477
Following on this, during step 6.2 Bidirectional rules, when I try to click on confirm, I get a 500 ERROR
![image](https://user-images.githubusercontent.com/74190794/111332326-f97bd200-8671-11eb-8d04-a0b3f1e48d49.png)
![image](https://user-images.githubusercontent.com/74190794/111332415-0d273880-8672-11eb-8881-aff2bb2ca27a.png)

[2021-03-16 15:13] stlgaits commented on #477
` php.CRITICAL: Argument 1 passed to App\Entity\RuleParam::setRule() must be an instance of App\Entity\Rule or null, string given, called in .......\myddleware\src\Controller\DefaultController.php on line 2223 {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Argument 1 passed to App\\Entity\\RuleParam::setRule() must be an instance of App\\Entity\\Rule or

[2021-03-16 15:29] stlgaits commented on #477
In fields mapping for 6.1.2 (addresses & accounts) , the 'name' field is now compulsory, but there's no 'email' field and therefore I'm not sure the relationship works (need to double check). I think we should update the tutorial documentation to reflect this :
![image](https://user-images.githubusercontent.com/74190794/111335224-8031ae80-8674-11eb-9a69-add9f3850a35.png)
![image](https://user-imag

[2021-03-17 10:04] stlgaits opened #478 "Bug : in Edit Connector view, loader GIF not found (wrong URL)"
![image](https://user-images.githubusercontent.com/74190794/111444631-dc471200-870a-11eb-8039-92c4ba4a9048.png)
![image](https://user-images.githubusercontent.com/74190794/111450199-72316b80-8710-11eb-998c-572b3ea7ec25.png)

[2021-03-17 14:43] stlgaits opened #479 "doctrine:schema:update --force generates errors by trying to access config table before the DB is actually generated"
![image](https://user-images.githubusercontent.com/74190794/111485859-483f6f80-8737-11eb-9a02-911eb9ad4e9b.png)
The error is generated both in browser (install/database/connect) and in command line.
The error does not block execution as the database is eventually created, however it generates unnecessary messages which could confuse user.

[2021-03-17 17:15] Yuvarajsfcloud commented on #363
@Myddleware - We are still hanging with the issue on the update.

![image](https://user-images.githubusercontent.com/44530191/111509058-58c10b80-8772-11eb-8eed-b3c9a936b26c.png)

Based on the given screenshot, we could identify that createpassword field should not be set when we try to update the user in moodle.

How do we implement conditional field assignment in the rule ?

[2021-03-17 17:50] Myddleware commented on #363
Hi @Yuvarajsfcloud

Thats's a great idea to be able to create a formula with a type of the document (Update/créate/delete/search) as a variable in the formula. Another thing, we will create a formula function which remve the field. By this way, we coudl create a formula like : if we send an update to Moodle then remove field password.

But we won't be able to develop ot in the few next weeks as we

[2021-03-18 05:06] Yuvarajsfcloud commented on #363
we do some existing records in our target system which are not created through the Myddleware. when we create any record in source system which already exist in target , myddleware will try to update by using the email & username.

If we go with your workaround by creating two rules , one for create & another for update. when the above scenario occurs, the second rule will not find the ID in the f

[2021-03-18 07:15] simonetravaglini opened #480 "How to add orders with product not sync"
Hi,
how I can manage this situation.
I import orders from a DB to Vtiger. Orders lineitems have products with a product code that is the same of vtiger one. But I don't have a table of products in DB to generate first rule that then I use to link products to lineitems.
There is a smart way to manage this situation?

[2021-03-18 08:17] #478 closed, assigned to stlgaits

[2021-03-18 08:22] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Yes you are right. In this case I don't see another way than to develop a custom code.

Here is a code that could help (I didn't test it but it should work). It is an upgrade safe code because we redefine Moodle connector properly :
Create the file myddleware\src\Myddleware\RegleBundle\Custom\Solutions\moodle.php
Then copy this code and replace "your rule id" :
[code]
Hope it

[2021-03-18 08:27] stlgaits opened #481 "CSS on create new jobscheduler needs margins"
![image](https://user-images.githubusercontent.com/74190794/111595118-15938680-87cc-11eb-96ea-171b1a0eaed1.png)

[2021-03-18 08:33] Myddleware commented on #467
Hi Simone,
For information, this solution should also work : https://github.com/Myddleware/myddleware/issues/363#issuecomment-801727414
If you apply this custom code (add checkDataBeforeUpdate in vtiger custom connector not the module one in your case), you won't need to create the second rule.

[2021-03-18 08:40] simonetravaglini commented on #467
thanks I will check!

[2021-03-18 08:49] Myddleware commented on #480
Hi Simone,
I see 2 ways to do this :

1. Create a custom code that get the product id using the product code for all line items before sending the order to Vtiger. You can redefine the funtction checkDataBeforeCreate in Vtiger connector to do that.
2. Create a second rule for product based on your Orders lineitems table in your DB as the source module. The target module would be the product. You w

[2021-03-18 08:53] simonetravaglini commented on #480
Hi,
in case of second choice, can I do a rule from Vtiger to Vtiger on product or need to do from DB to Vtiger?

[2021-03-18 09:11] Myddleware commented on #480
Hi @simonetravaglini ,
You need a rule DB to Vtiger. Myddleware need the correspondance between each orderline item ID and product Id.

[2021-03-18 09:12] stlgaits commented on #481
![image](https://user-images.githubusercontent.com/74190794/111601161-027fb700-87ca-11eb-9120-eae2b5e06c3f.png)
fixed creation, however same issue arises with edit and still needs to be fixed

[2021-03-18 09:13] stlgaits commented on #481
current edit view
![image](https://user-images.githubusercontent.com/74190794/111601337-2ba04780-87ca-11eb-994a-362c00c8368b.png)

[2021-03-18 09:27] stlgaits commented on #481
![image](https://user-images.githubusercontent.com/74190794/111603255-72933a80-87d4-11eb-8bdc-d5d778c4b3eb.png)
edit view is now fixed, however this still remains an issue on this page https://github.com/Myddleware/myddleware/issues/470

[2021-03-18 09:28] #481 closed, assigned to stlgaits

[2021-03-18 09:50] stlgaits commented on #470
![image](https://user-images.githubusercontent.com/74190794/111606462-868c6b80-87d7-11eb-9875-4bcc6041cf89.png)
#481
The request URL has been changed for edit jobscheduler page, so now the AJAX request will first fail then succeed.
However, we still need to deal with the fact that this file / function should NOT be called on every single page of the application but only on the jobscheduler pages.

[2021-03-18 10:09] #470 closed, assigned to Myddleware, stlgaits

[2021-03-18 11:16] stlgaits commented on #476
![image](https://user-images.githubusercontent.com/74190794/111617784-dcffa700-87e3-11eb-92a3-2e2e1ac563c0.png)

[2021-03-18 11:17] #476 closed, assigned to stlgaits

[2021-03-18 14:42] stlgaits commented on #466
![image](https://user-images.githubusercontent.com/74190794/111644772-6d4be500-8800-11eb-91da-423f639c4685.png)
closing this issue as the button works fully and opening issue regarding prestashopwebservice.php

[2021-03-18 14:42] #466 closed, assigned to stlgaits

[2021-03-18 14:44] stlgaits opened #482 "Prestashop connector has a BAD REQUEST issue linked to PrestashopWebservice"
Following on initial issue https://github.com/Myddleware/myddleware/issues/466

https://github.com/Myddleware/myddleware/commit/3f035c087b36a0ec901e98b7baeb3e41491149cf
https://github.com/Myddleware/myddleware/commit/846c0e7441a97cf55de0e57505656440aacadaae

[2021-03-18 15:12] #468 closed, assigned to stlgaits

[2021-03-22 08:15] simonetravaglini opened #483 "If relation fails should "skip""
Hi,
when runnig a rule with relation, if relation fail (id it's not found on related rule) than we get error. Sometimes should be better if we get a warning, but record it's sync. What do you think about?

[2021-03-22 14:02] stlgaits commented on #469
![image](https://user-images.githubusercontent.com/74190794/112001862-a1384a80-8b1f-11eb-9d7d-5440b8e36db1.png)

[2021-03-22 14:18] stlgaits opened #484 "Can't open document anymore from documents list"
When you click on the document ID, it just reloads the same page
⚠️ This only happens when the document is in error. Lin,ks to documents that are not in error are behave normally and do send to the document page.
![image](https://user-images.githubusercontent.com/74190794/112004026-b57d4700-8b21-11eb-9e2a-f494fa09cae0.png)

[2021-03-22 14:24] stlgaits commented on #484
Error message sent by FluxController.php line 610 :
`An exception has been thrown during the rendering of a template ("Notice: Array to string conversion"). ....\myddleware\templates\Flux\view\view.html.twig 142`

[2021-03-22 14:45] stlgaits commented on #484
This was triggered because I mapped a field which contains arrays. To be more precised I mapped the field 'tags' from Woocommerce, which is an array of arrays.
Not exactly sure how to proceed as even though this is human error, we should still be able to view the document...? @Myddleware

[2021-03-22 14:53] stlgaits opened #485 "Woocommerce simulation returns no results"
![image](https://user-images.githubusercontent.com/74190794/112009349-96cd7f00-8b26-11eb-9669-2d3e9a444102.png)
There should be at least 3 transfers for my rule Woocommerce Products to Vtiger but I get none, be it when running simple simulation or specific simulation with an ID.

[2021-03-22 14:58] stlgaits opened #486 "ERROR when clicking 'cancel documents' (for superadmins)"
![image](https://user-images.githubusercontent.com/74190794/112010058-3ee34800-8b27-11eb-9921-fddee10abc82.png)
And the URL generated is completely wrong (the message is sent instead of the jobID) :
![image](https://user-images.githubusercontent.com/74190794/112010179-5e7a7080-8b27-11eb-9b79-fe13881ad6ff.png)

[2021-03-22 15:12] stlgaits commented on #475
This comes back when changing to
`$this->message .= $this->tools->getTranslation(array('messages', 'rule', 'another_task_running')).';'.$job['id'];`
in JobManager.php line 326

[2021-03-22 15:26] stlgaits commented on #474
This is what I get when trying to cancel a document in error
`console.ERROR: Error thrown while running command "myddleware:massaction cancel document "6058a64a909321.75720676" Y --env=dev". Message: "Notice: Undefined index: job" {"exception":"[object] (ErrorException(code: 0): Notice: Undefined index: job at ....myddleware\\src\\Command\\MassActionCommand.php:104)","command":"myddleware:massacti

[2021-03-22 15:36] Yuvarajsfcloud commented on #363
We are facing issue with the above code. please help us out. looks like it is unable to load the class.

[2021-03-22 11:18:15] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\ClassNotFoundException: "Attempted to load class "moodle" from namespace "Myddleware\RegleBundle\Solutions". Did you forget a "use" statement for another namespace?" at D:\Inetpub\Web\PDC\pdcwebp002

[2021-03-22 15:41] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Could you try to clear your cache. You can remove the directory D:\Inetpub\Web\PDC\pdcwebp002vw.state.in.us\myddleware\var\cache\prod
Please let me know if it helps.

[2021-03-22 23:17] Myddleware commented on #483
Hi Simone,
We want to kee the error when a relation fails. However, it is possible to skip the error with a small custom code in the class document. Please create the custom file src/Myddleware/RegleBundle/Custom/Classes/document.php and add this code :

[code]
Please let me know if it works.
Have a nice day.

[2021-03-24 08:32] stlgaits opened #487 "Magento simulation shows errors for orders & orders items, but no problem when running the rule"
![image](https://user-images.githubusercontent.com/74190794/112278838-8a126d80-8c83-11eb-88b6-3621c318f9e4.png)
I get errors displayed directly on the simulation view and the content is empty
![image](https://user-images.githubusercontent.com/74190794/112279004-b4642b00-8c83-11eb-954e-10ccca61c65f.png)
However I was able to run the rule without any issues
![image](https://user-images.githubusercon

[2021-03-24 15:13] Yuvarajsfcloud commented on #363
It doesn't work. Could you please check & provide us the correct resolution?

[2021-03-25 14:55] francescobianco opened #488 "Manually set LAST RUN to DEFINE time to start in daily RULES"
Manually set LAST RUN to DEFINE time to start in daily RULES (for JOB)

I require an easy way to set the exact time to start a RULE every day, If I set 1440 is good but LAST  RUN depends by my first manyal execution.

![Clipboard - 25 marzo 2021 15_46](https://user-images.githubusercontent.com/472171/112493507-84e81800-8d82-11eb-9383-a0161e54cbfb.png)

@simonetravaglini

[2021-03-25 18:59] Myddleware commented on #488
Hi @francescobianco ,
Sorry I didn't understand what you would like. "Last run" should contain a date ?

For information, when we need to run a specific rule at a specific time, we set up directly the crontab whith the command :
`php bin/console myddleware:synchro <your rule id> --env=background`
Maybe it could help.

[2021-03-25 19:12] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Did you put `<?php` at the very beginning of your file ?
Have a nice day,

[2021-03-29 14:58] simonetravaglini opened #491 "Scheduled run is slower"
Hi, if we run same task manually or scheduled we have different result in time need.
Manually we need 1.30h, scheduled 12h

seems that problem is related to transformation
![image](https://user-images.githubusercontent.com/6990139/112856309-efb19000-90af-11eb-9941-4e970242fa29.png)

[2021-03-29 15:14] francescobianco opened #492 "Escape is un-implemented"
In this class database.php the escape function is un-implemente it break any query with strange symbol like " ' " the "quote" symbol.

https://github.com/Myddleware/myddleware/blob/1aee1d7c88269caed104fe3b3e75e24cf9f4e8a9/src/Myddleware/RegleBundle/Solutions/database.php#L721

Our solution in MSSQL DB was symply but it works only for this type of DB
please provide a solution for MYSQL database or

[2021-03-29 19:55] Myddleware commented on #491
Hi @simone, could you tell us how many records has been read for both tasks please ?
Thanks.

[2021-03-29 21:05] simonetravaglini commented on #491
7.000

[2021-03-30 08:28] stlgaits commented on #492
Hello @francescobianco ,
I've tried to reproduce this issue with my local MariaDB 10.4.10 & MySQL 8.0.18 and there was no problem for me. Could you give me more details? What version of MySQL are you using?
TIA
Here's the test transfers I  made :
![image](https://user-images.githubusercontent.com/74190794/112958112-6b5c1d00-9142-11eb-9b5c-95648e9253a0.png)
![image](https://user-images.githubuserco

[2021-03-30 11:42] simonetravaglini opened #493 "Problem with formula"
Hi,
i'm just using this formula:
{CRMCONTO} == "" ? {COD_CLIENTE} : {CRMCONTO}
but I got error
Error : Invalid formula (failed to retrieve formula) : {CRMCONTO} == "" ? {COD_CLIENTE} : {CRMCONTO} /var/www/html/src/Myddleware/RegleBundle/Classes/document.php Line : ( 1286 )

If I use something like:
{CRMCONTO} == "" ? "hello" : {CRMCONTO}
I get no error.
What's wrong on my first formula?

[2021-03-30 11:42] simonetravaglini commented on #491
@Myddleware as said 7000 record every time, and we need to reload all every night.

[2021-03-30 13:41] Myddleware commented on #493
Hi @simonetravaglini ,
Did you add both fields ({COD_CLIENTE} and {CRMCONTO}) in the field list of the formula, like this :
![image](https://user-images.githubusercontent.com/11330301/112998518-657c3100-916e-11eb-8331-2d903983d0c3.png)

[2021-03-30 14:45] simonetravaglini commented on #493
@Myddleware thanks your tips solve the issues

[2021-03-30 14:45] #493 closed, assigned to nobody

[2021-03-30 15:34] Yuvarajsfcloud commented on #363
Thanks for the response. it did resolve the syntax issue. after we update the code & try to do an update. It worked partially. Please help us with the below issues.

Find below the code we used.

namespace Myddleware\RegleBundle\Solutions;

use Symfony\Bridge\Monolog\Logger;
use Symfony\Component\Form\Extension\Core\Type\PasswordType;
use Symfony\Component\Form\Extension\Core\Type\TextType;

// Mo

[2021-03-30 16:47] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Could you create another issue in this forum for the issue 2# please as it is another topic ? Thanks.

About issue#1, this is really weird that the field "createpassword" is missing in your data transfer. Because the code we gave you remove createpassword on the fly just before Myddleware send data to Moodle. This code doesn't remove any data into Myddleware. Are you sure that

[2021-03-30 16:54] Myddleware commented on #491
Hi @simonetravaglini ,
The function call when a task is executed from Myddleware UI is the same than the one executed by the scheduler. The only difference could be the php.ini (php version) that could be different between the task executed by a cran and a task executed by a browser. But it doesn't explain the different of task duration.
Do you use a share server that could explain that the server

[2021-03-30 17:57] francescobianco commented on #492
Hi @EstelleMyddleware could you please use MySQL as Target

[2021-03-30 20:58] simonetravaglini commented on #491
@Myddleware hi, server should be not bad and is a dedicated server. We can't understand difference in performance if not related to the fact that are scheduled. I know about myddleware3, but we investigate to try to solve in present version...

[2021-03-30 21:23] Myddleware commented on #491
Hi @simonetravaglini ,
I have another idea. When you run a task with the scheduler, it execute all active rules, not only one like with a manual execution.
So maybe, other rules has data transfer ready to send that will be added to the 7000 data transfer of your rule. So the task has more data transfer to send with the scheduler task. Even if it is just a few thousands more, it can make a huge dif

[2021-03-31 07:22] simonetravaglini commented on #491
Hi @Myddleware
we have only this rule active...
We confirm that if launched manually need 1h 30 min, scheduled 12h

[2021-03-31 07:22] simonetravaglini commented on #491
![Clipboard - 31 marzo 2021 09_22](https://user-images.githubusercontent.com/6990139/113106102-a6258a00-9202-11eb-895b-8fc9bdcab838.png)

[2021-03-31 07:54] Myddleware commented on #491
OK thanks @simonetravaglini ,
Maybe other job (rerun error for example) are running.
If you have only this rule active, could you set actve = false for both synchro job (2 first lines). Then in you crontab could you schedule this task :
`php bin/console myddleware:synchro <your rule id> --env=background`

Please let me know if the task duration is 1h30 or more.
Thanks.

[2021-03-31 11:44] Yuvarajsfcloud commented on #363
Yes . I have double checked it. Please help us out what could have went wrong.

[2021-03-31 14:31] stlgaits commented on #492
Hi Francesco, I tried with MySQL as target and indeed there were problems, so I've taken the escape function from MSSQL and moved it to database.php and was able to transfer to and from MySQL  with special characters and '  '  . See my test below :
![image](https://user-images.githubusercontent.com/74190794/113161271-83b16200-923e-11eb-9b73-06f28f899a8e.png)

So try with https://github.com/Myddlew

[2021-03-31 14:47] Yuvarajsfcloud commented on #363
Additional screenshots for your reference.

![image](https://user-images.githubusercontent.com/44530191/113161949-7a36f280-925c-11eb-9403-0a8c48163285.png)

Observed something weird .

Though the transfer is failed, users are getting created at the moodle end. I believe something going wrong in the myddleware.

Overall functional status

- Update is working without any issues.
- Create is also wor

[2021-03-31 15:32] simonetravaglini opened #495 "Condition filter: is empty"
Hi,
could be very usefull hav in filter condition is empty / is not empty.
Why is missing? There is a way to set it with others conditions?

[2021-03-31 15:40] Myddleware commented on #495
Hi @simonetravaglini ,
You can set "is equal to" or "is not equal to" and leave the field on the right empty :
![image](https://user-images.githubusercontent.com/11330301/113171777-1c001480-9248-11eb-92af-20694bad8a60.png)

It should work as you expect.
Hope it helps

[2021-03-31 16:00] #495 closed, assigned to nobody

[2021-03-31 23:06] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Yes you 're right, you need the message returned by Moodle to get the Moodle Id of the record created.

Error unknown is an error we add into Myddleware when we get no result from Moodle which isn't normal. It means that something goes wrong into Moodle when you create a user, maybe a fatal error that happened between the user creation in Moodle and the message that should be

[2021-04-01 08:28] Yuvarajsfcloud commented on #363
![image](https://user-images.githubusercontent.com/44530191/113265853-3b537c00-92f2-11eb-94b1-83ed30529489.png)
I don't see any errors in the Moodle logs.

[2021-04-01 13:57] simonetravaglini opened #497 "woocommerce special char"
Hi special char from woocommerce products are transformed
![image](https://user-images.githubusercontent.com/6990139/113305019-e66c3180-9302-11eb-902c-a5066b519d85.png)
in this case - is transformed

[2021-04-01 19:46] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
You should have a log somewhere. If the execution was stopped because of fatal error, the log should be on your webserver or your MySQL database.
Could you check ?
Thanks.

[2021-04-04 13:59] kirangaruda commented on #198
There is a typo Change the variable $RuleMode to $ruleMode. It worked for me

[2021-04-06 22:35] Myddleware commented on #497
Hi @simonetravaglini ;
I don't see any transformation between these 2 columns in Myddleware. So I guess what you have in your source (Woocommerce) isn't `[....] ONLINE &#8211; Accade[....]`
Could you just tell me what you have in Woocommerce and we will try to reproduce this issue.
Thanks.

[2021-04-07 04:10] rulotec opened #498 "Broken image link at rule creation"
when you want to create a rule, you see this:

![image](https://user-images.githubusercontent.com/36896420/113809039-e8802700-972c-11eb-856e-d2d865cf7472.png)

If you take a look at the html source for the squares, you'll see this:

![image](https://user-images.githubusercontent.com/36896420/113809065-fc2b8d80-972c-11eb-9c26-0f44fb30372e.png)

I guess it's just a placeholder that's meant to have a

[2021-04-07 06:25] simonetravaglini commented on #497
@Myddleware
we have
Disegno e fumetto ONLINE - Accademia Kids

so &#8211; substitute -

[2021-04-07 06:54] stlgaits commented on #498
Hello and thank you for your feedback,  you are right this is simply used to signify that you haven't yet selected a connector, once you do, the appropriate connector's image is displayed with an animation. I am not too sure what it could be replaced with, but if you have any suggestions please don't hesitate :)

[2021-04-07 16:12] Yuvarajsfcloud commented on #363
Before implementing the above custom code, we didn't get any error during user creation. we are unable to find the error logs for it. Please help us .

[2021-04-07 16:30] Myddleware commented on #363
Hi @Yuvarajsfcloud ,
Could you comment the code and check you don't have the error ?
However, if the process is stopped in Moodle it means that an error happens so you should definitely have a error on your web server log. Do you have Apache or Nginx on the server which host Moodle ?

[2021-04-07 22:35] Myddleware commented on #497
Thanks @simonetravaglini

I have tried to reproduce the issue but I can't. I have created a product with your product name :
![image](https://user-images.githubusercontent.com/11330301/113942964-09ff1280-9802-11eb-89f8-57377ad1a04f.png)

In Myddleware, nothing is replaced in the product name :
![image](https://user-images.githubusercontent.com/11330301/113943046-2c912b80-9802-11eb-896c-0430ee1e092

[2021-04-08 06:05] simonetravaglini commented on #497
Hi,
I've give a deep look and correct name is:
Disegno base ONLINE – Accademia Kids
seems that – is different from -
could be this char the problem?

[2021-04-08 13:03] francescobianco opened #499 "Problem in database source without 'date_ref' field"
We found this problem when try to sync from a MSSQL database table without 'date_ref'

[code]
## How to reproduce

Source MSSQL or MySQL
[code]

Target a Vtiger CRM in Contacts module

Mapped as follow
![Screenshot from 2021-04-08 15-00-45](https://user-images.githubusercontent.com/472171/114031032-40c53f00-987b-11eb-8565-a9d508f69ec3.png)

Confirmation with this
![Screenshot from 2021-04-08 15-01

[2021-04-08 13:49] Myddleware commented on #497
Hi @simonetravaglini
We still can't reproduce it :
![image](https://user-images.githubusercontent.com/11330301/114038075-d95ebd80-9881-11eb-8fc7-6bb2f1f2b0b5.png)
This char seems to not be the problem.
Have a nice day.

[2021-04-08 18:02] Myddleware commented on #497
Hi Simone,
Could you add a formula to convert your special characters ? Use the function like this :
`htmlEntityDecode( {name}, ENT_NOQUOTES)`
![image](https://user-images.githubusercontent.com/11330301/114074808-15574a00-98a5-11eb-8520-c285a47d79a9.png)

Here is the result we get :
![image](https://user-images.githubusercontent.com/11330301/114074943-3e77da80-98a5-11eb-8a02-6148102716d6.png)

Ple

[2021-04-09 00:00] rulotec commented on #498
I guess you could use an actual image in the src attribute of the img tag. When selecting a source, just replace that src attribute. Another approach would be to use maybe a div instead of a img tag, and replace it once the source is clicked.

[2021-04-09 06:16] simonetravaglini commented on #497
thanks we check and let you know, could be a good solution!

[2021-04-10 14:48] francescobianco opened #500 "Mssql error with "00000" and not much more"
We have some problems with MSSQL database because when it get error show empty message, the only value exposed to the error message is a string with '00000'. As explained here this is a bad behavior of PDO

- <https://stackoverflow.com/questions/11519966/pdo-sql-state-00000-but-still-error>

The suggested solution is based to the usage of different error handling

[code]

our solution is like this

[2021-04-13 14:41] stlgaits commented on #500
Hello @francescobianco. and thank you very much for this. We will add your custom code to the standard very soon as we think it's a good solution for error handling.

For your question about Versions table, I'm not sure I entirely understand what you mean. Could you give me more details & clarification about what you would like to do?

[2021-04-13 22:41] rulotec opened #501 "How to add an update field criteria to a connector"
I'm using myddleware to copy records from Facebook to Vtiger.

At the last step of the Rule creation I get the following:

![image](https://user-images.githubusercontent.com/36896420/114629965-2b875080-9c7f-11eb-8b74-f3567ca16455.png)

I'd like to add a new field as duplicate criteria. Above there is email and lastname. I'd like to add phone. How can I do that?

I'd also like to ask how does the u

[2021-04-13 22:48] rulotec opened #502 "How to set a starting point for sync records"
I'm copying fields from facebook to vtiger. I'ed like to be able to only import records created from a specific date onward. Let's say I'm starting today 13 April and I don't want to get records created before today.

In the filters step of the rule creation I can only filter based on the records that exist in my source and I don't have the creation date among those. What can I do?

![image](https

[2021-04-14 07:19] stlgaits commented on #502
Hello.
Even though your records do not have a creation date field, you can chose the date when you start reading the data from.

- For this,  you must finish the process of creating the rule and save it.
- Then, you click on that rule and you go to the parameters tab.
![Capture d’écran 2021-04-14 091253](https://user-images.githubusercontent.com/74190794/114669199-e8ba8c80-9d01-11eb-989b-14de29346

[2021-04-14 07:25] francescobianco opened #503 "Deleted record Matrix"
This matrix is to explore the wide range of possibility to manage deletions of records

| Features | Source Database (discover) | Source Vtiger CRM (discover) | Target Database (apply deletion) | Target Vtiger CRM (apply deletion) |
| --- | --- | --- | --- | --- |
| Hard Delete | ? | ? | ? | ? |
| Soft Delete with flag | ? | ? | ? | ? |

## Discover

Discover stands for check if in the source ther

[2021-04-14 07:44] stlgaits commented on #501
Regarding the update feature first, the way it works is it overwrites fields that have been modified since the reference date, therefore it doesn't really 'matter' whether the field was empty or not as it will be overwritten if there is a change.
As for adding 'phone' to your duplicate criteria, you would need to add a bit of custom code for your target connector (so if it's Vtiger for instance, y

[2021-04-14 07:51] matteo-opencrmitalia commented on #423
@Myddleware try this function on your demo ( http://www.crmconsult.com/livedemo/myddleware/web ) with mysql as source and vtiger as target and i can't use deletion flag.

![image](https://user-images.githubusercontent.com/60502629/114673841-ead31a00-9d06-11eb-9c9c-6577b5cae466.png)

[2021-04-14 11:56] Myddleware commented on #423
Hi @matteo-opencrmitalia ,

We have updated the demo instance. It should be fine now.

You have to select a solution which allows to read delete data in source, like SuiteCRM or MySQL, if  you want to see the deletion parameter in the rule.

Let me know if you have any proble.

[2021-04-14 14:32] stlgaits commented on #503
Hello here is what is possible or not at the moment

Features | Source Database (discover) | Source Vtiger CRM (discover) | Target Database (apply deletion) | Target Vtiger CRM (apply deletion)
-- | -- | -- | -- | --
Hard Delete | No | No | Yes | Delete function called - don't know if it is hard or soft delete
Soft Delete with flag | Yes | No | Yes | Delete function called - don't know if it is ha

[2021-04-14 23:58] rulotec commented on #502
Thaks a lot!

[2021-04-14 23:58] #502 closed, assigned to nobody

[2021-04-15 00:27] rulotec commented on #501
Thanks Estelle, it worked perfectly!

[2021-04-15 00:27] #501 closed, assigned to nobody

[2021-04-15 00:31] rulotec opened #504 "Can't create a rule with the same name as one that existed but is deleted"
I cant create a rule with the name "Multivitamin Abril":

![image](https://user-images.githubusercontent.com/36896420/114796921-ac198000-9d57-11eb-9b03-83d8e97c920e.png)

In my rules I have the following:

![image](https://user-images.githubusercontent.com/36896420/114796994-cce1d580-9d57-11eb-9eef-0ba10e0694c7.png)

"Multivitamin Abril" used to exist but was deleted.

I'm not sure whether this is

[2021-04-15 00:38] rulotec opened #505 "Can't delete rule because there is "at least one data transfer not deleted on this rule", but all are canceled or sent"
Im getting this error:

![image](https://user-images.githubusercontent.com/36896420/114797242-5abdc080-9d58-11eb-8b80-ffd897a0f828.png)

However all my transfers are in status "Send" or "Cancel":

![image](https://user-images.githubusercontent.com/36896420/114797327-89d43200-9d58-11eb-9880-703036591dbf.png)

I tried to find a way to "remove" the transfers as the error suggests but it doesn't seem

[2021-04-15 06:46] stlgaits commented on #504
Hi, simply remove one or two characters and type it again and you will be able to save it.

[2021-04-15 08:52] Myddleware commented on #499
Hi @francescobianco ,
Sorry, I forgot your message. Yes it is a case that Myddleware doesn't manage.

Can you create a filed that is automatically updated everytime a record in your table A_Personne is modified :
`ALTER TABLE `A_Personne` ADD `date_modified` TIMESTAMP on update CURRENT_TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP AFTER `date_modified`;`

We have already done that with SuiteCRM and

[2021-04-15 10:05] simonetravaglini opened #506 "Filter on a source field not mapped"
Hi,
frequently I need to filter record of source basing on a field of source that is not mapped.
Becouse not mapped it's not available on filter step.
There is a workaround to manage these situations?

[2021-04-15 12:21] Myddleware commented on #506
Hi Simone,
Yes there is a workaround, you can map the field without using it. For example, if I want to filter on "deleted" field without mapping it, you can add it with another field (here last_name) but but only last_name in the formula :
![image](https://user-images.githubusercontent.com/11330301/114867950-aa9e9500-9df5-11eb-9f0c-ac27f1deb100.png)

The you will be able to filter on deleted fiel

[2021-04-15 12:40] #506 closed, assigned to nobody

[2021-04-15 13:25] stlgaits commented on #505
Hello, you need to have the role super admin to be able to remove transfers in error.
Here is the procedure to do so :
Go to your myddleware root folder and type the following command (replace myddleware_username by your actual username) :
`php bin/console fos:user:promote myddleware_username ROLE_SUPER_ADMIN -e prod`
Then go back to your rule's information tab and click on the button delete trans

[2021-04-16 06:53] simonetravaglini opened #507 "How to manage inventory when not having a rule on product"
Hi,
another help need.
I've to manage this situation.
I've product with an ID in my CRM
I've a source to import with orders and lineitems, where in lineitems I've the ID of product.
But I dont' have a rules on product, so not sure how I can identifiy product to add from CRM.
Should I create a "fake" rule or custom code?

[2021-04-16 06:54] #497 closed, assigned to nobody

[2021-04-16 06:56] simonetravaglini commented on #507
Sorry duplicate I close

[2021-04-16 06:56] #507 closed, assigned to nobody

[2021-04-16 07:08] simonetravaglini commented on #480
@Myddleware shuold I use:
retrivieng existing data or  create and update? (only update it's not available)

[2021-04-16 07:28] francescobianco commented on #491
@Myddleware @EstelleMyddleware

Unfortunately, even the execution of the rule placed in the CRONTAB did not have the speed we expected.
It take more than 10hours (for 10000 records)

@simonetravaglini @edoardobozolo

[2021-04-16 09:41] francescobianco commented on #499
Sorry @Myddleware
This problem borns because we can't alter the source database adding the missing field.

What's the way when we have a "database source without 'date_ref' field"

@simonetravaglini

[2021-04-16 09:57] simonetravaglini commented on #499
another issue related to this topic is that at the end of run the reference data have value of field
![image](https://user-images.githubusercontent.com/6990139/115007992-e34c7600-9eaa-11eb-836f-dd6b39c6b971.png)

[2021-04-16 12:41] Myddleware commented on #480
@simonetravaglini ,
You should use retrieving data as your line item product in your source application shouldn't create any product into your target application.
Have a nice day.

[2021-04-16 12:54] Myddleware commented on #491
Hi @francescobianco ,
I am not surprised, performances of Myddleware version 2 becomes very bad after 2000 records read. It won't be the case with Myddleware 3, but this version isn't 100% ready yet.

We could think about another solution using offset as reference . We could set the limit of the rule to 1000 as it s recommanded with Myddleware 2. Then each time the rule runs, we would update the o

[2021-04-16 17:57] Myddleware commented on #503
Sorry we have updated the database connector recently

Features | Source Database (discover) | Source Vtiger CRM (discover) | Target Database (apply deletion) | Target Vtiger CRM (apply deletion)
-- | -- | -- | -- | --
Hard Delete | Yes | No | Yes | Delete function called - don't know if it is hard or soft delete
Soft Delete with flag | Yes | No | Yes | Delete function called - don't know if it is

[2021-04-16 18:04] Myddleware commented on #499
Hi @simonetravaglini ,
We found the bug and we have fixed it : https://github.com/Myddleware/myddleware/commit/629226f070f6c2b5103aa6e13c65fa5ccb72291c

[2021-04-16 18:06] Myddleware commented on #499
Please install version 2.5.7h

[2021-04-16 22:37] rulotec commented on #504
Thanks Estelle. Yes, that is exactly what I did (see the rules list in my previous comment). However I reported it because to me it seems to be a bug. Unless (for some reason) that behavior is intentional.

[2021-04-16 22:54] rulotec commented on #505
Thanks for the tip! One question, is it safe to delete a rule when all transfers are in either "cancel" or "send" state? If so, why not let the user delete the rule without having to delete the transfers?

[2021-04-16 23:16] rulotec opened #509 "How to fix alert "A job is running beyond the limit you have set up""
Hi, I'm getting this email every 30 min:

Does "Job" refer to a "Transfer"? If so, how can I find it? I couldn't find a way to filter by `Doc Id`:

![image](https://user-images.githubusercontent.com/36896420/115093401-cda57380-9edf-11eb-91e8-32911c3fbc0f.png)

[2021-04-19 08:54] stlgaits commented on #509
Hello,

You need to stop the task that is currently running. To do so, go to the 'Tasks' tab
![image](https://user-images.githubusercontent.com/74190794/115208723-2aca4080-a0fd-11eb-94ad-c8238bfbc854.png)
select the correct task that has transfers in error and there you should have a button saying 'Stop Task' .
![image](https://user-images.githubusercontent.com/74190794/115208943-68c76480-a0fd-11e

[2021-04-19 13:45] Yuvarajsfcloud commented on #363
we just get "Error_Sending" on the logs

[2021-04-19 13:52] Myddleware commented on #363
HI @Yuvarajsfcloud ,
This is a log coming from Myddleware I guess. You need to check the web server log (apache or nginx or other) from the server where Moodle is intalled.
Have a nice day.

[2021-04-19 16:47] rulotec commented on #509
Thanks for the tip!

However,I don't see tasks with errors. I have 50 pages with tasks and I searched all of them.

In the notification, there is an ID (5f0e9b6606dac4.21814008) but there's no way to search by ID. Even I tried by first going to another task and then replacing the ID in the URL, but there's no contents: `https://my-myddlware-instance/app.php/rule/task/view/5f0e9b6606dac4.21814008/l

[2021-04-19 16:49] rulotec commented on #509
Also, I have two myddlewre instances. I searched in both of them. But from the notification, how do I know from which instance it is coming from?

[2021-04-19 16:55] Myddleware commented on #509
Hi @rulotec ,
The open task are displayed in fisrt position so if you don't see it in the fist page, it is because there is an issue somewhere.
Could you check your Myddleware database by searching the task Id you have in  the table Job  ? If you find a task, we would be very interested in having a screenshot to try to reproduce the issue.

If you find it in your database, you can also change manu

[2021-04-19 18:19] Myddleware commented on #505
Hi @rulotec ,
It isn't possible to remove a rule if there are data transfers linked to it (foreign key restriction in the database). So all the data transfers have to be removed before the rule is removed.
By the way, it is just a soft deletion (flag deleted = 1) in the database. So it is possible to restore a rule or data transfers.

[2021-04-19 18:23] Myddleware commented on #504
Hi @rulotec ,
Myddleware doesn't remove completely the rule but only set the flag deleted = 1 in the database because it is possible to restore a rule. And, in Myddleware, it isn't possible to have 2 rules wth the same name. It is the reason why you can't set the same name to 2 rules, even if one of them is removed.
However, if it is important for you to set the same name, you can change the name

[2021-04-19 18:33] rulotec commented on #504
But the end user can't restore the rule, can he? To restore a rule I would have to edit mentioned flag in the DB, right?

[2021-04-19 18:38] rulotec commented on #505
If it's just a soft deletion, then the foreign key restriction doesn't matter, right?

IMHO, I think you should either give the ability to delete transfers that are in status cancel or send, or be able to delete the rule when all transfers are in status cancel or send.

[2021-04-19 18:46] Myddleware commented on #504
Yes for the rule, you have to set 0 into the table Rule for the rule you want to restore.
For the data transfer, there is a command (massaction) to restore all data transfer .

[2021-04-19 18:50] Myddleware commented on #505
Yes you are right, I didn't want to explain everything. But yes, the foreign key was just to explain that we can't "hard"remove the rule if the data transfer aren't "hard deleted" too.
But please let us know what you need an we will try to help. We don't plan to change the "deletion" process for now but maybe we can help to fin a workaround.

[2021-04-19 18:56] rulotec commented on #505
Ok, I get it.

What I wanted was 2 things:
1. Understand how I could delete rules. Which is now clear: get a super admin, delete the transfers and then the rule.
2. Try to give ideas and feedback to improve myddleware.

I'm happy with the first one. As for the second one, I hope you are happy too.

[2021-04-19 18:56] #505 closed, assigned to nobody

[2021-04-19 19:00] Myddleware commented on #505
@rulotec ,
Yes we are very happy with the second one. Thanks for helping us to improve Myddleware. Today we are focusing on the Myddleware's framework upgrade to Symfony4, it is a very big step. Then we will focus on a new web interface, because this one becomes old ;).
Don't hesitate to send other feedback.
Have a nice day.

[2021-04-19 20:24] rulotec commented on #505
Sounds great! Thanks for the support :)

[2021-04-20 06:09] simonetravaglini opened #510 "Massive import of invoice with lineitem"
Hi,
one question.
I've to import >100k invoices from DB to Vtiger
I've 2 separate rule for head and lines
Suppose i schedule every run 1000 record.
For head I think no problem
For inventory line my question is: if I've 50 line in same invoice, and these lines are 25 from 975 to 1000 in one run of scheduler, what will happen? that other 25 lines when run in second run of scheduler delete first 25 l

[2021-04-20 08:23] simonetravaglini opened #511 "Id with special char"
Hi need an help to understand how to manage this situation.
I import head of orders:
![image](https://user-images.githubusercontent.com/6990139/115362668-10a66600-a1c2-11eb-8e6f-2bd44c90046a.png)
As you can see id code in Db is something like:
0002\A 19\20210416114446\1
then Id of myddleware become:
0002A 19202104161144461

I face the problem when I need to "connect" line with head, becouse line h

[2021-04-20 08:51] francescobianco commented on #491
@Myddleware It seems a working solution, at this moment we start to put in place this in our system. I hope it close the problem.

[2021-04-20 10:51] Myddleware commented on #510
Hi @simonetravaglini ,
I guess your invoice lines have their own IDs. If yes, Myddeware will never replace a invoice line by another invoice line in Vtiger. The 25 other lines will be read during the next run.

In the case all your invoice lines have the same reference date, they will always be sent in the same call. In this case, for your example, only 975 lines will be send in the first call, th

[2021-04-20 11:43] Myddleware commented on #491
Hi @francescobianco ,
You mean that you are developing this solution ?

[2021-04-20 11:46] Myddleware commented on #511
Hi @simonetravaglini ,
We will try to reproduce this issue and we come back to you.

[2021-04-20 11:46] simonetravaglini commented on #510
ok seems ok!

[2021-04-20 11:46] #510 closed, assigned to nobody

[2021-04-20 12:05] francescobianco commented on #491
@Myddleware not sorry! I say that I adopting your suggested solution, no custom code or additional code is planned to do for this by my side

[2021-04-20 12:08] Myddleware commented on #491
OK @francescobianco ,
We will try to provide a custom code with this solution. It could help other people with the sme problem.
We will come back to you this week.

[2021-04-20 12:38] francescobianco commented on #491
@Myddleware very thanks for your support, deeply appreciate, I waiting your updates

[2021-04-21 06:55] #480 closed, assigned to nobody

[2021-04-21 14:54] simonetravaglini opened #512 "woocommerce add custom fields"
Hi,
in woocommerce you show us how to retrieve custom fields from orders:

protected $customFields = array( 'orders' => array('billing_first_name', 'billing_last_name', 'billing_company', 'billing_cf', 'billing_piva', 'sdi', 'pec', 'billing_email', 'billing_phone', 'billing_country', 'billing_address_1', 'billing_address_2', 'billing_pv', 'billing_state', 'billing_postcode'));

If we need to add a

[2021-04-22 06:17] Yuvarajsfcloud opened #513 "Myddleware migration to AWS"
Hi Team,

Currently we have hosted our myddleware on our private server which we are planning to move it to AWS. we would like to migration steps for the same.

Tried to search across every forum , couldn't get hold of any information. we would like to retain all the history & context from the older server.

Please provide your suggestion

[2021-04-22 06:17] simonetravaglini commented on #511
@Myddleware Hi, did you check? maybe there is a workaround?

[2021-04-22 07:11] stlgaits opened #514 "Unable to create Prestashop connector"
When trying to create Prestashop connector, the following error shows up
![image](https://user-images.githubusercontent.com/74190794/115671298-a66cfd00-a34a-11eb-8612-ff2638ffc514.png)

[2021-04-22 07:34] stlgaits commented on #512
Hello Simone,
I've modified the code a little bit to allow you to add custom fields to metadata.
With this new code you simply need to create a custom medata file at src/Myddleware/RegleBundle/Custom/Solutions/lib/wordpress/metadata.php
and add the code for your custom field, for example :
[code]
And your custom field should then appear in your mapping :
![Capture d’écran 2021-04-22 092831](https:

[2021-04-22 07:54] Myddleware commented on #511
Hi @simonetravaglini ,
We have reproduce the issue.  We will try to fix it today.
We 'll keep you updated.

[2021-04-22 08:27] Myddleware commented on #511
Hi @simonetravaglini ,
We have fixed the issue and merge it into master. You can upgrade to Myddleware 2.5.7i.

[2021-04-22 08:29] Myddleware commented on #512
@simonetravaglini , if you want to add a custom field, you will need to upgrade myddleware to version 2.5.7i.
Have a nice day.

[2021-04-22 08:34] Myddleware commented on #513
Hi @Yuvarajsfcloud,
Myddleware use symfony framework. Please follow these steps :
 - Copy your Myddleware dorectory to the new server
 - Copy your database if you want to change the location of your database too
 - Change the file <myddleware directory>\app\config\parameters.yml  (parameter to be changed : database_host, database_port, database_name, database_user and database_password)
 - Clear t

[2021-04-22 17:35] Myddleware commented on #491
Hi @francescobianco ,
Please upgrade to Myddleware 2.5.7j and create the file <myddleware directory>\src\Myddleware\RegleBundle\Custom\Classes\rule.php, add this code replacing < your rule id> by your rule id
[code]
You should have a reference field with this format :
![image](https://user-images.githubusercontent.com/11330301/115760666-c24fbd80-a3a1-11eb-87ba-2d9f9349b3d8.png)

Please let me know

[2021-04-22 18:32] Myddleware commented on #491
For information, if one day your upgrade your instance to Myddleware 3 (not released yet), here is the code to add in the file \src\Custom\Manager\RuleManager.php :

[code]

[2021-04-23 07:54] francescobianco commented on #491
Thanks, @Myddleware , I will keep you updated with our syncronization performance

[2021-04-23 08:22] francescobianco opened #517 "Invalid usage of the option NEXT in the FETCH statement"
We have some Microsoft databases with this problem

-----
Reading Issue: Error : SQLSTATE[HY000]: General error: 20018 Invalid usage of the option NEXT in the FETCH statement. [20018] (severity 15)
------

Releaved int simulation

[code]

Triggered at `/var/www/html/src/Myddleware/RegleBundle/Solutions/database.php Line : ( 411 )`

It seems a limitation of old Microsoft Database

Any idea about it

[2021-04-26 08:21] francescobianco commented on #491
@Myddleware
Unfortunately I bring bad news, despite the use of this new feature, the execution of the job with 11997 records has taken:

From 23/04/2021 at 05:05:33 to 23/04/2021 at 12:47:26

8 hours (2.4 seconds/records)

our expectation was 3 hours atleast

[2021-04-26 08:37] Myddleware commented on #491
Hi @francescobianco ,
Sorry I forgot to tell you to set a rule limit to 1000. So your job will run 12 or 13 times (depending on your records reference date) to read the 11 997 records.
You can run the job every 5 minutes for example, in this case it should take only 1 hour.
Please keep me updated.

[2021-04-26 14:02] stlgaits commented on #479
Quite similar error occurs on install process with `yarn build` command
![image](https://user-images.githubusercontent.com/74190794/116095519-c84ae480-a6a8-11eb-8c67-5bae656e15fa.png)

[2021-04-26 14:06] stlgaits commented on #479
And on database/connect, still can't check whether config exists without triggering an error (same as first post)
![image](https://user-images.githubusercontent.com/74190794/116096196-5fb03780-a6a9-11eb-91fa-4366e267f3be.png)

![image](https://user-images.githubusercontent.com/74190794/116096091-45765980-a6a9-11eb-994c-57e4d0362162.png)

[2021-04-26 16:05] francescobianco opened #518 "date_modified hard rewrite without reason"
In this commit we suspect a problem regarding the missing use of '$value' after che for valid date into 'date_modified' field
https://github.com/Myddleware/myddleware/commit/0787c5b15578af9fca2148a7ef26e613a87bfbe5****

[2021-04-26 16:30] Myddleware commented on #518
Hi @francescobianco
I have added comment into the commit. $value is used line 435 here :
https://github.com/Myddleware/myddleware/blob/0787c5b15578af9fca2148a7ef26e613a87bfbe5/src/Myddleware/RegleBundle/Solutions/database.php#L435

Please let me know if I am not clear.

[2021-04-27 07:47] francescobianco commented on #483
It require small fix to work (return statement missing)

[code]

[2021-04-27 08:32] stlgaits opened #519 "Bad display when transfer in error on Task view : the table sticks out of the frame instead of fitting inside white container"
![image](https://user-images.githubusercontent.com/74190794/116211117-cd10a680-a743-11eb-87b4-f1e854855a43.png)

[2021-04-27 13:29] francescobianco opened #520 "Vtiger CRM solution updates"
Hi @Myddleware

In the last 6 month we have work of small refactoring of vtigercrm.php solution file
our version visible here

https://github.com/opencrmitalia-official/myddleware/blob/stable/src/Myddleware/RegleBundle/Solutions/vtigercrm.php

was refactored to have small methods and improoved code-style

We are near to share a Pull-request in a way to have aligned our version with official Myddle

[2021-04-27 16:00] francescobianco opened #521 "Duplicate Rule"
Just an idea: "It is possible add button that clone an existing rule?"
sometimes it is useful duplicate n-times a rules

[2021-04-28 12:43] Myddleware commented on #520
Hi @francescobianco
Thanks you very much for your contribution. No concern about it with Myddleware 2.x (master branch for now).

However, we will have to review it for Myddleware 3.0 as we have changed a little bit how to create a connector. It will be easier to create a connector in Myddleware 3.x ;)

[2021-04-28 14:42] Myddleware commented on #521
Hi @francescobianco ,
We haven't planned to add this button but you can generate a template with one or several rule then use this template to generate duplicate rules.
You can find more explanations about this command here : https://github.com/Myddleware/myddleware/issues/436#issuecomment-780413924

Hope it helps.

[2021-04-28 15:12] Myddleware commented on #483
Oh yes thanks, I forgot it.

[2021-04-28 15:12] #483 closed, assigned to nobody

[2021-04-28 15:45] Myddleware commented on #517
Hi @francescobianco ,
Are you using SQL Server 2008 or SQL Server 2012 ?
Thanks.

[2021-04-29 06:58] simonetravaglini commented on #517
Hi i'm sure we had this issue with 2008

[2021-04-29 07:16] francescobianco commented on #500
Sorry, by late response!
We hare looking for an official Database Compatibility Table related to Solutions, something like this

| Database Version        | Compatible           |  Limitations  |
| ------------- |:-------------:| -----:|
| Microsoft SQL 2008    | Yes | no limitation |
| Maria DB 10      |  Yes      |   no limitation |
| Microsoft SQL 2002 | No supported      |   -  |

[2021-04-29 14:37] Myddleware commented on #517
Hi @simonetravaglini ,
Yes this kind of query isn't compatible with SQL 2008. However, we could probably redefine some functions in class microsoftsqlcore to make it compatible.

In your query, are you using only the limit parameter ? And the offset alway stays at 0 ? For information, the offset is always equal to 0 except if you have redefined it.

If you confirm that offset is always equal to 0,

[2021-04-29 14:38] Myddleware commented on #500
Hi @francescobianco ,
@EstelleMyddleware will come back to you about this list.
Have a nice day.

[2021-04-29 14:41] francescobianco opened #523 "Database Microsoft with multiple Schema"
In situation with large Microsoft SQL Database many admin looking for using different database schema instead of the default one called 'dbo'

![Screenshot from 2021-04-29 16-29-02](https://user-images.githubusercontent.com/472171/116568426-c3846b80-a908-11eb-88ad-dbc9d22c9ac8.png)

We looking for the possibility to choose the database SCHEMA like this example
We actually manage existing schema wi

[2021-04-29 14:51] Myddleware commented on #523
Hi @francescobianco ,
Yes I understand your need. Could you test a workaround ? Could you try to add the shema inside the database field in the connector like shema.database ?
Does it work ?

[2021-04-29 15:49] simonetravaglini commented on #517
Finally we decided to ask customer to update DB.
Anyway maybe @francescobianco can answer to you

[2021-04-29 19:20] Myddleware commented on #517
Hi  @simonetravaglini ,
That's a good news. If you are sure that your client will upgrade MSQ 2008 to MSQ 2012, don't waste your time to test this workaround.
Have a nice day.

[2021-04-29 19:20] #517 closed, assigned to nobody

[2021-04-30 08:10] francescobianco commented on #523
Yes, of course, we have found a work-around based on this four methods

- Customizing the buildQuery(..) to pass the schema name into FROM statement
- Customizing the create(..) to pass the modified module name prefixed by schema
- Customizing the udpate(..) to pass the modified module name prefixed by schema
- Customizing the read_last(..) to pass the modified module name prefixed by schema

It w

[2021-04-30 08:17] Myddleware commented on #523
Thanks for your feedback.
I have added the flag "enhancement" to this issue.
Have a nice day.

[2021-05-03 09:05] stlgaits commented on #500
Hello,

Database Version | Compatible
-- | --
Microsoft SQL 2008 | No
Microsoft SQL 2012+ | Yes
Maria DB 10+ | Yes
MySQL 5.6+  | Yes

Let me know if you have any questions.

Kind regards

[2021-05-03 12:52] stlgaits commented on #474
https://github.com/Myddleware/myddleware/issues/475
https://github.com/Myddleware/myddleware/issues/474
https://github.com/Myddleware/myddleware/issues/486
 These issues are linked

[2021-05-03 12:56] stlgaits commented on #473
Update : when building using `yarn watch` there is no problem at all, however when using `yarn build` the tabs are not displayed appropriately. Still need to find out why.

[2021-05-04 07:18] simonetravaglini opened #524 "Double condition in filter"
Hi,
suppose I need to import all record where FIELD 1 = C or FIELD1 = F.
There is a way to manage in one rule? Or I need to create 2 different identical rules one with first condition and another with second condition?

[2021-05-04 07:29] #511 closed, assigned to nobody

[2021-05-04 07:39] simonetravaglini commented on #491
It works well

[2021-05-04 07:39] #491 closed, assigned to nobody

[2021-05-04 07:41] #512 closed, assigned to nobody

[2021-05-04 07:47] Myddleware commented on #491
Thanks for your feedback @simonetravaglini

[2021-05-04 08:17] Myddleware commented on #524
Hi @simonetravaglini ,
You should be able to do it using this filter :
![image](https://user-images.githubusercontent.com/11330301/116976768-dc529f80-acc1-11eb-85e6-c6e194e86df4.png)

Please let me know if it is OK for you. Thanks.

[2021-05-04 08:18] Myddleware commented on #524
By th way, thanks for all of your questions. We definitely have to improve our documentation.

[2021-05-04 09:19] Myddleware opened #525 "Manage class redefinition for custom code purpose"
We need to be able to redifine a class like the class \src\Manager\RuleManager.php
Today we create the class in Custom directory : \src\Custom\Manager\RuleManager.php
Here a simple example :
[code]

But when we try to execute yarn command we have this error :
![image](https://user-images.githubusercontent.com/11330301/116983491-79b1d180-acca-11eb-99a4-eeb81c4ef2db.png)

We have to change the way w

[2021-05-04 16:08] Myddleware commented on #479
@EstelleMyddleware , I have fixed the issue, could you test on your side pease.
Thanks.

[2021-05-05 07:22] stlgaits commented on #484
THis is is still an issue, this time it happens even for documents that are not in error, I'm redirected to the same page
![image](https://user-images.githubusercontent.com/74190794/117107926-bccf7b80-ad82-11eb-907e-c8ddc7e1547e.png)
Not sure whether this could be related or not yet, will investigate  further
![image](https://user-images.githubusercontent.com/74190794/117108256-35363c80-ad83-11eb-

[2021-05-05 07:24] stlgaits opened #526 "Massive update of front-end libraries will be needed"
Need to remove deprecated & abandoned Javascript libraries, update JQuery & Bootstrap etc

[2021-05-05 07:52] stlgaits commented on #484
Error : The MAC is invalid. ... \myddleware\vendor\illuminate\encryption\Encrypter.php 148

[2021-05-05 10:15] stlgaits commented on #469
This error is back. Only in browser
![image](https://user-images.githubusercontent.com/74190794/117126802-91a55600-ad9b-11eb-9cd3-2e8bf7f957ae.png)

[2021-05-05 10:17] stlgaits opened #527 "In rule parameters, the calendar doesn't display the hours, minutes and seconds any more, only the dates"
![image](https://user-images.githubusercontent.com/74190794/117126980-cfa27a00-ad9b-11eb-8e8b-bd04a6f34112.png)

[2021-05-05 10:28] #469 closed, assigned to Myddleware

[2021-05-05 10:32] stlgaits commented on #484
This error seemed to come from my own setup (multiple APP_KEYs issue), it doesn't appear on a brand new install.

[2021-05-05 10:32] #484 closed, assigned to stlgaits

[2021-05-05 10:34] #479 closed, assigned to stlgaits

[2021-05-05 12:22] #473 closed, assigned to stlgaits