[2021-05-05 15:58] Myddleware commented on #486
@EstelleMyddleware , it should be fixed now. Could you test ? Thanks.

[2021-05-05 16:05] Myddleware opened #528 "Template rules aren't generated"
When we try to generate a template, the rule aren't créated :
![image](https://user-images.githubusercontent.com/11330301/117172794-6d15a200-adcc-11eb-835a-e9166f103748.png)

[2021-05-05 16:35] Myddleware opened #529 "Activation button doesn't work on rule detail view"
When I click on this button, the flag change to ON but the active flag in the database doesn't change :
![image](https://user-images.githubusercontent.com/11330301/117176715-786acc80-add0-11eb-9051-c265d0e70ff3.png)

However, the button on the rule list view works properly :
![image](https://user-images.githubusercontent.com/11330301/117176834-9b957c00-add0-11eb-80b9-aaf892fc32cd.png)

[2021-05-05 16:59] Myddleware commented on #482
The problem comes from our Prestashop instance 1.7.7. We have the same issue with Myddleware 2 and no issue with Prestashop 1.7.0 with Myddleware 2 and 3

[2021-05-05 17:09] Myddleware commented on #485
@EstelleMyddleware , could you test that everything works properly now ? Thanks.

[2021-05-07 06:19] simonetravaglini commented on #524
Hi seems something not working
I've been set as follow:
![image](https://user-images.githubusercontent.com/6990139/117406080-da305100-af0c-11eb-8c84-fb88cfc9ab60.png)
But result is that skip also if TIPO = F
![image](https://user-images.githubusercontent.com/6990139/117406014-c4bb2700-af0c-11eb-9980-74309e3c4e25.png)

[2021-05-07 18:00] Myddleware commented on #524
Oh my bad, sorry. Don't put quote in the filter :
![image](https://user-images.githubusercontent.com/11330301/117490187-c584a500-af6e-11eb-858f-d77baa88f1d0.png)

Should work properly with this.

[2021-05-10 13:17] #524 closed, assigned to nobody

[2021-05-10 13:18] simonetravaglini commented on #524
it works

[2021-05-11 08:58] stlgaits commented on #529
Fixed javascript paths.

[2021-05-11 08:58] #529 closed, assigned to stlgaits

[2021-05-11 09:07] stlgaits commented on #528
This problem seems to be linked to Prestashop as it only occurs on this template, I was able to generate a Woocommerce to Vtiger template without any issues, however when trying to reproduce your case from Prestashop to SuiteCRM, I get the following error on validation request :
![image](https://user-images.githubusercontent.com/74190794/117789805-00295e80-b249-11eb-9f4f-94c0bae5da47.png)

[2021-05-11 09:09] stlgaits commented on #528
https://github.com/Myddleware/myddleware/issues/482
https://github.com/Myddleware/myddleware/issues/466

[2021-05-12 07:08] francescobianco commented on #520
Hi This is the PR with our changes to vtigercrm.php solution and other minor changes

- https://github.com/Myddleware/myddleware/pull/530/

[2021-05-12 11:43] #485 closed, assigned to stlgaits

[2021-05-12 12:31] stlgaits commented on #528
The problem seems to be linked to our 1.7.7 Prestashop version as I was able to generate template with Prestashop 1.7.0
![image](https://user-images.githubusercontent.com/74190794/117975196-b5821200-b32e-11eb-9cc4-e5b41e09e870.png)

[2021-05-12 13:56] stlgaits commented on #519
![image](https://user-images.githubusercontent.com/74190794/117987297-a30dd580-b33a-11eb-879e-c92146e292c0.png)

[2021-05-12 13:56] #519 closed, assigned to stlgaits

[2021-05-12 14:08] stlgaits commented on #482
Actually, even with 1.7.0, the problem persists. We're able to create rules, but as soon as we run them, we get this error 400 bad request thrown by PrestashopWebservice.php and we're therefore unable to read any data from Prestashop. I've attempted to change this
![image](https://user-images.githubusercontent.com/74190794/117988024-4f4fbc00-b33b-11eb-9600-3a5b9e4f06d2.png)
to correct this error
!

[2021-05-12 14:20] stlgaits commented on #474
This issue is still going on, after clicking on rerun / cancel / reload and then on the message above
![image](https://user-images.githubusercontent.com/74190794/117990867-db62e300-b33d-11eb-8ad5-9d639c84f89b.png)

log :
 [2021-05-12 14:11:45] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "App\Entity\Job object not found by the @ParamConverter

[2021-05-12 14:25] #486 closed, assigned to Myddleware, stlgaits

[2021-05-12 17:23] stlgaits opened #532 "Retrofit needed to allow custom fields in Woocommerce"
https://github.com/Myddleware/myddleware/blob/58cc2036e23f86f15f69a2db62d149515384fc2d/src/Myddleware/RegleBundle/Solutions/woocommerce.php#L112

This function (from Symfony 3.4 master) needs to be included in Symfony 4.4 version

[2021-05-14 06:18] simonetravaglini opened #533 "space missing"
Hi,
I'm importing a value from mssql, in DB value is
`C  2950` (2 spaces between letter and numbers)
but after import become
`C 2950` (1 space)
do you have an idea?
@francescobianco

[2021-05-17 08:43] Myddleware commented on #533
Hi @simonetravaglini,
Could you give me more detail about the rule and this field? The field that contains C  2950, is it an "ID" or does it contain a formula ?
We will try to reproduce it and the fixe it.
Thanks.

[2021-05-17 08:54] stlgaits opened #534 "Upgrade needed on iadvize API (and connector) to be in line with upgraded packages"
The iadvize REST API is partially deprecated (https://developers.iadvize.com/documentation/graphql-api#graphql-api) and requires abandoned packages (zendframework/zend-hydrator & zendframework/zend-stdlib).
I have removed the iadvize/restapiclient library for now and upgraded packages (replaced zend with laminas). We now need to see how to implement the iadvize API again in the updated context, pr

[2021-05-17 12:07] simonetravaglini commented on #533
@Myddleware
Hi, we don't have any formula related to this field, the field have not a function of "ID" but contain ID in the name.

[2021-05-17 13:09] stlgaits commented on #525
https://github.com/Myddleware/myddleware/commit/ca8338a2e163169a09740f4b16abdd3aedf4ee23

[2021-05-17 13:11] stlgaits commented on #532
https://github.com/Myddleware/myddleware/commit/ca8338a2e163169a09740f4b16abdd3aedf4ee23

[2021-05-17 13:11] #532 closed, assigned to stlgaits

[2021-05-18 17:28] Myddleware commented on #533
Hi @simonetravaglini ,
I have tried to reproduce the issue and I found that the bug is only a display bug in Myddleware user interface here (only 1 space) :
![image](https://user-images.githubusercontent.com/11330301/118696928-128a3600-b80f-11eb-92a8-9f563732d7ee.png)

But the 2 spaces are correctly sent to the target application. Here are the date in Myddleware database (target and source documen

[2021-05-19 08:22] Myddleware commented on #528
@EstelleMyddleware , I confirm that this issue is linked to Prestashop 1.7.7. I will check if it happens becuse of our test environment or if it is linked to this Prestashop version.

[2021-05-19 09:17] Myddleware commented on #482
@EstelleMyddleware , good news, it isn't a bug. Prestashop 1.7.7 wasn't working properly because our test server was in php version 7.4 and Prestashop 1.7.7 is compatible PHP 7.1, 7.2 and 7.3, not 7.4. I have changed the php version and Prestashop 1.7.7 is working properly with Myddleware.

[2021-05-19 09:17] #482 closed, assigned to Myddleware, stlgaits

[2021-05-19 09:20] Myddleware commented on #528
@EstelleMyddleware , good news, it isn't a bug. Prestashop 1.7.7 wasn't working properly because our test server was in php version 7.4 and Prestashop 1.7.7 is compatible PHP 7.1, 7.2 and 7.3, not 7.4. I have changed the php version and I could generate the template with Prestashop 1.7.7.

[2021-05-19 09:20] #528 closed, assigned to stlgaits

[2021-05-19 10:00] Myddleware commented on #474
@EstelleMyddleware , I can't reproduce this issue. These 3 buttons work properly on my side. Could you try again ?
If you can reproduce, could you give me more detail about the document and its rule ? Thanks.

[2021-05-19 10:09] stlgaits commented on #474
@Myddleware it's when you click on 'you just launched a new task' above that the error occurs

[2021-05-19 12:20] Myddleware commented on #534
Iadvise connector not compatible with Myddleware 3. Connector removed from Myddleware 3. Need to be developped with the new Iadvize API.
https://github.com/Myddleware/myddleware/commit/3482dfc6ea5cb80cee7a0ee94479019e290ec732

[2021-05-19 12:20] #534 closed, assigned to nobody

[2021-05-19 17:04] Myddleware commented on #475
Everything is working properly on my side. Could you test it again ? Thanks.

[2021-05-19 17:07] Myddleware commented on #525
Lets check this service : https://symfony.com/doc/4.4/service_container/definitions.html

[2021-05-19 19:09] simonetravaglini commented on #533
@Myddleware in my case it's not a display error, but vtiger record field is wrong.

[2021-05-20 15:24] Myddleware commented on #533
@simonetravaglini ,
OK, could you give us the detail of your rule and your data transfer (with screenshot if possible). We will need it to try to reproduce this issue.
Thanks.

[2021-05-20 15:57] simonetravaglini commented on #533
Hi seems that I was wrong, finally the data transfered it's ok. I do some other tests and let you know.

[2021-05-26 15:09] stlgaits commented on #474
For example, I've generated a Woocommerce to Vtiger  rule using the template provided (so all mapping is from the template).
Some transfers are in error.
Here is a document example, it has the following error :
![image](https://user-images.githubusercontent.com/74190794/119683817-4505e580-be44-11eb-8f04-636510038617.png)

When I click on 'run the same record', then on 'you've just launched a new t

[2021-05-26 20:48] Myddleware commented on #474
@EstelleMyddleware , the error_checking are specific to the application. As we just want to test the button, could click on the button "Reload the document" on a document successfully sent ? If it works then there is no bug on this button anymore.
Then you can create another issue about the bug on this specific template and the child documents.
Thanks.

[2021-05-31 09:27] stlgaits commented on #527
Fixed by changing datetimepicker to dtsel library
https://www.cssscript.com/date-time-picker-dtsel/

https://github.com/Myddleware/myddleware/commit/afa62ed62c2cd38caafec8b77ffbd16339f1bd8c

[2021-05-31 09:27] #527 closed, assigned to stlgaits

[2021-05-31 09:28] stlgaits commented on #527
![image](https://user-images.githubusercontent.com/74190794/120172432-544db000-c203-11eb-92fc-09f6934cca62.png)

[2021-06-03 09:14] stlgaits commented on #525
I've added comments to help declaring custom classes in services_custom.yaml.
Basically, for each custom class, it must be declared in services_custom.yaml as a decorator of a standard class.
Here is an example with a custom woocommerce class :
![image](https://user-images.githubusercontent.com/74190794/120619681-7ee67580-c45c-11eb-8849-80ae951977af.png)

Code is based on https://symfony.com/doc/4

[2021-06-03 11:47] #525 closed, assigned to stlgaits

[2021-06-07 13:55] stlgaits commented on #526
- Removed Boostrap 3
- Added Bootstrap 5
- Added @popperjs
- changes (CSS, JQuery, Twig,...) made to reflect Bootstrap 5 classnames & updates
TODO :
- go over all install & database setup pages to implement new Bootstrap features & correct CSS bugs
- correct small CSS bugs on Account page

[2021-06-08 11:45] stlgaits commented on #406
Still an issue, currently this is the error displayed.
![image](https://user-images.githubusercontent.com/74190794/121179295-d7a07e80-c85f-11eb-96c2-8deab8cd7ca3.png)

[2021-06-08 14:23] stlgaits commented on #406
Fixed.
Standard Gmail configuration :
![image](https://user-images.githubusercontent.com/74190794/121202763-d712e280-c875-11eb-8dba-6d24d459784b.png)
or
![image](https://user-images.githubusercontent.com/74190794/121202815-e2fea480-c875-11eb-9169-5b73e895617a.png)

[2021-06-08 14:23] #406 closed, assigned to stlgaits

[2021-06-09 15:32] stlgaits opened #535 "Can't edit rule. Error : failed to edit rule, the MAC is invalid."
When you click on 'Edit rule', this is displayed
![image](https://user-images.githubusercontent.com/74190794/121384577-aea7e880-c948-11eb-9af2-952ab280ed0b.png)

[2021-06-11 06:09] simonetravaglini opened #536 "SMTP and notification"
Hi, how are managed email notification in myddleware?
If setting SMTP then start receving email?

[2021-06-11 06:55] Myddleware commented on #536
Hi @simonetravaglini ,
Yes, if SMTP configuration email is setup, ell Myddleware admin users will receive notification depending on the job scheduler configuration :
![image](https://user-images.githubusercontent.com/11330301/121643857-98a63f00-ca92-11eb-9697-a05042a5c4ef.png)

With this configuration, you will receive a notification with what Myddleware every day. You will also receive an alert i

[2021-06-11 07:06] #536 closed, assigned to nobody

[2021-06-13 15:12] edsonrodsilva opened #537 "InfoBip with Vtiger"
Hi,
I'm working on building a new connector to integrate InfoBip with Vtiger, does anyone already build something to share?

[2021-06-14 06:58] stlgaits opened #538 "Bug : unable to test & create connector"
![image](https://user-images.githubusercontent.com/74190794/121851391-5711d000-ccee-11eb-9bcb-c9bec08584e3.png)

Error thrown when clicking the test button when creating a new connector :
ControllerDoesNotReturnResponseException
The controller must return a "Symfony\Component\HttpFoundation\Response" object but it returned null. Did you forget to add a return statement somewhere in your controller

[2021-06-14 15:20] stlgaits commented on #537
Hello, and thank you for your future contributions !
We haven't developed anything in relation to InfoBip yet, however, we would be more than happy to help you. In this case, please share your code with us to be able to contribute to our project.
TIA

[2021-06-15 14:11] #538 closed, assigned to stlgaits

[2021-06-15 14:28] #535 closed, assigned to stlgaits

[2021-06-15 15:40] stlgaits commented on #537
By the way, we're bound to release Myddleware 3, the current code for it is on the upgrade_symfony_4.4.18 branch, which is, as you would've guessed, developed using Symfony 4.4. It is still in development but should be released very soon.
I strongly recommend you make your development based on this branch as we've greatly simplified the way we make new connectors in this version, therefore it woul

[2021-06-15 19:46] edsonrodsilva commented on #537
Hi, thanks for the infomation.
Pretty good, I'm looking at myddleware 3, looks great.
Great news myddleware 3 is with the Symfony 4.
And of course if what I develop to help, yes I will provide the PR.
Gongratulation for the project, is nice.
Thanks.

[2021-06-16 11:16] edsonrodsilva commented on #537
I'm looking at Myddleware 3 for create a new connector in branch upgrade_symfony_4.4.18 It will only be compatible with >= php7.4 ?

[2021-06-16 12:30] Myddleware commented on #537
Hi @edsonrodsilva ,
Yes, we will work to make Myddleware3 compatible with php8 too. But for now, it is only compatible with php 7.4.

Our documentation isn't ready for Myddleware 3, so I give you he main steps to create a new connector :
 - declare the new solution in the file \src\Manager\SolutionManager.php , you can take sugarcrm as an example
 - add you solution in the array $solutionData in t

[2021-06-16 13:25] edsonrodsilva commented on #537
Hi, thanks for the valuable tips.
These instructions will help a lot.
:)

[2021-06-23 08:41] stlgaits opened #539 "BUG : Error when clicking on info icon in rule mapping view : Unexpected token "name" of value "if" ("end of statement block" expected)."
In rule creation, when I click on the info icon :
![image](https://user-images.githubusercontent.com/74190794/123065388-64763b00-d40f-11eb-80d6-849bc00c7d24.png)

The modal opens and returns a Tiwg Error :

Unexpected token "name" of value "if" ("end of statement block" expected).
![image](https://user-images.githubusercontent.com/74190794/123065308-56281f00-d40f-11eb-94c6-28d4a40b2a5d.png)

[2021-06-23 09:44] #539 closed, assigned to stlgaits

[2021-06-23 10:46] stlgaits opened #540 "BUG : ' massselectall' checkbox on Documents list table doesn't select all documents in error status"
![image](https://user-images.githubusercontent.com/74190794/123083900-d99e3c00-d420-11eb-8a20-d9766057baad.png)

Triggers the following console error :
![image](https://user-images.githubusercontent.com/74190794/123083984-f175c000-d420-11eb-8198-ab08d52811e7.png)

[2021-06-23 12:14] #540 closed, assigned to stlgaits

[2021-06-23 12:16] stlgaits commented on #474
I'm not able to reproduce this error anymore so closing this issue.

[2021-06-23 12:16] #474 closed, assigned to Myddleware, stlgaits

[2021-06-23 12:17] stlgaits commented on #475
Unable to reproduce this bug now. Closing the issue.

[2021-06-23 12:17] #475 closed, assigned to Myddleware, stlgaits

[2021-06-23 12:18] #445 closed, assigned to stlgaits

[2021-06-23 14:39] stlgaits opened #541 "HttpNotFoundException triggered when filtering documents by Global Status error throw by FluxController.php line 821"
In Documents list, when selecting the 'Error' filter, once you press 'Filter'
![image](https://user-images.githubusercontent.com/74190794/123116758-78d32b80-d441-11eb-974e-0a1c924b5aa5.png)

, the following HttpNotFoundException is thrown by FluxController.php line 821 :
![image](https://user-images.githubusercontent.com/74190794/123116603-550fe580-d441-11eb-98fc-f2d402bb6971.png)

[2021-06-23 20:04] Myddleware commented on #540
Well done @EstelleMyddleware , thanks.

[2021-06-24 12:36] stlgaits opened #542 "Estimated documents in rule view parameters is higher than the limit"
Is this normal behaviour? Isn't the number in simulation supposed to be the same as the limit or lower ?

![image](https://user-images.githubusercontent.com/74190794/123263477-4a188c00-d4f9-11eb-9fa3-164a4d7feb56.png)

@Myddleware

[2021-06-24 12:46] stlgaits commented on #542
It seems the limit is not taken into acount anymore and the rule is executed until max number of records is reached.
For context on how to reproduce the issue :

Source | Target
-- | --
suitecrm | Solution  prestashop
AOS_Products | products

duplicate_fields | name
-- | --

Mapping :
![image](https://user-images.githubusercontent.com/74190794/123265647-8a790980-d4fb-11eb-8751-c749914ae379.png)

R

[2021-06-25 11:16] Myddleware commented on #542
Well done @EstelleMyddleware  thanks.

[2021-06-28 07:49] stlgaits opened #543 "NotFoundHttpException thrown when clicking on question mark in filter view in rule creation"
When creating a rule, if you click on the ? icon
![image](https://user-images.githubusercontent.com/74190794/123599614-163daf00-d7f6-11eb-846e-6329b480ba49.png)
the following error is thrown
![image](https://user-images.githubusercontent.com/74190794/123599341-c7901500-d7f5-11eb-917d-b91e09683c23.png)

[2021-06-28 08:14] #543 closed, assigned to stlgaits

[2021-06-28 14:00] Myddleware commented on #543
Thanks @EstelleMyddleware

[2021-06-28 15:42] stlgaits opened #544 "WooEventManager (Wordpress) connector doesn't read all records when setting a limit"
To reproduce this issue :
Solution | wooeventmanager | Solution | suitecrm
-- | -- | -- | --
Module | mep_events | Module | FP_events

Reference date : 2010-06-28 09:34:31

With this rule, I get 9 records in total. If I try to read all records, everything is fine.

However, if  I set a limit of 4, the first 4 records are read correctly.

![image](https://user-images.githubusercontent.com/74190794/

[2021-07-14 11:42] vtexperts opened #545 ""File" Solution: Different delimiter."
I configured it to work with a .csv file (comma delimited and fields/columnames enclosed by "").

 For example:
"col1","col2"
"val1","val2"

This works, however is there an option to use TAB delimited and without "" ?
For example:
col1     col2
val1     val2

[2021-07-14 22:11] Myddleware commented on #545
Hi @vtexperts ,
In you case, you can redefine the file connector and change the separator.
Could you try to create the file "src\Myddleware\RegleBundle\Custom\Solutions\file.php" , create the directory Custom if it doesn't exist.
Then copy this code in the file :
[code]
I didn't test the tab character "\t", so could you tell me if it works properly. Thanks.

[2021-07-17 03:07] ModeBan opened #546 "Magento 2 to ERPnext Undefined Index"
Getting below error for magento 2 customer address module any idea how to fix this?

Notice: Undefined index: items in /app/src/Myddleware/RegleBundle/Solutions/magento.php on line 518

Notice: Undefined index: id in /app/src/Myddleware/RegleBundle/Classes/document.php on line 1325

![image](https://user-images.githubusercontent.com/21164341/126023491-a6fde29c-d5c9-4fe2-a0b3-7f032782b3f7.png)

[2021-07-19 08:23] stlgaits opened #547 "BUG Woocommerce : unable to open document in error (redirected to documents list)"
Can't open this document with status Error Sending.
![image](https://user-images.githubusercontent.com/74190794/126124853-cd734b15-0014-4b00-9215-b6eec16cbba6.png)

|  Source  |  Target  |  source module  |  target module  |
|  ---  |  ---  |  ---  |  ---  |
|  WooCommerce  |  Vtiger  |  Products  |  Products  |

This bug only happens on this document for me.
Other documents from same rule with st

[2021-07-19 08:43] stlgaits opened #548 "When running a rule, the reference date is rule params view has a 'T' added, need to check whether this is a problem or not"
![image](https://user-images.githubusercontent.com/74190794/126129253-f12d3454-5bb5-4766-991b-3f386c0c6faa.png)

How to reproduce :

|  Source  |  Target  |  source module  |  target module  |  limit  |  number of records without limit from this reference date  |
|  ---  |  ---  |  ---  |  ---  |  ---  |  ---  |
|  Woocommerce  |  Vtiger  |  Products  |  Products  |  4  |  11  |

From the referenc

[2021-07-19 09:51] stlgaits commented on #542
Partial bugfix for Salesforce, however I am wondering whether this is normal behaviour or not :

![image](https://user-images.githubusercontent.com/74190794/126140932-64a3a450-6dd9-482a-bcaf-048f69670175.png)

The amount of records returned by the simulation is always 1 lower than actual limit, due to this code in src/Solutions/salesforce.php  line 445 to 456 :

![image](https://user-images.github

[2021-07-19 09:58] stlgaits commented on #548
This is specific to WooCommerce, not getting extra T with other solutions.

[2021-07-19 12:08] stlgaits opened #549 "Magento connector form is missing input fields"
![image](https://user-images.githubusercontent.com/74190794/126157500-aae0f105-224a-42ee-b54e-6f59853bf52f.png)

Unable to create a Magento connector due to missing fields on connector form.

![image](https://user-images.githubusercontent.com/74190794/126157581-aded2ed1-b1c4-473f-b5c8-6308ae7168fd.png)

[2021-07-19 15:03] Myddleware commented on #546
Hi @ModeBan ,
We will try to reproduce your issue this week. We 'll come back to you as soon as possible.
Best regards.

[2021-07-19 17:07] ModeBan commented on #546
Thanks @Myddleware

The process works but just doesn't display on the frontend.

Theres mention of this in your magento module code.

[2021-07-20 01:46] ModeBan opened #550 "Magento 2 to ERPnext Simulated transfers"
Simulated transfers show 0 when simulating the transfers and rule does 0 transfers any way around this or a fix?

I'm trying to transfer 20k +/- products from magento 2 to ERPnext i have set the date to before the first product was created but myddleware cant see it somehow?

![image](https://user-images.githubusercontent.com/21164341/126249134-f771d12e-ee84-4e78-9016-08c7cd3c6145.png)

[2021-07-20 02:30] ModeBan commented on #550
seems like the request is getting timed out

[2021-07-20 07:29] #549 closed, assigned to stlgaits

[2021-07-20 07:41] stlgaits commented on #549
The actual problem wasn't with the form fields but with the URL input. If the URL ends with '/' then the connection fails. I've therefore added validation code on this field to ignore the last '/' if it's there.

[2021-07-20 07:56] stlgaits opened #551 "Can't scroll solutions in rule creation page"
![image](https://user-images.githubusercontent.com/74190794/126283371-8270d367-288f-4526-8236-2a5bc125788e.png)
When creating a new rule, the arrows to go up and down the list of solutions don't work anymore so I can't access all solutions from the list.

[2021-07-20 09:35] #551 closed, assigned to stlgaits

[2021-07-20 12:18] stlgaits opened #552 "Magento 2 fields list needs updating as API fields have changed"
https://magento.redoc.ly/2.4.2-admin/tag/orders
The list of fields available for some modules has changed and therefore needs updating in Myddleware metadata.

[2021-07-20 13:38] stlgaits commented on #546
Hello @ModeBan , thank you for reporting this. May  I ask what version exactly of Magento 2 you're using?  We've noticed some discrepancies between our connector and the API and currently working on fixing them (in Myddleware 2 & 3). If you want to follow the conversion : https://github.com/Myddleware/myddleware/issues/552

[2021-07-20 13:38] stlgaits commented on #552
I've updated the list of fields available in Myddleware 3 based on Magento 2.4.2.
However, my test version of Magento is 2.3.6-p1 which doesn't seem to be supported anymore (I don't see it in the API documentation) and therefore I can't test properly whether the new list of fields is accurate at the moment, would need to get a newer version of Magento to be able to try it out (2.3.7 or 2.4.2).
htt

[2021-07-20 14:30] ModeBan commented on #546
hey @EstelleMyddleware Its magento 2.4

Could you document how to setup the connector for importing orders/ order items into magento please?

I can't seem to get it to work i dont know how to get the order items to populate in the rule.

[2021-07-20 14:31] ModeBan commented on #546
Magento 2 to ERPnext

[2021-07-20 14:39] stlgaits commented on #546
Thank you. Currently, Myddleware 2 is not compatible with Magento 2.4. We're currently working on bridging this compatibility gap in Myddleware 3, it should hopefully be done by the end of next week.  Regarding the 'order items' module, it is not yet included in our list of modules, but it will also be part of the development for next week. I will keep you posted.

[2021-07-20 14:49] ModeBan commented on #546
The module is there tho under magento as the source. I just don't know how to setup the 2 rules to work with it.

Could you please advise as to how to setup the rule so that the order has the orders lines in it?

Would you have a sample config?

[2021-07-20 14:57] Myddleware commented on #546
Hi @ModeBan ,
Yes you are right, OrderItem is developped but we have to make it compatble with Magento 2.4.

If you want to know how to link 2 rules, you can see an example here (it is between Customer and Order but it work the same way between orderItems and Order) : https://myddleware.github.io/myddleware/#/basic_usage?id=rule-details

This example is between SuiteCRM and Prestashop but it works

[2021-07-20 15:48] Myddleware commented on #550
Hi @ModeBan ,
We are working on Magento connector to make it compatible with Magento 2.4.
We 'll keep you posted.

[2021-07-20 15:53] ModeBan commented on #550
@Myddleware all the connectors work fine you can see the data the only thing I can't get working is order items to link with order to input into erpnext.

This error was just an execution timeout so I extended that to work with it.

[2021-07-20 17:41] ModeBan commented on #552
@EstelleMyddleware I can give you access to a dev environment if you like on Magento ver. 2.4.2-p1

Do you guys have slack or something i can send you the credentials?

[2021-07-20 18:33] Myddleware commented on #552
@ModeBan ,
We have just installed the version 2.4.2-p1. We will tell you if we need an environement with more data to test everything properly.
Thanks for your help.

[2021-07-20 18:43] Myddleware commented on #550
Thanks for your feedback.
That's a great news, so we hope we can get it all sorted out quickly.

For information, most of Myddleware users use connectors like Prestashop, Salesforce, Vtiger, ERPNext, SuiteCRM, database and Moodle ; but no many people use Magento. So we haven't many feedback about Magento connector, this is why some module  might have bugsin the new version.

So we will use your fe

[2021-07-20 19:22] ModeBan commented on #550
@Myddleware would version 3.0 be functionally stable enough to install and use?

[2021-07-20 19:45] Myddleware commented on #550
Hi @ModeBan ,
Myddleware 's core is tested OK but jus a few connectors are tested OK. And ERPNext hasn't been tested yet. It should work but we aren't 100% sure yet.

[2021-07-20 20:13] ModeBan commented on #550
@Myddleware okay so how do I install it haha?

[2021-07-21 07:38] stlgaits commented on #550
Hello @ModeBan , if you want try out Myddleware 3 before it's released, there are 2 ways to install it at the moment. Either you can type all commands from a terminal or you can setup the project and the use the installation wizard we've created. Here's the procedure :

# Myddleware 3.0 installation process

## From Git using a terminal

`git clone -b upgrade_symfony_4.4.18 git@github.com:Myddlewa

[2021-07-21 09:51] ModeBan commented on #550
Sounds good @Myddleware

The order items seems to be missing from the magento connector

[2021-07-21 10:05] stlgaits commented on #550
Yes indeed, the products module is missing too. I will be fixing this this afternoon.

[2021-07-21 14:46] stlgaits commented on #550
Hello @ModeBan , I've got a quick question since you're using Magento 2.4. I just got my new Magento 2.4.2. which now automatically comes with Two Factor Authentication. Myddleware doesn't support 2FA yet so I was curious as to how managed to get your Magento connector working without 2FA. I  found this :
https://github.com/markshust/magento2-module-disabletwofactorauth
but when I try to install i

[2021-07-21 15:19] ModeBan commented on #550
Hey @EstelleMyddleware

That's actaully a very annoying thing.

you can disable it by running  "php bin/magento module:disable Magento_TwoFactorAuth" in the root directory of the magento install and that will disable that module.

[2021-07-21 15:31] Myddleware commented on #550
Hi @ModeBan ,
Thanks for this command, it works. @EstelleMyddleware  will be able to work on this tomorrow.
We 'll keep you posted.

[2021-07-22 00:34] ModeBan commented on #550
Hey @Myddleware @EstelleMyddleware I have installed Myddleware 3 and so far seems to be working fine i have tested the connector Magento 2 and ErpNExt to send data across and it seems fine so far.

Let me know when I can test the Sales Orders / Order Items modules :D

Thanks guys

[2021-07-22 01:41] Myddleware commented on #550
HI @ModeBan , Thanks for your precious feedback. We are happy that ERPNext is working fine on Myddleware 3.
@EstelleMyddlewarewill work on Magento in a few hours (Europe timezone).
We will keep you posted.

[2021-07-22 08:27] stlgaits commented on #550
@ModeBan thank you very much !!! I've added the Orders Items & Products modules and tested them, it should now be operational, you simply need to git pull. Let me know if there are any unforeseen issues.

[2021-07-22 08:30] #552 closed, assigned to stlgaits

[2021-07-22 08:31] #514 closed, assigned to nobody

[2021-07-22 08:45] ModeBan commented on #550
Hey @Myddleware @EstelleMyddleware

Thanks so much for this, could you test that the sales orders pulls in order items? i cant seem to get it to work.

is this correct for the relation?

![image](https://user-images.githubusercontent.com/21164341/126612301-5080bf49-acae-479f-9922-6d939f5f3649.png)

[2021-07-22 10:22] stlgaits commented on #550
For the relationship, you should have something like this in **Orders Items**  :
![image](https://user-images.githubusercontent.com/74190794/126624541-863cdd2b-3c05-4d66-893a-5626c4cb342b.png)

[2021-07-22 11:18] ModeBan commented on #550
Would you be able to setup a sample to erpnex t?

I can't seem to make it work.

[2021-07-22 12:53] ModeBan commented on #550
Hi,

Would it be possible to appemd an item to items manually?

I have shipping charges but erpnext won't take shipping charges so I'd like to create and order line item manually along with the rest of the items

[2021-07-22 21:05] Myddleware commented on #550
Hi @ModeBan
We will prepare a template for you because the order creation in ERPNExt isn't very simple. You have to use a "child" relationship.

So what I said to you about the relationship order and orderItem was wrong for ERPNext. It is usually right for CRM applications but not forERPNExt. I forgot it sorry. ERPNext doesnt' accept that you create an order (header) without OrderItem, so we have

[2021-07-22 22:11] ModeBan commented on #550
Hi @Myddleware

That's good thanks for that. Let me know when that's done.

Could you incorporate a shipping line into the order items that's pulled from the shipping details in magento order?

[2021-07-23 17:11] Myddleware commented on #550
Hi @ModeBan ,
We have fixed a few bugs in Magento connector and created a template with 4 rules (customers, products, order, and orderItems). Please execute a git pull to get all changes made into the branch upgrade_symfony_4.4.18

Then generate a template by creating a new rule and selecting this template :
![image](https://user-images.githubusercontent.com/11330301/126813680-d1f9a067-b7f4-4415-9

[2021-07-23 17:16] Myddleware opened #553 "Make the filter field more visible"
Could you make this field more visible, maybe by adding a border :
![image](https://user-images.githubusercontent.com/11330301/126818165-7b8effab-3b54-4788-8fff-6d80d1676a4c.png)

Thanks.

[2021-07-24 07:26] ModeBan commented on #550
Thanks for that I'll have to try it and I'll let you know.

Could you add the .env file to the gitignore file?

[2021-07-24 13:30] ModeBan commented on #550
Hey @Myddleware

How would I incorporate the address for the order/customer?

[2021-07-24 18:26] ModeBan commented on #550
Hi @Myddleware im getting this now with the template.

Child document in error (rule 60fc56ef3b80a) : Transfer id 60fc5ae8b2cb46.64817073 : Error, status transfer : Error_transformed The child document has not be saved. Check the log (app/logs/prod.log) for more information. /var/www/html/myddleware/src/Manager/DocumentManager.php Line : ( 1033 )Status : Error_checking

[2021-07-26 08:02] stlgaits commented on #553
![image](https://user-images.githubusercontent.com/74190794/126954462-1165d3ba-41f2-4d73-a6a3-30a98d283678.png)

[2021-07-26 08:02] #553 closed, assigned to stlgaits

[2021-07-26 08:09] stlgaits commented on #550
Hi @ModeBan the .env file isn't in gitignore as it serves as a template, but it is actually overridden once you install Myddleware by a .env.local file that contains your actual secret environment variables.

[2021-07-26 08:47] ModeBan commented on #550
Hi @EstelleMyddleware so would I need to create a .env.local file?

[2021-07-26 09:10] stlgaits commented on #550
It should already be there if you've followed the procedure above, but if you don't have one then yes create it and put your database connection and secret variables in there

[2021-07-26 09:12] stlgaits commented on #550
Btw I'm testing the template and I am getting the same issue as you so I will be trying to solve it and let you know once it's fixed

[2021-07-26 09:27] ModeBan commented on #550
Sounds good @EstelleMyddleware thanks I'm looking forward to getting this setup :D

[2021-07-26 09:27] #546 closed, assigned to nobody

[2021-07-26 14:19] stlgaits commented on #550
Ok, so I know what's the issue. It's to do with your Products rule, if I understand correctly you'd already synced your products to ERPNext. So, there are a few solutions for this problem :
- either you can go to you Order Items relationship section here and change the rule to your old Products rule instead of the template one  and execute all the rules again :
![image](https://user-images.githubu

[2021-07-26 21:34] ModeBan commented on #550
Hey @EstelleMyddleware,

How can I customize the template?

[2021-07-27 00:57] ModeBan commented on #550
@EstelleMyddleware

I'm getting this here error,

All records read have the same reference date in rule Magento to Erpnext ( Products ). Myddleware cannot guarantee that all data will be read. Job interrupted. Please increase the number of data read by changing the limit attribute in job and rule classes.

i think its just timing out, im trying to pull the whole products list, how can i allow this

[2021-07-27 01:32] Myddleware commented on #550
Hi @ModeBan ,
You have probably installed Magento with sample data.  In this case, you have probably 2046 products in your Magento instance. The problem is that all of these products have the same modified date. And the number of records (products here) with the same modified date must be lower than your rule limit, otherwise Myddleware can't be sure all the records has been read.
So you should pu

[2021-07-27 01:51] ModeBan commented on #550
When you say 21 executions do I have to set the date back to the same one in the past?

Thanks for getting back to me
@Myddleware

[2021-07-27 02:00] Myddleware commented on #550
Hi @ModeBan ,
You just have to set the reference date of your rule before the first execution, then myddleware will automatically update this reference date.
Hope it helps

[2021-07-27 12:07] stlgaits opened #554 "ERPNext fields list needs updating"
|  Source  |  Target  |  source module  |  target module  |
|  ---  |  ---  |  ---  |  ---  |
|  ERPNext  |  WooCommerce  |  Item  |  Products  |

Fields mapped :
![image](https://user-images.githubusercontent.com/74190794/127150846-b8a7d76e-e605-41ae-92b7-ee79b105aed3.png)

The following errors were thrown in simulation with the above configuration :
- error: "Reading Issue: Error : Notice: Undef

[2021-07-27 12:35] stlgaits commented on #548
Similar 'issue' with ERPNext, the reference date field takes the following format :  2021-07-26 16:00:33.050050

[2021-07-27 13:58] stlgaits opened #555 "Error Vtiger : "Reading Issue: Error: Request Failed! (Permission to access '.tax1.' attribute denied.)""
|  Source  |  Target  |  source module  |  target module  |
|  ---  |  ---  |  ---  |  ---  |
|  Vtiger  |  ERPNext  |  Products  |  Item  |

![image](https://user-images.githubusercontent.com/74190794/127166793-56e7a4c9-643e-40e5-8b92-bfbac8ebfdee.png)

In simulation I get the following error :
![image](https://user-images.githubusercontent.com/74190794/127166913-e39a8e87-1898-414c-bdc9-f3e273f68

[2021-07-27 14:32] stlgaits opened #556 "Strange behaviour : last_name is sent to ID in target (WooCommerce to ERPNext)"
![image](https://user-images.githubusercontent.com/74190794/127171652-882f8823-9c41-42d6-b2ff-898fe667c076.png)
![image](https://user-images.githubusercontent.com/74190794/127171676-91deb29d-67fe-48e6-829c-58e60e8e336a.png)

![image](https://user-images.githubusercontent.com/74190794/127171606-5b20ecac-30f8-459f-802f-1b988f7770e3.png)

Moreover when I go back in Edit view,  the last_name field has

[2021-07-27 20:21] ModeBan opened #557 "MW3 : Weird visual behaviour"
Hey,

Just noticed that an error is displayed on the task log even tho its going through fine.

![image](https://user-images.githubusercontent.com/21164341/127221979-5ec9dc0b-75cb-47d7-a174-502c9b7289a0.png)

![image](https://user-images.githubusercontent.com/21164341/127222074-e73384cf-6019-46f6-959d-8a5aefbe5c8b.png)

[2021-07-27 23:07] ModeBan commented on #550
As a future reference the curl timeout in the magento.php solution file was the issue that stopped the transfers above 1000k

@Myddleware @EstelleMyddleware

[2021-07-28 10:25] stlgaits opened #558 "Homepage : documents history graph doesn't work"
![image](https://user-images.githubusercontent.com/74190794/127307034-8ee224d9-a3a4-49d0-ba08-a7c94d76bca9.png)
y-axis has wrong scale and no documents and the bar charts doesn't display any documents

[2021-07-28 14:54] stlgaits commented on #558
![image](https://user-images.githubusercontent.com/74190794/127344637-7d9940d8-c3a6-4cd4-8282-3fe4b51fcf0e.png)

[2021-07-28 14:54] #558 closed, assigned to stlgaits

[2021-07-28 14:59] stlgaits commented on #526
Made base container wider on all pages to improve readability, especially in tables with error messages and improved layout of homepage graphs
![image](https://user-images.githubusercontent.com/74190794/127345288-bfe4eaa8-f046-4500-9b16-670964f308e9.png)
![image](https://user-images.githubusercontent.com/74190794/127345321-127ae01a-afec-4cc9-9a92-68f3a07749c1.png)
![image](https://user-images.gith

[2021-07-30 00:58] #550 closed, assigned to stlgaits

[2021-07-30 00:59] ModeBan opened #559 "Magento 2 to ERPnext"
Hi,

I'm getting the below error when trying to add Sales Taxes as a child of Sales invoice for magento to erpnext

![image](https://user-images.githubusercontent.com/21164341/127583943-e84484a6-cd06-4ef7-b6e1-e276671d8ea0.png)

[2021-07-31 05:09] Myddleware commented on #559
Hi @ModeBan ,
childModuleKey is an array we use to define the data format when Myddleware create or update a record into ERPNExt. This array is defined in the file \src\Solutions\erpnext.php :
![image](https://user-images.githubusercontent.com/11330301/127729077-77194d08-00a5-497b-9805-0f1c2e9a1bd8.png)

When Myddleware merges differents data, like "Sales invoice" and "Item", we need to tell Myddl

[2021-07-31 05:11] Myddleware commented on #557
HI @ModeBan ,
Thanks for your feedback, this is a display bug. @EstelleMyddleware  will fix it next week.
Have a nice day.

[2021-07-31 11:13] ModeBan commented on #559
Heya @Myddleware this worked.

How can I submit the field 'docstatus' that's in the Json returnd from the invoices request that's to summit the invoice to make it permanent

[2021-08-02 10:14] stlgaits commented on #526
Changed nav tabs using Bootstrap instead of Jquery UI to make them responsive
![image](https://user-images.githubusercontent.com/74190794/127845169-3c844fe3-693e-48fe-8cd2-6cf3b3bde9f8.png)
![image](https://user-images.githubusercontent.com/74190794/127845410-fa553b86-df80-47b4-b670-30168347eec7.png)

[2021-08-02 22:20] ModeBan commented on #559
Hey @Myddleware ive added this to the code and it worked,

'Sales Taxes and Charges' => 'taxes',

[2021-08-02 22:39] #559 closed, assigned to nobody

[2021-08-03 05:07] Myddleware commented on #526
Perfect, thanks @EstelleMyddleware

[2021-08-04 02:33] Myddleware commented on #559
Hi @ModeBan ,
Great news, thanks you for your feedback.
@EstelleMyddleware, could you add the line `'Sales Taxes and Charges' => 'taxes',`  in the array childModuleKey and commit it.
Thanks

[2021-08-04 08:04] #498 closed, assigned to stlgaits

[2021-08-04 10:25] #504 closed, assigned to nobody

[2021-08-04 10:26] #487 closed, assigned to nobody

[2021-08-04 10:26] stlgaits commented on #487
This has been fixed for MW3

[2021-08-04 10:32] #350 closed, assigned to Myddleware

[2021-08-04 19:03] ModeBan opened #560 "Cant Set Posting Date For ERP Next Invoice"
Hi, i can't set the posting date for an erpnext sales invoice.

any ideas?

[2021-08-05 06:38] stlgaits commented on #560
hi @ModeBan do you get an error message ? Could you show me your fields mapping & relationships, I would like to try to reproduce your case first.

[2021-08-05 18:21] ModeBan commented on #560
Hi @EstelleMyddleware I got it sorted, needed to set set_posting_time to 1

Is there a way to set docstatus in middleware for invoices?

[2021-08-05 18:58] rulotec commented on #509
Hi,

I finally found the problem. The message was coming from an unexpected myddleware instance. I have 4 in total and I just looked into the two ones I had recently installed. As Estelle, suggested, I could stop the task.

However, it would be really useful if those emails could come with a link that directly takes you to the task with the problem. That would make it a lot easier to debug.

Thank

[2021-08-05 18:59] rulotec commented on #509
Also, it would be good if there was a way to turn notifications on/off or having the ability to set the interval.

[2021-08-08 21:13] Myddleware commented on #509
Hi @rulotec,
Adding a link in the alert email is a gread idea.

If you want to turn notifications on/off , you can go to this page :
![image](https://user-images.githubusercontent.com/11330301/128645800-82af68c4-bae9-40a9-ac7b-3f8847adaf49.png)

Hope it helps.

[2021-08-09 01:22] rulotec commented on #509
Thanks! That's good to know.

[2021-08-09 09:11] stlgaits commented on #560
Hi @ModeBan do you mean the status field in Sales Invoice module ? If so, you can create a formula during field mapping and select one of the following values :
![image](https://user-images.githubusercontent.com/74190794/128683175-e249ef20-98d7-4ed3-a14b-8b238a5eea8b.png)
![image](https://user-images.githubusercontent.com/74190794/128683348-adb68035-1e1b-418f-841b-87fa59e48ea8.png)
![image](https:

[2021-08-09 09:19] ModeBan commented on #560
Hey @EstelleMyddleware

So that's how you'd submit an invoice?

Can you confirm that it works I wasn't able to get it to submit the invoice.

So I did a rest post request and there is a field called docstatus and it can be 0 or 1 and with 1 being that the invoice is submitted.

Is there a way to achieve this?

[2021-08-09 10:25] stlgaits commented on #560
Ha !
From what I've gathered, the docstatus part is a description of a field and shouldn't be edited in itself. For example, this is an extract of what I get on a GET request to  ..../api/method/frappe.desk.form.load.getdoctype?doctype=Sales%20Invoice for the fields address_display & contact_person :
`          {
                    "doctype": "DocField",
                    "name": "e8d2004ac2",

[2021-08-10 22:57] ModeBan commented on #560
Hi @EstelleMyddleware

That is not the way to send sumbitted.

the field docstatus needs to be set to 1 when creating the invoice.

Can you add a field for that?

[2021-08-11 10:07] stlgaits commented on #560
Hello @ModeBan , could you show me the error message you get from Myddleware as well your fields mapping ? Much appreciated.

[2021-08-11 10:16] ModeBan commented on #560
@EstelleMyddleware there is no error thst I can see just the status of the invoice is not set at all in ERPnext.

For that to happen docstatus needs to be set to 1. I've tried to manually by running a post request and creating the invoice via api.

I can send you the fields mapping later today.

[2021-08-12 07:59] Myddleware commented on #560
Hi @ModeBan ,
Could you send us what you have post to create you invoice manually with a specific status ? It will definitely help us to adapt our ERPNext connector.
Thanks.

[2021-08-18 09:07] francescobianco opened #561 "Problem when create template from rule with relationship"
If I try to create a tempalte with

[code]

I receive this error

[code]

@simonetravaglini

[2021-08-18 12:32] Myddleware commented on #561
Hi @francescobianco ,

I guess your rule 611148c584xxx has a relationship with another rule. If I am right you have 2 ways to solve this problem :

- Remove the relationship from your rule and generate the template again
- Add the rule linked to the rule 611148c584xxx into the template. You should have something like :
`php bin/console myddleware:generateTemplate "newtempl" "My new template" 61114

[2021-08-23 07:33] #526 closed, assigned to stlgaits

[2021-08-23 07:56] stlgaits opened #562 "On / Off button on rule list page doesn't save rule active param"
![image](https://user-images.githubusercontent.com/74190794/130411061-474303ed-0b11-47a6-9ae5-0634e881ec78.png)
On the rule list page, the toggle on / off button doesn't modify whether the rule is active or not. However, on individual rules, the button works properly and the active status is transferred to rule list page, so it's only 'one way' that this toggle doesn't work properly

[2021-08-23 07:57] #554 closed, assigned to stlgaits

[2021-08-23 07:59] Myddleware commented on #526
Good job @EstelleMyddleware , thanks.

[2021-08-23 11:42] ingram02 opened #563 "demo forbidden error"
Hi all,

When I try to create the demo connectors for SuiteCRM and Prestashop, I am getting this error:

**Forbidden
You don't have permission to access this resource.

Additionally, a 403 Forbidden error was encountered while trying to use an ErrorDocument to handle the request.**

These are the instructions I am following:

[2.5 Myddleware Demo Instructions.docx](https://github.com/Myddleware/my

[2021-08-23 14:05] stlgaits commented on #563
Hello, at what step exactly do you get this error ? Could  you send me some screenshots & the exact steps you followed (what data did you input etc) ? This would help me reproduce your issue :)

[2021-08-23 14:14] ingram02 commented on #563
Hi EstelleMyddleware,

It is when I save the connection. Attached is a zip file of the steps and data I inputted (used demo and demo as user and password).

Best regards,

Mel

________________________________
From: EstelleMyddleware ***@***.***>
Sent: 23 August 2021 15:05
To: Myddleware/myddleware ***@***.***>
Cc: Mel Ingram ***@***.***>; Author ***@***.***>
Subject: Re: [Myddleware/myddleware] d

[2021-08-23 14:18] stlgaits commented on #563
Hi @ingram02 , it seems you've responded using your email client so I didn't get the zip file

[2021-08-23 14:19] ingram02 commented on #563
[DEMO SCREENSHOTS.zip](https://github.com/Myddleware/myddleware/files/7032629/DEMO.SCREENSHOTS.zip)

Oh, sorry. Here you go :)

[2021-08-24 07:44] stlgaits commented on #563
@ingram02 ha indeed I got the exact same error, there must be a tiny issue on the server. Let me get back to you once we've fixed it :)

[2021-08-31 14:53] Myddleware opened #564 "Change the history document block width"
Could you change the width of this block :
![image](https://user-images.githubusercontent.com/11330301/131525338-5a9695fa-472a-4f1a-aa44-b3a18e8317a6.png)

Could you check the other blocks too (child documents, parent documents).
Thanks

[2021-09-01 07:46] stlgaits commented on #564
![image](https://user-images.githubusercontent.com/74190794/131629416-cf87f2d8-69c4-4483-baa5-ca9432c85fbd.png)

[2021-09-01 07:46] #564 closed, assigned to stlgaits

[2021-09-03 10:18] Myddleware commented on #563
Hi @ingram02 ,
Sorry for the delay of our intervention. We have fixed the issue, you should be now able to create a connector.
Contact us if you have any other problem.

[2021-09-06 07:14] #563 closed, assigned to stlgaits

[2021-09-27 09:47] stlgaits opened #565 "TODO: fix position of formula form"
![image](https://user-images.githubusercontent.com/74190794/134885761-7b30df7d-f2ce-4975-8412-b86a1e7bddbe.png)
This form should be in the center of the screen & not top left corner

[2021-09-28 08:52] simonetravaglini opened #566 "millisconds lost in date reference"
Hi,
we have this scenario.
records with date reference in this format:
2021-09-18 10:04:50.303
But when the rules run date reference of last run is saved in this way:
![image](https://user-images.githubusercontent.com/6990139/135055601-1b1b5dbf-8ae4-463e-b533-cf2a45d479bf.png)
The result is that in following run are processed same record every time.

We are connecting a mssql Db to Vtiger.

[2021-09-28 13:00] stlgaits commented on #566
Hello @simonetravaglini  Could you confirm that you are sending records in this direction ?
Source:  MSSQL
Target:  Vtiger

[2021-09-29 12:27] simonetravaglini commented on #566
@EstelleMyddleware yes I confirm.

[2021-09-30 15:39] simonetravaglini commented on #566
@EstelleMyddleware @myddleware-dev have you tips for me? ;)

[2021-09-30 15:54] Myddleware commented on #566
Hi @simonetravaglini ,
Sorry busy period ;)

When we check the code, the MSSQL read function should return the date with microseconds :  2021-09-18 10:04:50.303, and store it as date_ref. So the date in your rule should have the microseconds.
The only thing I see is maybe a custom code that change the date format . And if I remember well, we have guide you to develop some custom code.

You probabl

[2021-10-01 15:55] francescobianco commented on #566
Hi @Myddleware @EstelleMyddleware

The only custom code we have for dare_ref management is it:

[code]

This code has the purpose of ADDing microseconds when missed on source

[2021-10-04 21:02] Myddleware commented on #566
Hi @francescobianco ,
We have checked the code and the reference date should be displayed as it is returned by the read function. There is no date transformation when Myddleware save the reference date in the database here https://github.com/Myddleware/myddleware/blob/58cc2036e23f86f15f69a2db62d149515384fc2d/src/Myddleware/RegleBundle/Classes/rule.php#L390

Could you check in debug what is the val

[2021-10-07 12:42] francescobianco commented on #566
Hi @Myddleware , we have an update about our problem with MILLISECONDS. This is a long Story. I report it to you due to take notes for future problme with this:

## The long Story

In PHP world we have two different way for access on MSSQL database

1. PDO with SQLSRV <https://www.php.net/manual/en/ref.pdo-sqlsrv.php>
2. PDO with DBLID <https://www.php.net/manual/en/ref.pdo-dblib.connection.php>

[2021-10-11 17:14] rulotec commented on #509
Hi guys!

Today  I wanted to see whether the email notifications were active for a particular instance. I came across the jobscheduler list:

![image](https://user-images.githubusercontent.com/36896420/136828065-85dd1860-1ad7-4fdd-9f2b-68774ef304b3.png)

However, I did not realize that the "Active" column was what I was looking for. I remembered you helped me with this a few months ago, so I came

[2021-10-19 12:55] #566 closed, assigned to nobody

[2021-10-22 00:45] rulotec opened #573 "cannot save formulas in fields mapping when field names have special characters"
I get this error:

![Screenshot from 2021-10-21 19-39-10](https://user-images.githubusercontent.com/36896420/138375321-384d3291-53f7-49d9-9689-aa548642d0db.png)

When using a formula like this one:

![Screenshot from 2021-10-21 19-41-50](https://user-images.githubusercontent.com/36896420/138375469-d1721edb-d617-4da4-8d68-343ab2c57971.png)

The problem is that the fieldname, created by facebook is

[2021-10-22 01:23] rulotec opened #574 "records are not retrieved from facbook in the "Simulation" eventhough there are records"
When running the test, I get the error:

![image](https://user-images.githubusercontent.com/36896420/138377867-a61dc233-869d-4f24-abc6-7d1a6db15069.png)

I confirmed there are records in my facebook "Leads Center". What I noticed is that it happens when the records are not recent.

If I choose a campaign that has recent records (from today or yesterday) I do see the record data in the test.

So, i

[2021-10-22 17:31] Myddleware commented on #509
Thank you very much @rulotec for your feedback. It helps us a lot.
Have a nice weekend.

[2021-10-22 17:34] Myddleware commented on #566
Thank you so much @simonetravaglini @francescobianco  for your feedback and the explanation of the solution you found.

[2021-10-25 06:52] simonetravaglini opened #576 "How to create a slot of time for rules."
Hi myddleware team,
suppose we have to run a rule every 5 minutes, but... only during night time (ex. from 23.00 to 7.00).
What is in your opinion the best way to manage this situation?

@francescobianco

[2021-10-25 09:01] Myddleware commented on #576
Hi @simonetravaglini @francescobianco ,
In your case we use the crontab configuration. In this example, we run Myddleware every minutes the day and every 30 minutes during the night :
[code]
Hope it helps.

[2021-10-25 13:15] simonetravaglini commented on #576
@Myddleware Hi sorry if I was not clear in my request.
Suppose we have 2 rules. One should be load every 5 minutes all day long, the second every 5 minute but only in the night.

[2021-10-25 13:32] Myddleware commented on #576
OK, I am afraid that isn't possible using Myddleware scheduler, we have to improve it.

Here is a workaround. You can disable the synchro command in Myddleware's scheduler :
![image](https://user-images.githubusercontent.com/11330301/138704297-38c585f5-c6f3-452d-b252-5478675bfff9.png)

And keep the other commands active (rerunerreor, notifcation...)

Then use the crontab to manage synchro command

[2021-10-25 16:19] rulotec opened #577 "Cannot remove field in mapping when the field has special charcters"
Take this as an example:

![image](https://user-images.githubusercontent.com/36896420/138732507-95bf0e12-e3a9-48d5-a1bc-43581fcc0c26.png)

The field `¿Por donde le gustaría ser contactado?` cannot be removed by double clicking on it, unlike fields without special characters.

This is closely related to #573

[2021-10-26 06:20] simonetravaglini commented on #576
ok Thanks it's a good workaround.
I suggest to add this feature in next release.
@francescobianco

[2021-10-26 08:02] Myddleware commented on #576
Thanks @simonetravaglini @francescobianco ,
@EstelleMyddleware could you check if we can add a scheduler bundle like one of these :
https://github.com/zenstruck/schedule-bundle
https://github.com/j-guyon/CommandSchedulerBundle

Thanks.

[2021-10-26 12:53] stlgaits commented on #577
Very specifically, this issue is linked to the upside down question mark character only, which isn't recognised.
Here is a partial fix in Myddleware 3.0 hotfix, but still trying to fix this properly.
https://github.com/Myddleware/myddleware/commit/7e44e99c967ea08ca2ec91482b95032549be3639
With this fix for now, you can remove the field from the fields mapping, but the problem is moved to the filter

[2021-10-26 12:56] stlgaits commented on #574
From top of my head, the simulation reads data from 1 month ago maximum, however bear in mind that if there is an issue with your fields (for example if you put multiple fields in the same target field without a formula), then the message would be there is no data in the source, even though in reality once you run the rule you would get an array to string conversion issue here.

[2021-10-26 12:56] #574 closed, assigned to nobody

[2021-10-26 13:25] #565 closed, assigned to stlgaits

[2021-10-28 06:35] simonetravaglini opened #578 "FTP connector file scheduler"
Hi,
we are using FTP file with txt (you did a customization for us) file, but facing an issue.
Seems that scheduler load the file with more recent date. But suppose I load 3 file at same time, then the flow fail and skip one at least.
I suggest a different beahaviour.
It should load the oldest file with TXT extension, then when have finished to get data from file it shuold change the name of file.

[2021-10-28 19:02] Myddleware commented on #578
Hi @simonetravaglini,
I see the issue. However I think that the solution won't work with our connector (but thanks for the proposal) because Myddleware has 2 ways to read new data :
 1) Like in your case : if one or several new files  are posted in the directory, Myddleware will read these new files
 2) Second way : if new lines are added into an existing file, Myddleware will detect that the file

[2021-11-03 16:14] rulotec opened #580 "Tasks with error (that appear to be running in the UI) prevent further tasks from executing"
I've been having trouble with tasks that never end:

![image](https://user-images.githubusercontent.com/36896420/140095701-11dfbe03-53e5-4ebe-836c-32e7c3b080b7.png)

They get stuck and then no further transfers can start, so the whole sync process is stopped.

Looking into the `background.log` I see there is an error in MySql `SQLSTATE[HY000]: General error: 2006 MySQL server has gone away`. Here

[2021-11-03 19:40] Myddleware commented on #580
HI @rulotec ,
In your case the task never ends as there was a fatal error (MySQL error). So you can stop the task manually. It will unlock Myddleware.
Yes you should have received an alert notification. When you have setup your email parameters, did you test it ? Did you receive the test message ?
Have a nice day.

[2021-11-04 16:23] rulotec commented on #580
Hi @Myddleware

I remember that I was getting notifications from this instance before and I never configured an smtp account. The sender had a myddleware.com domain if I'm not mistaken.

I have now configured an smtp account and I hope I get the notifications when this happens again. I would like to mention that the smtp configuration is very misleading. I entered the configuration parameters, sav

[2021-11-07 19:09] rulotec commented on #580
Hi @Myddleware

After setting up a smtp account I'm still not getting notifications when a task has been running for too long. Do you have any idea what else could I check so that I get notifications?

[2021-11-10 21:40] Myddleware commented on #580
Hi @rulotec ,
Sorry for the delay of my answer, very busy period.
Could you run this command in a terminal from Myddleware root directory:
`php bin/console myddleware:notification alert --env=background`

It will send the notification in case you have a task open for more than 60 minutes. Then if you don't receive a notification, could you check your background log in <myddleware>/var/logs/backgro

[2021-11-11 19:16] rulotec commented on #580
Thanks for the reply!

It could be the superadmin thing, but I'm not sure since I have several myddleware instances and I changed to superadmin on one of them.

If I look into the DB, `users.role` has this value `a:1:{i:0;s:10:"ROLE_ADMIN";}`. Is that superadmin?

[2021-11-11 19:32] egutmartinez opened #582 "Synchronizing Prestashop orders with Moodle courses"
Hi, I'm trying to add automatically new orders of online courses from Prestashop to Moodle course enrolments with myddleware.

I put the same name in both ends but I'm finding that it creates new courses (new id) after the user purchasing on prestashop instead enrol the user to existing moodle courses.

Can someone please let me know any sugeestion to fix the above or let me know about any extende

[2021-11-12 10:24] Myddleware commented on #582
Hi @egutmartinez ,
I guess there is probably a wrong configuration in the rule relationship.
You can use a template we have built for your case. Whe you create a rule, select "Default templte selection" :
![image](https://user-images.githubusercontent.com/11330301/141451006-60eae5c6-3b2b-49e7-9d99-5c16d060fa5e.png)

It will create 4 rule in your Myddleware :
 - Prestashop customers => Moodle users

[2021-11-12 13:26] egutmartinez commented on #582
Yes, I had selected the default template. But maybe I was wrong with any other stuff regarding courses.

The prestashop install we have is just a new testing site where i just add one testing product and I added that product on prestashop using the same name that one of the courses in Moodle. then I thought that if I tried to book that testing product on prestashop it will make the Moodle enrol fo

[2021-11-16 16:23] rulotec commented on #580
@Myddleware If I run the mentioned command through the terminal, I see this in the logs:

`app.ERROR: Exception occurred while flushing email queue: Expected response code 220 but got code "", with message "" [] []`

[2021-11-17 11:19] Myddleware commented on #580
Hi @rulotec ,
I have read a topic on a french forum (so I don't add the link). They spoke about the firewall that could block the email. Could you check it ?
Thanks.

[2021-11-17 11:57] Myddleware commented on #582
Hi @egutmartinez ,
Sorry for the delay of our response, weekend + very busy period ;)

Before Myddleware creates a record in the target application (Moodle in your case), it can check if the record already exist. In this case you have to specify the duplicate key. In your case you can check "name" like this :
![image](https://user-images.githubusercontent.com/11330301/142196048-e71ace9a-32c7-401d-

[2021-11-19 12:38] egutmartinez opened #584 "Testing Myddleware"
Hi there, I'm testing Myddleware on Platform.sh and when I try to reset the admin password I get the following 500 error:

[2021-11-19 12:02:37] request.CRITICAL: Uncaught PHP Exception Twig\Error\SyntaxError: "Unknown "form_enctype" function." at /app/app/Resources/FOSUserBundle/views/Resetting/reset_content.html.twig line 8 {"exception":"[object] (Twig\\Error\\SyntaxError(code: 0): Unknown \"for

[2021-11-19 12:51] Myddleware commented on #584
Hi @egutmartinez ,
Sorry but Myddleware isn't supported anymore by Platform.sh. There is probably issue with the php version or with another library version.
If you want to test Myddleware, we will finish the docker configuration for Myddleware soon. Once it is done, it will be easier to host Myddleware.
We will keep you posted.

[2021-11-19 16:19] rhubinak commented on #584
This looks like an issue with the library dependencies: https://github.com/symfony/symfony/issues/12333 and https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2012 Please check your composer.json

[2021-11-21 21:51] egutmartinez opened #585 "Myddleware install on server"
Hi there,

I'm trying to install Myddleware on our server with Ubuntu 18.04 and Php 7.4.

In order to meet the requirements I'm trying to install yarn following the instructions on https://yarnpkg.com/getting-started/install

If I ran the command "node -v" on my server I get the following error:

-----------------
Command 'node' not found, but can be installed with:

sudo apt install nodejs
------

[2021-11-22 08:11] stlgaits commented on #585
Hello @egutmartinez  yes this looks good to me except probably the yarn init -2 command which shouldn't be necessary in this case since it is a command to initialise a brand new project which isn't our case here. Let me know if it worked.

[2021-11-22 10:31] egutmartinez commented on #585
Thank you for your help!

I tried but when I ran "sudo yarn build" I get the following error:

yarn run v1.22.15
$ php bin/console fos:js-routing:dump --format=json --target=public/js/fos_js_routes.json && encore production --progress
Dumping exposed routes.

[dir+]  public/js
[file+] public/js/fos_js_routes.json
Running webpack ...

 WARNING  The value passed to setPublicPath() should *usually* s

[2021-11-22 10:40] stlgaits commented on #585
@egutmartinez Ha I believe this is due to the fact that the previous command makes you install Node v17 which is apparently not yet compatible with our version of webpack (this is a Symfony 4.4 project). I had a look at this issue and they seem to suggest several solutions, including downgrading to the LTS version of Node.js to ensure compatibilty, which I think should do the trick : https://stack

[2021-11-22 14:00] egutmartinez commented on #585
Thank you for that.

I tested it now with the LTS version of Node.js and that "sudo yarn build" command worked fine this time.

But now I went to https://path_to_myddleware/myddleware/public to install and I get the following error 500 page:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurr

[2021-11-22 14:05] stlgaits commented on #585
@egutmartinez  Could you check what the last logs in /var/www/path_to_myddleware/public_html/myddleware/var/log/prod.log say ?

[2021-11-22 14:40] egutmartinez commented on #585
Well, I cannot find any logs there. The /var/www/path_to_myddleware/public_html/myddleware/var/log/ directory is empty and not exist the prod.log file

[2021-11-22 15:04] stlgaits commented on #585
@egutmartinez Ok; could you check that the var/log & var/cache (or simply /var) are writable by the webserver (it should be www-data user if you're using Apache) ?

[2021-11-23 09:29] egutmartinez commented on #585
Thank you for that.

I did a "sudo chown -R www-data:" for  the /var directory and it worked. Now I could start with the install from browser.

Bur now I'm finding that the install cannot connet with the database.

I created the database and gave the myddleware user privileges using the following commands:

create database myddleware_db;
create user myddleware_user@localhost identified with mysql_

[2021-11-23 10:07] stlgaits commented on #585
@egutmartinez hm you definetely clicked 'Save' before clicking 'Next' ? This is strange as from what I can gather, it attempts to log in using the code from the standard .env file (hence why it says db_user and not myddleware_user like you've written in the input) which means that it didn't create the .env.local file automatically like it should with the info you've typed above.
Could you check on

[2021-11-23 10:26] egutmartinez commented on #585
Thank you for that. I did a "sudo chown -R www-data:" for all the /myddleware directory and it worked. Looks like wasn't able to write there.

Now looks like connect to the database, but still I get the following error:

Unknown database. Please make sure your database exists. An exception occurred while executing 'INSERT INTO config (name, value) VALUES (?, ?)' with params ["allow_install", "true

[2021-11-23 10:38] stlgaits commented on #585
@egutmartinez ok, to fix your problem I think the simplest solution would be to follow the rest of the tutorial 'install via command line' here  https://myddleware.github.io/myddleware/#/?id=install-myddleware from 'php bin/console doctrine:schema:update –force' Hopefully it should fix your issue.

However what I find strange is that this error means that either the web user isn't able to connect

[2021-11-23 10:54] egutmartinez commented on #585
Well, It finally worked. I had error on the Grant privileges command as I was putting:

grant all privileges on myddleware_db to myddleware_user@localhost;

instead

grant all privileges on myddleware_db.* to myddleware_user@localhost;

I have just login to the app and I get the following screen that I presumme is the normal one I should get when I didn't still add any information to that.

![mydd

[2021-11-23 11:08] stlgaits commented on #585
@egutmartinez Haaa excellent news !!! Yes you can now start using Myddleware and create your first connectors 🥇

[2021-11-23 11:09] #585 closed, assigned to stlgaits

[2021-11-23 11:52] egutmartinez commented on #585
Well, I'm finding a problem when try to create the first rule.

I have added 2 connectos succesfully then try to create the first rule and when click on "Confirm this rule" it never finish and I see "Please wait" on the button but never finish and not message on prod.log

![rule](https://user-images.githubusercontent.com/94139020/143019468-5ab7c502-332e-4c34-b2ac-31100c12d733.jpg)

Can you help wi

[2021-11-23 13:44] egutmartinez commented on #585
I found some log on the apache error log:

[Tue Nov 23 14:31:41.290730 2021] [php7:notice] [pid 10930] [client 127.0.0.1:35678] [PHP Notice #8] Trying to access array offset on value of type null (/var/www/my_domain/public_html/course/c$
[Tue Nov 23 14:31:41.290818 2021] [php7:notice] [pid 10930] [client 127.0.0.1:35678] [PHP Notice #8] Trying to access array offset on value of type null (/var/www

[2021-11-23 14:05] stlgaits commented on #585
@egutmartinez hm this might be a bug on our side (in the template), we will try to reproduce your case and will let you know ASAP what we found out.

[2021-11-25 07:46] #533 closed, assigned to nobody

[2021-11-25 09:25] Myddleware opened #586 "Error chart : number not diplayed properly when > 1000"
If the number of error is greater than 1000, the number is not diplayed properly :
![image](https://user-images.githubusercontent.com/11330301/143414936-87c9bb97-bb3f-4b92-b064-691f60be8f2e.png)

[2021-11-25 11:33] egutmartinez commented on #585
Hi there,

I have just realised that I put a wrong information above as The "/var/www/my_domain/public_html/course" directory is the place where we have installed Prestashop and not Moodle like said before by mistake.

Maybe also It could help If I put all the lines that I can see on the apache error log. Please find it below:

[Thu Nov 25 12:19:20.936421 2021] [php7:notice] [pid 29204] [client 12

[2021-11-25 17:57] Myddleware opened #587 "Stop task button doesn't work for delete rule document action"
Stop task button doesn't work for delete rule document action

[2021-11-25 20:39] Myddleware opened #588 "Myddleware performance : Execute query on rule not on document"
For example, the query for rule param (method setRuleParam) can be done on rule level and not document level.

[2021-11-26 13:21] CamillePMyddleware opened #589 "Compose your formula"
The window will not close if it is opened a second time.

![Compose_your_formula](https://user-images.githubusercontent.com/95077335/143586918-7612dc83-9757-495a-81ba-91feb7085f20.JPG)

[2021-11-26 13:25] CamillePMyddleware opened #590 "Relations do not register"
![Relations](https://user-images.githubusercontent.com/95077335/143587685-1cd99810-dbd9-4b7a-afb4-ee8c7a979123.JPG)

[2021-11-27 01:10] Myddleware opened #591 "Myddleware performance : Relake_OK status has to be improved"
The relate check and the transformation do the same action for relationship. relate_KO could be generated during the transformation.

[2021-11-29 10:57] stlgaits opened #592 "Bug: When you click on the + sign in the rule creation panel, an SQL error is triggered"
![image](https://user-images.githubusercontent.com/74190794/143838500-369e96c0-2f8e-455c-b70a-cc709243571b.png)
An exception occurred while executing 'SELECT s0_.id AS id_0, s0_.name AS name_1, s0_.active AS active_2, s0_.source AS source_3, s0_.target AS target_4 FROM solution s0_ WHERE s0_.active = ? AND s0_.source = ? GROUP BY s0_.name ORDER BY s0_.name ASC' with params [1, 1]:

SQLSTATE[42000]

[2021-11-29 14:28] stlgaits commented on #590
![image](https://user-images.githubusercontent.com/74190794/143885217-c4bd778f-800e-4580-8c4d-a43a2a389854.png)
The problem came from a missing class in frontend table of relationships. I have fixed it, however this makes me think that an enhancement should be made in how we generate / save rules parameters, since here a simple frontend modification ended up breaking up the whole workflow without

[2021-11-29 14:28] #590 closed, assigned to stlgaits

[2021-12-01 08:16] simonetravaglini opened #594 "Deletion issue when record ricreated in source"
Please give a look at this scenario:
1 - we have a source database and vtiger as target
2 - a record is cancelled in source, the rule manage deletion so in vtiger record is deleted
3 - the record is recreated in source with same ID
4 - when the rule run try to go in update instead of create, so we got error with vtiger api becouse can't find the record

@francescobianco please add info if need

[2021-12-01 16:32] francescobianco commented on #594
We have found this on debug:

The line 1677 of file document.php is responsible for the selection of type 'U' instead of type 'C' but we require type 'C' at this stage
https://github.com/Myddleware/myddleware/blob/fa472d42b0252c9328bb63cb71cc1006fa3511fe/src/Myddleware/RegleBundle/Classes/document.php#L1677

[code]

[2021-12-01 16:46] Myddleware commented on #594
Hi @simonetravaglini and @francescobianco ,
You are right, this scenario isn't handled by Myddleware. We will work on it to give you a fix. We should check if the last document sent is a deleted one. If yes, we should set 'C' and not 'U'.
We will add a fix in the hotfix branch soon. When do you need this bug fixed ?

[2021-12-01 17:35] francescobianco commented on #594
Actually we work with your `master` branch the exact version is `v2.5.7j`
You have perfect catch our problem, Thanks!

[2021-12-01 18:21] Myddleware commented on #594
Ok, we will fix it on Myddleware 2 (branch master) and Myddleware 3 (branch main).

[2021-12-03 12:46] cecov74 opened #595 "Fail to connect to MSSQL"
Hi, when I try to connect to MSSQL not find the driver, I see that use PDO connection and is present to php.ini
` Connection failed : could not find driver /var/www/vhosts/xxxxxx/myddleware.karatti.it/myddleware/src/Solutions/microsoftsql.php Line : ( 46 )`

![image](https://user-images.githubusercontent.com/19213713/144604731-c2849890-1ae6-4c1d-a494-5bbc752e3823.png)

why not load it?

[2021-12-13 14:42] Myddleware opened #597 "Alert email not translated"
This text has to be translated when A task is running for too long.

Une tâche en cours a dépassé la limite que vous avez autorisée : 60 minutes<br/> La tâche a commencé à .<br/> ID de la tâche : <br/> Vérifiez que la tâche est toujours en train de transférer des données. Si ce n'est pas le cas, nous vous recommandons de l'arrêter manuellement en ouvrant la tâche et en cliquant sur le bouton "Arrê

[2021-12-13 15:40] Myddleware opened #598 "Alert email sent even if no task are still running"
The alert email is sent by the scheduler even if the no task are running too long.

[2021-12-13 23:12] rulotec commented on #580
I have a Vtiger instance on the same server using the same smtp account. Vtiger can send emails, so I don't think it could be the firewall.

[2021-12-15 23:34] Myddleware commented on #580
Hi @rulotec ,
It is a very busy period. We plan to work on this shorrtly. Could you tell me what version of Myddleware you use. Is that Myddleware 2 or Myddleware 3 ? You can see it in the footer.
Thanks.

[2021-12-17 04:09] rulotec commented on #580
It's v2.5.4b

[2021-12-21 14:02] #562 closed, assigned to stlgaits

[2021-12-22 10:33] #592 closed, assigned to stlgaits

[2021-12-23 13:26] CamillePMyddleware commented on #557
This has been fixed a while ago, we simply forgot to link a commit to it but the latest MW3 version should not include this bug.

[2021-12-23 13:26] #557 closed, assigned to stlgaits

[2021-12-23 13:28] stlgaits commented on #547
I thnk this was linked to my dev environment, I haven't been able to reproduce this error i na long time. Closing now.

[2021-12-23 13:28] #547 closed, assigned to stlgaits

[2021-12-23 13:35] stlgaits opened #600 "MW3 visual bug: when double clicking a field on the field mapping, the placeholder is replaced with a grey background and the arrow is loading indefinetely on hover"
MW3 visual bug: when double clicking a field on the field mapping, the placeholder is replaced with a grey background and the arrow is loading indefinetely on hover
If you drag & drop a field or a formula in a fields mapping card and then double click it to remove it, instead of reverting to the placeholder text, the div becomes grey & there seems to be an endless request on hover (the arrow becom

[2021-12-24 08:29] #600 closed, assigned to CamillePMyddleware

[2021-12-24 09:17] CamillePMyddleware opened #601 "On an "error" document the modification of a line does not work"
With one click it generates an inactive and invisible entry. If you click several times, it generates several entries, also inactive. The validate button is also invisible and inactive.
![error](https://user-images.githubusercontent.com/95077335/147338950-c5e28e88-c46f-4db3-a402-713e6d6b6dac.PNG)

[2021-12-24 13:18] Myddleware commented on #589
This issue is fixed.

[2021-12-24 13:18] #589 closed, assigned to nobody

[2021-12-24 13:22] Myddleware commented on #586
@CamillePMyddleware you can work on this issue. If you want to reproduce the case, you need to generate more than 1000 document in error in the same rule. You can comment this line in the synchro command (into your local directory) to keep all new documents in status open :
https://github.com/Myddleware/myddleware/blob/98b21d28c8f103abfb6531babeea6bbf76e34cb7/src/Command/SynchroCommand.php#L157
 T

[2021-12-27 09:56] #586 closed, assigned to stlgaits, CamillePMyddleware

[2021-12-27 12:41] CamillePMyddleware opened #602 "Display error, the dates overlap"
In the homepage of myddleware, in the section "job history", the dates under the schema overlap. See in home.js
![error2](https://user-images.githubusercontent.com/95077335/147472613-41a6de05-d9e1-4955-b827-6dea2b3012d4.PNG)

[2021-12-28 14:21] CamillePMyddleware commented on #602
Now the display is readable, but it is interesting to see to change the format of dates and times. In the file home.js line 80/106
![image](https://user-images.githubusercontent.com/95077335/147575631-adbb7c5e-a0ce-48fc-9445-d4c59571c714.png)

[2021-12-29 08:39] Myddleware opened #603 "Display the date/time field in Myddleware UI using the user timezone"
The user time zone has to be added tothe user parameter in "my account" view :
![image](https://user-images.githubusercontent.com/11330301/147642908-92c34cf2-cd55-4c7b-9c62-93b7e4db3b69.png)

Then all the date/time fields in Myddleware has to be changed depending on the user's timezone in every views (document detail view, task list view...)

[2021-12-30 18:23] rulotec commented on #580
@Myddleware from your last message I'm guessing it's a general failure (bug). Is that correct?
I'm still having headaches with this issue. My instance is still randomly failing and I'm not getting notifications. I only know about the failure once an end user reports it.

Today I increased `max_allowed_packet` in mariadb, hoping that fixes the `SQLSTATE[HY000]: General error: 2006 MySQL server has

[2021-12-30 20:00] Myddleware opened #604 "ruleparam data are removed and created again when a rule is edited"
The parameters in the table ruleparam  should be updated when a rule is edited. It seems that the parameters are deleted and created again.

[2021-12-30 20:00] Myddleware commented on #604
The issue is probably in the default controller

[2021-12-31 11:01] Myddleware commented on #594
Hi @francescobianco , we have fixed the issue, here is the commit : https://github.com/Myddleware/myddleware/commit/03f63e00606d5c92ef2765218bb321e97cc39372

You can upgrade Myddleware to get the fix.

[2021-12-31 12:57] Myddleware commented on #580
Hi @rulotec ,
The main part of the team is in holidays so we plan to check this issue next week.
For information, the performance of myddleware has been improved in Myddleware3. We will publish the tutorial to upgrade Myddleware from version2 to version3 shortly.

[2021-12-31 17:22] rulotec commented on #580
Thanks, that's great.

Just  to be clear, when I asked about the bug, I was referring to the email notifications. About the database problem, I feel it'ss more of a performance/resources related problem. However, I do feel Myddleware should detect (try-catch) the error and flag it as such (and not mark the task as running). Maybe even retry automatically. Otherwise transfers get interrupted.

[2022-01-03 18:51] Myddleware commented on #580
Hi @rulotec ,
When you get the error, do you have to restart your mysql service on your server ? Or Myddleware restart without any action on your side ? Thanks.
Myddleware catches most of the errors so maybe Myddleware is completely off and can't send notification. In this case you should monitor at a higher level (on server level)

[2022-01-03 19:00] rulotec commented on #580
No, I don't need to restart mysql. It continues to run normally. If mysql failed, then I would completely understand that myddleware couldn't do much about it, but that is not the case.

[2022-01-05 14:29] CamillePMyddleware opened #610 "Display error : display error on the pop up when creating a rule"
display error on the pop up,
when we create a rule and we want to add a field, the pop up is too big. but not on all rules.
example, the error is present on a rule with moodle and safesforce
![champ_regle1](https://user-images.githubusercontent.com/95077335/148234201-6e333a90-df3a-44f3-8324-a00ec5caff64.PNG)

[2022-01-05 14:35] CamillePMyddleware opened #611 "Missing error message when creating a rule"
When we create a rule, if the simulation does not display anything, there is no error message displayed but just "loading... please wait" which remains fixed
![Simulation_regle](https://user-images.githubusercontent.com/95077335/148234965-327bf86a-2d6e-423e-889e-7918329857eb.PNG)

[2022-01-05 14:48] #611 closed, assigned to nobody

[2022-01-07 11:57] Myddleware opened #612 "Remove status relate_ok"
There is no need to test relate before transform action as the transform action test the relate too. Relate_ko should be generated by transform action.

[2022-01-11 14:05] RomanFaure opened #614 "No error return during simulation when syntax error in formula"
No error return during simulation when syntax error in formula
For exemple changedateformat without a parameter : no error displayed

[2022-01-14 07:21] simonetravaglini opened #615 "Problem after relation ko"
Hi myddleware team,
I want submit following scenario we are struggling to solve.
We have to rules:
1 - RULE1
2 - RULE2 (every record is related with RULE1).
Sometimes from source the record from RULE1 related to RULE2 is available some second later.
This cause a relate OK. Then relation is avaiable and record of RULE2 is ok.
The problem is that we got every run a predecessor KO, also if relation n

[2022-01-14 08:00] Myddleware commented on #615
Hi @simonetravaglini @francescobianco ,
OK, I guess that the document with status predecessor_ko haven been created between 20:01:19 and 20:50:41, during this time your current document was in status relate_ko. Tell me if I am wrong.
Now if you run again your document in status predecessor_ko, they should run properly. Could you try ?
If yes and if you don't want to run manually these errors, you

[2022-01-14 08:40] simonetravaglini commented on #615
yes you are right. as you can see in previous screenshot then record is ok... but then I get tons of relate ko also after relation is ok:
![image](https://user-images.githubusercontent.com/6990139/149482088-7191421e-1b2b-4b2d-848d-df4018298df2.png)

[2022-01-14 16:18] Myddleware commented on #615
Ok @simonetravaglini  I see. I guess the Rule 2 reads all records every 5 minutes. So you have more errors generated than error closed using the program rerunerror.
What you can do here is running a task that will rerun all the documents with status error ou open for a specific rule. By this way you will be able to close every error for your Rule2.
Here is the command to run this tasks :
`php bin/

[2022-01-19 08:22] RomanFaure opened #617 "Relationship Display Changement"
The display of relationship during the rule creation :
![image](https://user-images.githubusercontent.com/97444658/150091238-b1aea1de-bb86-4b07-a6ee-96271cb76917.png)
When the rule is created, the display is different :
![image](https://user-images.githubusercontent.com/97444658/150091377-84f8f871-74ed-4a44-b813-762c94dd56e4.png)

[2022-01-19 09:24] stlgaits opened #618 "Need to find a replacement to Facebook SDK : package abandoned"
We should probably consider updating Facebook connector as the PHP SDK that we're using is abandoned and no replacement is suggested. This SDK requires a certain version of PHP, which is a hindrance to our other packages that could potentially be upgraded via composer if we removed the requirements linked to this SDK. Given that the development / update of this FB connector might take time, I thin

[2022-01-19 09:25] stlgaits commented on #618
The reason I am mentioning this is that if we manage to update all packages, we might then be PHP 8.0 compatible.

[2022-01-20 15:15] RomanFaure opened #619 "The Myddleware version wich can be downloaded on the website (Installation guide) is the 3.0.0."
Version téléchargé : 3.0.0

[2022-01-22 15:53] ModeBan opened #621 "installation issue"
Hi, I need help installing,

i can't get the installation to work. I cant get the webpage to access the web wizard

[2022-01-24 22:36] Myddleware commented on #621
Hi @ModeBan ,
Sorry, we see that the archive that you have downloaded wasn't on the right branch. Could you install Myddleware using git by following this tutorial : https://myddleware.github.io/myddleware/#/?id=install-myddleware
Hope it helps.

[2022-01-24 22:45] ModeBan commented on #621
Hi @Myddleware

I have tried this on a fresh installation and i can't get it to work.

Always showing up error 404 ot 500 internal for the Web wizard install.

[2022-01-24 23:00] Myddleware commented on #621
Could you give us more detail about the 500 error ? You should be able to get a log from file <myddleware>/var/log/prod.log, or from your php log file.
Thanks.

[2022-01-25 09:51] simonetravaglini commented on #615
@Myddleware after testing rerun from console then errors are not fixed, but he say again PREDECESSOR KO also if relation it's not still KO but now is ok.

[2022-01-25 10:01] francescobianco commented on #615
I suspect that these records cannot be resolved by a RERUN because they are in an infinite Predecessor_KO condition. That is, every time he turns all the records have the Predecessor_KO and therefore no one is freed.
This how I mind it
![Presentazione senza titolo](https://user-images.githubusercontent.com/472171/150955111-296cefc6-4683-4918-936a-d8fa1ef3635f.jpg)

[2022-01-25 17:46] francescobianco opened #622 "Microsoft database wrong password if has '%%'"
If database has '%%' into password it cannot connect from myddleware because myddlewre lose di value

[2022-01-25 21:08] Myddleware commented on #622
Hi @francescobianco
Thanks for this feedback, we will look into this.

[2022-01-25 22:41] Myddleware commented on #615
Hi @francescobianco  and @simonetravaglini ,
Could you check if there is a loop into the predecessor queue. I mean could yo check if a document with status predecessor_ko is linked to another on, maybe linked to another one.... and finally linked to the first one.
You can see the document linked in the logs which carries the predecessor_ko status :
![image](https://user-images.githubusercontent.co

[2022-01-26 01:46] ModeBan commented on #621
Hi,

okay so this is the install I have followed.

To get Myddleware from Github, use this command :

git clone https://github.com/Myddleware/myddleware.git
cd myddleware
composer install
yarn install
yarn build

Now when i go to http://myddleware.techbitsireland.ie/myddleware/public/

I see the 500 error:
![image](https://user-images.githubusercontent.com/21164341/151088960-67798ff1-9ef0-4c30-adc

[2022-01-26 07:58] simonetravaglini commented on #615
@Myddleware
Hi,
I think yes, during my test I saw that i can find the origin of the error, that is a relation KO, but it's on another document I think, as you say.

[2022-01-31 11:32] egutmartinez opened #623 "Error when creating standard rule prestashop->Moodle"
Hi there,

I installed myddleware on my server (www.mydomain.to/myddleware)

I try to enrol prestashop users (prestashop installed on www.mydomain.to/course) in Moodle (moodle installed on www.mydomain.to/moodle)

I was able to add both connectors successfully but when I try to create the rule I get the following errors and the “default templates selection” rule is not created.

![rule](https://us

[2022-01-31 22:30] Myddleware commented on #623
Hi @egutmartinez ,
What is your Myddleware version ? (you can see it in myddleware's footer).
The we will try to reproduce this issue.

[2022-01-31 23:02] egutmartinez commented on #623
It's 3.0.3

[2022-02-01 05:50] ModeBan commented on #621
Any update?

[2022-02-01 07:36] stlgaits commented on #621
@ModeBan Hi sorry for the delay, I've been working on this yesterday and got the same issue as you, still haven't found a fix yet but will be working on it today so I will definitely keep you in the loop as soon as it's fixed :)

[2022-02-01 20:45] Myddleware commented on #623
Hi @egutmartinez ,
We tried to reproduce your issue without success; The rule are generated :
![image](https://user-images.githubusercontent.com/11330301/152048326-7782b441-1e50-49d5-846d-7e3bcbaf205d.png)

Maybe there is a problem with a Prestashop version. Could you tell us what is your Pretsashop version ?
Thanks.

[2022-02-01 21:02] Myddleware commented on #615
Hi @simonetravaglini
Sorry for the late answer.
OK so there is no loop, that's a good news.  There should never be a loop.

In you case, I guess there is a relate_ko document. Then, because you read all data each time, a predecessor_ko is generated  for each new run.
What I advise you to do :
 - 1) Fix the relate ko document
 - 2) Then cancel every document in predecessor ko linked to the relate k

[2022-02-01 21:08] Myddleware commented on #618
@EstelleMyddleware , I agree we can disable facebook connector on Myddleware 3 for now. We will update Facebook library later.

[2022-02-01 22:40] egutmartinez commented on #623
Thank you for that. I'm using Prestashop 1.7.8.2

But I also had the same problem when I had Prestashop 1.7.7 and also I can confirm that 3 months ago when I installed Myddleware on the cloud on Platform.sh I could create the rule succesfully using the same Prestashop 1.7.7, and so that's the reason I also thought that have installed both myddleware and prestashop on the same server could have som

[2022-02-02 06:54] egutmartinez commented on #623
I did the following test. Add a connector to other testing prestashop 1.7.7.7 that is hosted in a different server/domain (not the same one where I run Myddleware) and it worked fine and I was able to create the connector and the default Prestashop->Moodle rule.

Why does it work when I use external prestashop server but it's not working if it is hosted on the same domain/server like I need in thi

[2022-02-02 08:48] simonetravaglini commented on #615
@Myddleware I did it many times, it fix for some hours, but then it happens again becouse a new similar situation.
So I've this instance full of error also after data are ok.
I mean, relation ko is fixed automaticaly, but error are generated also after fixed.
Not sure if i make the scenario clear for you.

[2022-02-02 13:43] stlgaits opened #629 "Special chars create 500 error on database connection form from install/database/setup"
if your password or username (anything that will be pushed to DATABASE_URL in .env.local) contains special chars (such as ? or @) it generates a 500 error (Doctrine throws an error saying malformed parameter url) .

[2022-02-02 13:44] CamillePMyddleware commented on #629
![capture](https://user-images.githubusercontent.com/95077335/152165405-eacd952b-c4ad-4cd7-88ef-928165747378.PNG)

[2022-02-02 15:25] stlgaits commented on #621
@ModeBan Hello unfortunately so far I haven't been able to fix this issue, however I am convinced that it is an Apache conf issue. In the meantime, I've found out that if you add index.php to your url, you can access your myddleware website, like here :  http://myddleware.techbitsireland.ie/myddleware/public/index.php

Just in case, I've been trying to fiddle with Apache .htaccess conf (inside /pu

[2022-02-02 15:49] Myddleware commented on #621
Thanks @EstelleMyddleware ,
@ModeBan , if you have Myddleware version 3.0.5, please wait for the version 3.0.6. We will release it tomorrow. We have added the user timezone and it could block the user creation.

[2022-02-03 07:37] ulrichbayer opened #630 "Release 3.0.5a uses upper case table names in SQL query"
Hi,
In file `DocumentManager.php` lines 1586+ the sql query uses a table name beginning with an uppercase letter.

[code]
This leads to the following exception in my environment:
`SQLSTATE[42S02]: Base table or view not found: 1146 Table myddleware.Document doesnt exist /app/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php Line : ( 61 )Failed to check document predecessor : Fa

[2022-02-03 08:01] Myddleware commented on #630
Hi @ulrichbayer , thanks for your message.
You are completely right and this bug is already fixed in the release 3.0.6 that we plan to release today. We will finish the tests of this version today.
So please upgrade Myddleware once we have released it.

[2022-02-03 08:36] ulrichbayer commented on #630
Sounds good. Thank you for your quick reply!

[2022-02-07 08:52] stlgaits opened #632 "Replace package swiftmailer/swiftmailer with symfony/mailer"
Swiftmailer is now abandoned and should be replaced with Symfony Mailer, our code might need some changes to adapt to this upgrade.
https://symfony.com/blog/the-end-of-swiftmailer
https://symfony.com/doc/4.4/mailer.html

[2022-02-07 08:54] Myddleware commented on #632
Perfect @EstelleMyddleware . We have an issue about it here : https://github.com/Myddleware/myddleware/issues/598
Please let me know if it is easy to fix and we could add it into Myddleware 3.0.7.
Thanks.

[2022-02-10 10:42] #604 closed, assigned to stlgaits, CamillePMyddleware

[2022-02-11 21:39] albtarta commented on #621
@EstelleMyddleware you are right, the solution is the apache configuration. @ModeBan
I had the same problem and I solved it, if you want I can show you my configuration.
The only problem I have is that I don't see all applications, for example I don't see mautic, facebook etc.

I have Myddleware version 3.0.6a

[2022-02-13 16:02] albtarta opened #643 "I don't see all applications"
Hi, i have installed Myddleware version 3.06a and applications are missing, for example Mautic, Facebook, etc. , what can I do?
Thank you

[2022-02-14 07:51] stlgaits commented on #621
@albtarta I would love to see your Apache configuration too if you don't mind  as I haven't been able to find a decent one myself !
Facebook has been deactivated for now as we are having some issues with the SDK (there were requirements conflicts) but Mautic 3 should definetly be available since it was tested.
While waiting for a merge pull request to correct this, you can activate it manually by

[2022-02-14 10:17] stlgaits commented on #643
Hi @albtarta regarding Facebook, please have a look at this discussion https://github.com/Myddleware/myddleware/issues/618
Other connectors such as Mautic will be added back shortly but meanwhile you can follow the procedure I mentioned here https://github.com/Myddleware/myddleware/issues/621#issuecomment-1038761227

[2022-02-14 15:32] RomanFaure opened #645 "No log appaears in the tasks when a formula is wrong and the data is not send"
In Myddleware 3.0.6b with Docker. Example : if  (Formula : Formula : {firstname}." ".{lastname}) is enter in the field mappin and the rule is executed, you can't see why the data is not transfered.

[2022-02-14 22:04] albtarta commented on #621
Hi @EstelleMyddleware , i just followed these instructions from the link you posted,
![apache-symfony_pack](https://user-images.githubusercontent.com/34136179/153953690-a176abb6-32e3-4c3b-8801-1c593bf05777.jpg)
then created the apache virtualhost config file:
[code]

Thanks for the solutions you gave me for the missing applications, I hope that for facebook it will be resolved soon.

[2022-02-14 22:04] albtarta commented on #643
@EstelleMyddleware Thanks!

[2022-02-17 13:53] ModeBan commented on #621
Sorted thanks to @albtarta

[2022-02-17 13:53] #621 closed, assigned to nobody

[2022-02-17 13:55] ModeBan opened #656 "URL Build/Builld issue"
Hi Guys,

There is 404 errors on the web page see below.

![image](https://user-images.githubusercontent.com/21164341/154495910-9b29ecd5-ce2e-412a-b72f-e0175449353d.png)

Seems to be an issue where the url is built using an extra build.

/build/build/images/logo.f27dc0c8.png
instead of /build/images/logo.f27dc0c8.png

[2022-02-17 14:06] ModeBan opened #657 "Nothing happens when using magento to erpnext template"
Hi,

When creating a new rule using the template for magento to erpnext nothing happens after pressing the confirm rule button it just
says please wait.

[2022-02-22 21:37] memen45 opened #661 "Install in docker"
Hi,

I am trying to install the myddleware package in a docker container to test locally (Ubuntu 20.04 in WSL2 on Windows 11) using the following steps:
[code]
Then open a shell to the container
[code]
Then follow the installation as described in [the guide](http://community.myddleware.com/index.php/installation-guide/#install-from-github)
[code]

Now when I open `localhost:30080` in browser, I ge

[2022-02-23 12:03] ulrichbayer opened #662 "Two bundles defining table cron_job lead to error message cron_job already exists"
I am using [Release 3.0.7c](https://github.com/Myddleware/myddleware/commit/a3067769e719049c0635bc6e216de26726883fc3):

When I execute:

`bin/console doctrine:schema:update`

I get the following error message:

[code]

The problem is in my opinion that both of the following packages define a table cron_job:

- shapecode/cron-bundle
- cron/cron-bundle

[2022-02-23 12:16] ulrichbayer commented on #662
I have solved the problem by removing cron/cron-bundle since it seems unused.

Steps:
1. `composer remove cron/cron-bundle`
2. and removing the line `Cron\CronBundle\CronCronBundle::class => ['all' => true],` in `config/bundles.php`.

[2022-02-23 12:17] ulrichbayer commented on #630
Works now, thanks.

[2022-02-23 12:17] #630 closed, assigned to nobody

[2022-02-23 13:13] stlgaits commented on #661
Hello @memen45 thank you for your message. The Docker configuration is still going through developments at the moment but should be done & ready to use next week. Our team is actively collaborating with DevOps contributors as we speak to ensure Myddleware is fully Dockerised.

Consequently, the documentation regarding this install procedure is not yet up-to-date, but this is also the opportunity f

[2022-02-23 13:33] stlgaits commented on #662
Hi, thank you very much for this message. I have made a correction applying your solution.

[2022-02-23 13:33] #662 closed, assigned to nobody

[2022-02-23 17:53] memen45 commented on #661
Thanks for your elaborate response! Good to hear improvements are on the way with regards to docker and documentation.

I tried again with make, from a new cloned directory. The `make install` succeeded, however, `make setup` gives some errors:
[code]

[2022-02-24 14:32] memen45 commented on #661
With the fix for #662 I cloned again and now all make commands finish succesfully! Thanks a lot for your help and all the efforts for the project.

[2022-02-24 15:41] memen45 commented on #661
Images from assets do not seem to be available. Browser console gives 404 on e.g. erpnext.png, status_offline.png, etc. and the images are not in `public/build/images` directory.

I installed erpnext in a different container accessible at erptest.localhost. When adding a connector in myddleware, a 'Login error' is shown. `var/log/prod.log` as follows:
[code]

Edit: I enabled mod_rewrite for apache

[2022-03-01 19:21] memen45 commented on #661
Any update on this @EstelleMyddleware ?

1. The UI has missing elements (first [demo](http://www.crmconsult.com/livedemo/myddleware/web/rule/connector/create/), second docker install)
![image](https://user-images.githubusercontent.com/27782135/156231903-e9a45be7-ac44-490c-b5b6-bdd79fcecc3c.png)
![image](https://user-images.githubusercontent.com/27782135/156232004-f9db9e63-25a5-424a-b9ed-9fd3c3e7d6

[2022-03-02 09:03] stlgaits commented on #661
HI @memen45  thanks for pointing this out and sorry for the delay. Actually, the demo is still on an older version of Myddleware and needs updating, therefore the 'missing' elements from the UI is normal behaviour from Myddleware 3.

However, regarding your Apache issue, the team working on the Docker configuration is still working on it, trying to fix similar issues to yours. Moreover, the config

[2022-03-02 10:06] francescobianco opened #664 "Myddleware 3: How create a new Solution?"
I want create a new connector to custom service. Now I see the file https://github.com/Myddleware/myddleware/blob/main/src/Manager/SolutionManager.php

- In the version 3 of Myddleware seems Mandatory declase Solutions on the code (Hard-code declared Solutions)
- In the version 2 of Myddleware to have new solution just create a file on the folder (Flexible Solutions loading)

@EstelleMyddleware @M

[2022-03-02 10:08] stlgaits opened #665 "Init Symfony 5.4 upgrade"
- Upgrading Symfony packages to 5.4 version
- Init Myddleware version 3.1.0
- Remove deprecated packages
- Compatible PHP 8.0

TODO:
- Replace SwiftMailer with Mailer
- Upgrade the code resorting to SwiftMailer to become compatible with Mailer
- Upgrading / replacing TranslatorInterface (from AccountController.php) as it is deprecated

[2022-03-02 10:09] stlgaits commented on #665
The allocated branch for this feature (and the whole milestone) is https://github.com/Myddleware/myddleware/tree/symfony5

[2022-03-02 10:22] stlgaits commented on #664
Hello @francescobianco in order to add a custom solution, you need to create a custom SolutionManager.php file
To do so, you need to use the Decorator pattern :
- first create a Custom folder in src folder
- here, add your custom solution file, as well as your custom SolutionManager file
- here is an example of what the src/Custom/Manager/CustomSolutionManager.php file should contain :

[code]

-

[2022-03-02 10:35] francescobianco opened #666 "Open Database with a Database Manager"
Very often, too often, it is necessary to open the database with a consultation tool, which allows you to look inside and study the structure of the data.

integrate Adminer <https://www.adminer.org/>   into the 'public/' folder, it could be a very useful move

even more could be to add a button that opens in a second tab of the browser adminer already authenticated to the database
using the autol

[2022-03-02 12:19] Myddleware commented on #664
Thanks @EstelleMyddleware ,
@francescobianco , don't forget to clear the cache once you have declared your custom class.

[2022-03-02 14:46] Myddleware commented on #657
Hi @ModeBan sorry for the delay of our reply.
Even if the page doesn't change. Have your new rules been created?

[2022-03-02 14:48] Myddleware commented on #656
Hi @ModeBan ,
Yes there is a bug in a specific case when your install Myddleware in linux. We think it depends alos on the web server.
Here is a workarond untilwe find the right solution. Go to public directory with a terminal and run this command :
`rsync -Rr ./build/ ./build/`

[2022-03-02 14:48] #656 closed, assigned to nobody

[2022-03-02 14:59] Myddleware commented on #615
Hi @simonetravaglini ,
I just check the open topic and I have seen that I didn't reply to you, sorry.
In you case we have to identify why the first relate_ko appends. Could you give me more detail about the first error which have the status relate_ko ?
Thanks.

[2022-03-03 07:56] stlgaits commented on #666
Hi @francescobianco thanks for this idea, we would have to think about this carefully before deciding whether or not we would want to implement this system. One thing that worries me at the moment is the security aspect of this.

Also, I think it would probably be better to add Adminer as part of the Docker configuration (in the docker-compose file) instead of the public folder but to access the M

[2022-03-03 08:03] simonetravaglini commented on #666
Hi @EstelleMyddleware .
We normally install adminer becouse we manage lots of instance and different people work on them. So it's faster if who is working on the istance have a "fast" access to database managed with myddleware. That's why we asked to Francesco to add adminer as default in our case.

[2022-03-03 08:04] stlgaits commented on #619
@RomanFaure @Myddleware This should've been fixed already (with archive version 3.0.6), however I am not sure why but the download form triggers a new issue (Mixed Content issue) and prevents from downloading the archive entirely  :
![image](https://user-images.githubusercontent.com/74190794/156522285-80d5d9b1-0e12-4529-aa14-f833d19fa631.png)
This needs to be sorted ASAP.

[2022-03-03 08:20] RomanFaure commented on #619
@EstelleMyddleware It is fixed, this issue should no longer occur.

[2022-03-03 08:23] #619 closed, assigned to stlgaits

[2022-03-03 11:12] stlgaits opened #667 "Code comments in languages other than English (French, Italian,...) must be either translated or removed"
Many files currently contain loads of comments (as well as variables / function names) in French / Italian.
Mostly :
- src/Solutions/solution.php
- all SAP-related solution files

[2022-03-03 11:45] stlgaits opened #668 "Implement Code Quality & Performance Tools"
Code must be cleansed using code quality tools such as php-cs-fixer
https://github.com/FriendsOfPHP/PHP-CS-Fixer
https://cs.symfony.com/

It will also require manual cleaning (removal of useless comments, fixing undefined variables etc)

In addition, a clear strategy must be adopted regarding code quality & performance third-party libraries (Codacy ? [Symfony Insight](https://insight.symfony.com/)

[2022-03-03 11:47] stlgaits commented on #668
https://github.com/Myddleware/myddleware/commit/467c0cd97ddaae8096bd1c688f2f4133e651b920
first commit regarding code quality / purge

[2022-03-03 13:17] stlgaits opened #669 "Fix Deprecations"
List of current deprecations
- Symfony\Component\Security\Http\EntryPoint\FormAuthenticationEntryPoint
- SwiftMailer => Mailer
- "Lexik\Bundle\JWTAuthenticationBundle\Security\Guard\JWTTokenAuthenticator" class implements "Symfony\Component\Security\Guard\AuthenticatorInterface"
- Lexik\Bundle\JWTAuthenticationBundle\Security\Guard\JWTTokenAuthenticator
- session.storage.factory.service
- session.

[2022-03-03 13:23] simonetravaglini opened #670 "myddleware 3 missing buttons"
Hi,
in myddleware 2 in every rule we have these buttons:
![image](https://user-images.githubusercontent.com/6990139/156573101-47d4430d-f60d-4aa8-8d66-0b8f36c5c784.png)
In myddleware 3 these:
![image](https://user-images.githubusercontent.com/6990139/156573201-f2645fca-296a-4c52-93d8-fd3f86588751.png)
why CANCEL TRANSFER and DELETE TRANSFER are missing?
these buttons are extremely useful

[2022-03-03 13:37] simonetravaglini opened #671 "duplicate rule issue"
Hi,
if I duplicate a rule with mysql as source then I can't see source fields in mapping for all rules with same connection:
![image](https://user-images.githubusercontent.com/6990139/156575523-c0721737-b544-4483-b758-c9f55832d2e4.png)

[2022-03-03 13:39] stlgaits commented on #670
Hi @simonetravaglini , this is a feature which requires super admin privileges for your Myddleware user. You can activate these using the php bin/console myddleware:promote-user <youruser@emailaddress.com> ROLE_SUPER_ADMIN

[2022-03-03 13:39] #670 closed, assigned to nobody

[2022-03-03 13:55] stlgaits opened #672 "Replace SwiftMailer by Mailer"
SwiftMailer is abandoned and needs to be replaced with Symfony Mailer

[2022-03-03 14:27] Myddleware commented on #671
Hi @simonetravaglini ,
Thanks for this test. We will check it.
For information, we are fixing the last bugs on the duplicate rule feature on this branch : https://github.com/Myddleware/myddleware/commits/feature---scheduler
We plan to merge it tomorrow or early next week.
We will keep you updated.

[2022-03-07 16:03] RomanFaure opened #680 "The "Duplicate a rule" button erase the fields, relations and parameters of the rule duplicated"
![image](https://user-images.githubusercontent.com/97444658/157071321-147a5075-95b7-43cb-a049-a12e89f6d85b.png)

![image](https://user-images.githubusercontent.com/97444658/157071116-939931ee-1f1b-499c-892a-a74f40de55f1.png)

[2022-03-09 14:41] stlgaits opened #682 "Bug : discrepency between using a local webserver & symfony serve command means assets aren't loaded"
When running the symfony serve command and opening the website at localhost:8000 , all is well. Assets are loaded, correct URLs are used.
However, when using a local webserver (in my case Laragon), assets are loaded because the path is wrong (http://localhost/build/login.css for instance)
![image](https://user-images.githubusercontent.com/74190794/157463411-da6a6cdc-7f19-41a6-804b-9ad3f0d98d5c.png

[2022-03-09 15:05] stlgaits opened #683 "Bug: fetchAll() method does not work anymore and generates errors in multiple places"
Attempted to call an undefined method named "fetchAll" of class "Doctrine\DBAL\Statement".
For example, in src/Manager/RuleManager.php line 1036 :
  $bidirectionalRules = $stmt->fetchAll();

[2022-03-09 16:18] stlgaits opened #684 "Bug/error when clicking Simulate button from Params tab for a rule : {"error":"Warning: Undefined property: App\\Entity\\RuleParam::$getValue"}"
The following error is displayed as a value of the input where the number of documents should normally be displayed after the simulation ran :
{"error":"Warning: Undefined property: App\\Entity\\RuleParam::$getValue"}

[2022-03-10 09:02] stlgaits commented on #683
https://github.com/Myddleware/myddleware/commit/791ea95cee31d00cc3f750f85c298a7b43c53e55 This fixes most of the remaining issues, however I still need to test from the UI (only tested from console command so far) + there seems to be an issue with DBAL not being able to fetch the correct DATABASE_URL env variable (it reads the one in .env but not the one in .env.local, will create a separate issue

[2022-03-10 09:02] #683 closed, assigned to stlgaits

[2022-03-10 10:46] stlgaits opened #685 "Bug: cannot execute a rule from UI (wrong env DATABASE_URL variable loaded)"
Impossible to execute a rule from the UI as the wrong .env DATABASE_URL variable is used by DBAL; instead of using the .env.local var, it simply uses the .env one (whcih obvisouly contains the wrong credentials & therefore triggers an error preventing the execution of the rule).

[2022-03-10 10:51] stlgaits commented on #685
This has been fixed by changing the way RuleManager accesses the APP_ENV variable (remove getenv() method & replace it with getting the parameter from services.yaml via ParameterBagInterface

[2022-03-10 10:51] #685 closed, assigned to stlgaits

[2022-03-10 16:13] simonetravaglini opened #686 "Manual simulation with DB"
Hi, if I want check a single record in manual simulation and source is a DB, what I have to set to get result?
in vtiger I have to set module x id record (ex 33x1204).
IN mssql?

[2022-03-14 16:39] Myddleware commented on #686
Hi @simonetravaglini ,
You are right, the manual simulation works for MySQL only if the fieldId is named "id". We will fix this bug.
I 'll keep you posted.

[2022-03-15 08:51] francescobianco commented on #664
Hi @EstelleMyddleware @Myddleware Sorry, for the misunderstanding but

The instructions you gave me are for customizing an existing connector. I would like to create a new connector to a new system

Please support me to create a FRESH NEW SOLUTION not a CUSTOM VERSION of EXISTING ONE

[2022-03-15 15:47] stlgaits commented on #665
So far, the following has been done to upgrade our codebase to Symfony 5.4 standards:
- added EasyAdminBundle 4
- updated User class & Security Auth to new SF Standards :
    - use email instead of username
    - added SymfonyCasts/Registration Bundle (with Email verification) => the registration form works but the email verification feature hasn't been tested yet
- some changes have been made to

[2022-03-16 09:38] Myddleware commented on #664
Hi @francescobianco , could you tell me which solution you want to connect to Myddleware ?

[2022-03-16 09:46] stlgaits commented on #664
Hello @francescobianco , if you want more info, please check out our brand new Documentation for developers  https://myddleware.github.io/myddleware/#/dev_guide
It is still under construction with some sections missingh but hopefully it should already help you greatly, let me know if you have any questions.

[2022-03-16 15:09] simonetravaglini commented on #671
Hi, it seems that it's no related to duplication.
But if I have 1 rules on mysql and then I add a second rule, then I face this problem. Did you have evidence of that?
In first rules fields are available, but not in following rules...
@Myddleware @EstelleMyddleware

[2022-03-18 18:27] Myddleware commented on #671
Hi @simonetravaglini ,
We can't reproduce the issue. Could you tell us the version of Myddleware you are using ? Could you also tell us  how to reproduce the issue ?
Thanks.

[2022-03-21 10:23] francescobianco commented on #671
Hi @Myddleware I found the problem!
There are few query still using CapitalLetter tables:
- https://github.com/Myddleware/myddleware/blob/main/src/Solutions/database.php#L614

[2022-03-21 13:02] Myddleware commented on #671
Thanks @francescobianco ,
We have fixed it, it will be merged in main today or tomorrow depending on our tests
https://github.com/Myddleware/myddleware/commit/7a49c37aefb15d9a6d6f8f0c2d043f27fc0051a2

[2022-03-23 14:01] stlgaits commented on #684
Closing as this came from a controller which has been deleted when switching to EasyAdmin

[2022-03-23 14:01] #684 closed, assigned to stlgaits

[2022-03-31 08:03] stlgaits commented on #682
Problem seems to be resolved now (see branch [dev-myddleware-4](https://github.com/Myddleware/myddleware/tree/dev-myddleware-4) )
Just need to bear in mind that for each install we need to run
composer install
yarn install
php bin/console assets:install
yarn build

[2022-03-31 08:03] #682 closed, assigned to stlgaits

[2022-03-31 08:12] stlgaits opened #704 "Feat: Add the 'Install Myddleware' page/series of pages to allow users to setup Myddleware from browser"
- When user doesn't have a .env.local file yet, they are redirected towards route "install_requirements", however for now this route doesn't have any linked controller method to it & needs to be implemented
- We can take inspiration from Myddleware 3  & adapt the code( https://github.com/Myddleware/myddleware/blob/main/src/Controller/InstallRequirementsController.php & https://github.com/Myddlewar

[2022-04-01 06:47] simonetravaglini opened #708 "Migration from myddleware 2 to myddleware 3"
Hi,
becouse myddleware 3 is extremly faster than 2 I want to understand how to manage migration in 2 different scenarios

1 - EASY - No need to migrate document: just need to move rules from 2 to 3. Can we simply use templates?
2 - Need to migrate everythings: there is a standard way to do migration?

@francescobianco

[2022-04-01 07:34] Myddleware commented on #708
I advise you the second option. The most difficult part will be to adjust your custom code from Myddleware2 to Myddleware3. Please let me know by opening a new issue if you need more instruction about adding custom code in Myddleware 3. We are writing a new documentation website but it is isn't ready yet (https://myddleware.github.io/myddleware/#/)

Here are the instructions to upgrade Myddleware

[2022-04-04 14:40] stlgaits opened #709 "Bug: when loading fixtures, error thrown saying references don't exist... but they do !"
I've followed documentation & implemented DependentFixtureInterface with method getDependencies()
And referenced fixtures using for example
[code]
[code]
https://symfony.com/bundles/DoctrineFixturesBundle/current/index.html#sharing-objects-between-fixtures
https://symfony.com/bundles/DoctrineFixturesBundle/current/index.html#loading-the-fixture-files-in-order

However, when loading fixtures, I get

[2022-04-06 10:41] stlgaits commented on #665
New Login Page created using EasyAdmin template
![image](https://user-images.githubusercontent.com/74190794/161956981-075bcdec-de33-4b1a-9689-cd50508001a7.png)

[2022-04-08 08:56] francescobianco opened #711 "Auth problem on Myddleware API (version 2.5.7)"
We try to use Myddleware API with the folling script
[code]

But it still respond with

[code]

Obvilsuly we use the right password, and token seems good as structure. but it is not authenticated
From the server side we have correctly received the token as expected.

Please can you confirm it works as espected?

[2022-04-11 09:10] stlgaits commented on #711
Hello @francescobianco , I've tested this on my side and for some reason it seems that it **only works in dev environment** for the login_check path, indeed I got this URL to work on my localhost :
http://localhost/myd257/myddleware/web/app_dev.php/api/v1_0/login_check
which returned me the JWT
and then I passed the token to the following URL
http://localhost/myd257/myddleware/web/app_dev.php/api/

[2022-04-11 09:57] francescobianco commented on #711
@EstelleMyddleware please. Go Ahead with your test try to call a SYNCHRO api and show me the results

The problem is NOT at login stage BUT at SYNCHRO stage

[2022-04-11 11:09] stlgaits commented on #711
Hi @francescobianco , I have no issues with synchro in dev environment like I mentioned before. Please check out the result of my synchro test in dev environment :
![image](https://user-images.githubusercontent.com/74190794/162727333-6a4084f2-2548-458a-a550-b226fffb941d.png)
As opposed to a 'wrong' error message which shouldn't be there in prod environment :
![image](https://user-images.githubuser

[2022-04-13 14:20] francescobianco opened #716 "Microsoft SQL: problem on CREATE and UPDATE records on DB"
Actually into base solution called 'database.php' all values prepared for the INSERT or UPDATE queries are submitted with a forced string syntax.

Look at this lines:
- https://github.com/Myddleware/myddleware/blob/main/src/Solutions/database.php#L408
- https://github.com/Myddleware/myddleware/blob/main/src/Solutions/database.php#L448

Is visible that the single quote (') is hardcoded. This is pro

[2022-05-04 09:43] stlgaits commented on #363
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.

[2022-05-04 09:43] #363 closed, assigned to Myddleware

[2022-05-04 09:44] #439 closed, assigned to nobody

[2022-05-04 09:50] #548 closed, assigned to stlgaits

[2022-05-04 09:51] #555 closed, assigned to stlgaits

[2022-05-05 07:08] CamillePMyddleware commented on #104
Hi, I archive this problem, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:08] #104 closed, assigned to Myddleware

[2022-05-05 07:12] CamillePMyddleware commented on #312
Hi, I archive this problem, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:12] #312 closed, assigned to nobody

[2022-05-05 07:15] CamillePMyddleware commented on #355
Hi, I archive this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:15] #355 closed, assigned to nobody

[2022-05-05 07:16] CamillePMyddleware commented on #372
Hi, I archive this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:16] #372 closed, assigned to nobody

[2022-05-05 07:21] CamillePMyddleware commented on #379
Hi, I archive this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:21] #379 closed, assigned to nobody

[2022-05-05 07:22] CamillePMyddleware commented on #383
Hi, I archive this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:22] #383 closed, assigned to nobody

[2022-05-05 07:23] CamillePMyddleware commented on #377
Hi, I archive this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:23] #377 closed, assigned to nobody

[2022-05-05 07:26] CamillePMyddleware commented on #432
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:26] #432 closed, assigned to nobody

[2022-05-05 07:30] CamillePMyddleware commented on #454
Hi,  I am archiving  this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:30] #454 closed, assigned to stlgaits

[2022-05-05 07:32] CamillePMyddleware commented on #455
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:32] #455 closed, assigned to nobody

[2022-05-05 07:32] #477 closed, assigned to Myddleware, stlgaits

[2022-05-05 07:34] CamillePMyddleware commented on #492
Hi,  I am archiving  this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:34] #492 closed, assigned to stlgaits

[2022-05-05 07:35] CamillePMyddleware commented on #545
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:35] #545 closed, assigned to nobody

[2022-05-05 07:36] #556 closed, assigned to stlgaits

[2022-05-05 07:37] CamillePMyddleware commented on #560
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:37] #560 closed, assigned to nobody

[2022-05-05 07:39] #33 closed, assigned to Myddleware

[2022-05-05 07:43] CamillePMyddleware commented on #78
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 07:43] #78 closed, assigned to Myddleware

[2022-05-05 07:45] CamillePMyddleware commented on #342
Hi,I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:45] #342 closed, assigned to Myddleware

[2022-05-05 07:52] CamillePMyddleware commented on #392
Hi,I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 07:54] CamillePMyddleware commented on #393
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:54] #393 closed, assigned to nobody

[2022-05-05 07:56] CamillePMyddleware commented on #394
Hi,I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 07:56] #394 closed, assigned to nobody

[2022-05-05 07:58] CamillePMyddleware commented on #499
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 07:58] #499 closed, assigned to nobody

[2022-05-05 08:00] CamillePMyddleware commented on #582
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks

[2022-05-05 08:02] CamillePMyddleware commented on #594
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:02] #594 closed, assigned to nobody

[2022-05-05 08:04] CamillePMyddleware commented on #643
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:04] #643 closed, assigned to nobody

[2022-05-05 08:06] CamillePMyddleware commented on #166
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:06] #166 closed, assigned to Myddleware

[2022-05-05 08:09] CamillePMyddleware commented on #389
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:09] #389 closed, assigned to nobody

[2022-05-05 08:11] CamillePMyddleware commented on #513
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:11] #513 closed, assigned to nobody

[2022-05-05 08:12] CamillePMyddleware commented on #518
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:12] #518 closed, assigned to nobody

[2022-05-05 08:13] CamillePMyddleware commented on #561
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:13] #561 closed, assigned to nobody

[2022-05-05 08:17] CamillePMyddleware commented on #435
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:17] #435 closed, assigned to nobody

[2022-05-05 08:25] CamillePMyddleware commented on #509
Hi, I am archiving this issue, but thank you, we will take into account your suggestion in myddleware 4. Do not hesitate to re-open this issue if needs be.
Thanks.

[2022-05-05 08:25] #509 closed, assigned to nobody

[2022-05-05 08:38] CamillePMyddleware commented on #399
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:38] #399 closed, assigned to nobody

[2022-05-05 08:42] CamillePMyddleware commented on #456
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:42] #456 closed, assigned to nobody

[2022-05-05 08:48] CamillePMyddleware commented on #521
Hi, I am archiving this issue, this feature has been added in Myddleware 3, but do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 08:48] #521 closed, assigned to nobody

[2022-05-05 09:23] egutmartinez commented on #582
Ok, thank you for letting us know.

But unfortunately it wasn’t fixed. So, any advice or support would be great.

Best Regards,

--

Eduardo Gutiérrez

***@***.*** ***@***.***>  / +34 653254059

De: Camille Pichaud ***@***.***>
Enviado el: jueves, 5 de mayo de 2022 10:01
Para: Myddleware/myddleware ***@***.***>
CC: egutmartinez ***@***.***>; Mention ***@***.***>
Asunto: Re: [Myddleware/myddleware]

[2022-05-05 09:49] CamillePMyddleware commented on #111
I am archiving this issue, now the rule simulation filters with a specific id.

[2022-05-05 09:49] #111 closed, assigned to Myddleware

[2022-05-05 09:55] CamillePMyddleware commented on #292
Hi, I am archiving this issue, this will be taken into account in Myddleware 4, but do not hesitate to re-open it if needs be.
thanks.

[2022-05-05 09:55] #292 closed, assigned to Myddleware, CamillePMyddleware

[2022-05-05 09:57] CamillePMyddleware commented on #398
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 09:57] #398 closed, assigned to nobody

[2022-05-05 09:58] CamillePMyddleware commented on #488
Hi, I am archiving this issue, but please if you encounter any difficulties equal or similar to this one, do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 09:58] #488 closed, assigned to nobody

[2022-05-05 09:59] CamillePMyddleware commented on #503
Hi, I am archiving this issue but please do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 09:59] #503 closed, assigned to nobody

[2022-05-05 10:03] CamillePMyddleware commented on #576
Hi, I am archiving this issue, this feature has been added in myddleware 3, but do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 10:03] #576 closed, assigned to stlgaits

[2022-05-05 10:18] CamillePMyddleware commented on #452
Hi, I am archiving this issue, now myddleware is compatible up to php 8, but do not hesitate to re-open it if needs be.
Thanks.

[2022-05-05 10:18] #452 closed, assigned to nobody

[2022-05-05 13:17] simonetravaglini commented on #716
@Myddleware did you had opportunity to give a look?

[2022-05-05 13:22] francescobianco opened #724 "Double level of customizations [Mydd 3.0/main]"
Hi!

We need to have two level of customizations for a Solution/Connector,
in other words we want use two different files over the same 'microsoftsql.php'

One placed into `src/Custom/Solutions` directory and Another placed into `src/SpecialCustom/Solutions` directory

In this way we want this three files works as final Solution

- BASE: `src/Solutions/microsoftsql.php`
- FIRST OVERRIDE: `src/Cust

[2022-05-05 13:48] #602 closed, assigned to nobody

[2022-05-05 13:53] #680 closed, assigned to CamillePMyddleware

[2022-05-05 13:59] #610 closed, assigned to nobody

[2022-05-06 14:32] JiahuiLuData opened #725 "Error Message not Clear"
Hi

I am doing the sync between from one SuiteCRM instance to another, and here is the error message i have got:

**error : Failed to send document. Status : Error_sending**

, which is different from the previous detailed error messages including the missing field name and other info. That has made my troubleshooting process much harder, so just wanna ask about the possible reason causing this pr

[2022-05-06 14:45] JiahuiLuData opened #726 "Error Page selection button not working"
Hi

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/91266642/167154904-68766077-6276-4461-9f30-562dd54719f3.png">

The buttons on the error document list for jumping between pages are not working. Whenever I click on the button it redirects me to this page:
<img width="457" alt="image" src="https://user-images.githubusercontent.com/91266642/167156205-dc405cb6-8305-481f

[2022-05-09 22:11] Myddleware commented on #725
Hi @JiahuiLuData ,
Thanks for using this forum.
Wheh you get this error in Myddleware, it means that Myddleware couldn't send the document and SuiteCRM didn't return any error.
Could you give us more detail about the document you tried to send ? Have you successfully sent other documents with the same rule ?
Thanks.

[2022-05-09 22:14] Myddleware commented on #726
Thanks @JiahuiLuData ,
We can reproduce this issue. We will do our best to fix fpor the next release. We will keep you posted.
Have a nice day.

[2022-05-09 22:18] Myddleware commented on #724
Hi @francescobianco ,
You can use decorator service. Here is more detail about it : https://github.com/Myddleware/myddleware/issues/664
You should use the priority parameter to set the highest priority for your second override if it exists. Here is the documentation : https://symfony.com/doc/current/service_container/service_decoration.html#decoration-priority

Please let me know if it helps.

[2022-05-09 22:30] Myddleware commented on #716
Hi @simonetravaglini and @francescobianco, very sorry for the delay.

We could probably run a query to get the field type before we generate the query. Then we could add the quote only for non numeric fields.
Do you agree with this list of field type that shouldn't be separated by quote ?
bigint
numeric
bit
smallint
decimal
smallmoney
int
tinyint
money
float
real

Thanks.

[2022-05-19 15:36] SharleneNdinda opened #735 "No result from ERPNext Error"
Hello,

I am using Myddleware version 3.1.1 and i am trying to transfer data from Salesforce to ERPNext.

For Instance, I try to transfer account data from Salesforce to ERPNext, however the data does not transfer and brings up the error "No result from ERPNext. Failed to send document. Status : Error_sending"

![Screenshot (316)](https://user-images.githubusercontent.com/42218883/169337825-d8a700

[2022-05-20 15:56] Myddleware commented on #735
Hi @SharleneNdinda,
We will try to reproduce you issue early next week.
We will keep you posted.
Best regards,
Stéphane

[2022-05-24 13:47] francescobianco opened #737 "Cannot create new JOB on Job Scheduler [Mydd V3]"
If i create a new Job/Command into JobScheduler with the follwing arguments

[code]

An error go back after "Create" click

[code]

Look how it appear

![Screenshot from 2022-05-24 15-42-29](https://user-images.githubusercontent.com/472171/170050975-1caaeef2-e446-421d-95a2-37350d1ed338.png)

[2022-05-25 15:42] simonetravaglini opened #739 "Activate child rule from parent rule in database"
Hi,
we are able to create a rule that trigger a child rule with vtiger connector (example: sales order with inventory line).
Would be great have same possiblity also in database.
How we could achive this result?

@francescobianco

[2022-05-25 23:07] Myddleware commented on #739
Hi @simonetravaglini  and @francescobianco ,
You should be able to achive this by redefining your database connector and by adding the same array that you could find in Vtiger connector :
https://github.com/Myddleware/myddleware/blob/d9eda8ecfc5c663b68b6912231c36b076cd70a3f/src/Solutions/vtigercrm.php#L88
Add the parent module you want to use as header module.

You will have to create your child r

[2022-05-26 09:27] francescobianco commented on #711
Eureka!

The problem was related to the usage of a standard Authorization header. To work with specific Apache version we need place this on HTACCESS file

[code]

This is reported into this https://github.com/symfony/symfony/issues/19693

[2022-05-26 09:33] Myddleware commented on #711
Hi @francescobianco , thank you so much.
@EstelleMyddleware , could you have a look into this and check if we have to update the htacess file in Myddleware 2 and 3 ?
Thanks

[2022-05-26 09:36] francescobianco commented on #716
Good point! Could be better usa an array like this on the Solution file,

[code]

[2022-05-26 13:12] francescobianco opened #741 "Problem on change password [Mydd 3]"
Change password page seems broken due to a typo on capital letter of twig rendering

In this line
https://github.com/Myddleware/myddleware/blob/main/src/Controller/AccountController.php#L170

The word `account/resetPassword.html.twig` could be on capital letters `Account/resetPassword.html.twig`

[2022-05-26 13:24] Myddleware commented on #741
Thanks @francescobianco
@EstelleMyddleware could have a look into this ?

[2022-05-30 07:28] stlgaits commented on #741
Thank you @francescobianco for this, I didn't notice this before as this doesn't generate an error for me, most probably because I'm on a Windows PC, this should be corrected in hotfix today.
https://github.com/Myddleware/myddleware/pull/742

[2022-05-30 10:01] stlgaits commented on #711
Hello @francescobianco  @Myddleware , after reading carefully, if I understand correctly (please feel free to correct me if I'm wrong), this is a quite specific issue and a modification was rejected by the Symfony team (see https://github.com/symfony/symfony/issues/19693#issuecomment-343681561) for that reason at the time (bear in mind that since we're referring to Myddleware 2.5.7, we're on Symfo

[2022-06-01 15:13] avico-her opened #746 "After install all pages return 404"
I am new to myddleware, installed according to writen instructions.
Now i get only the login page all other pages return a 404 error.
no problem seen in logs of apache or myddleware.

[2022-06-05 22:20] Myddleware commented on #735
Hi @SharleneNdinda ,
Sorry for the delay of my answer. Busy time !
We have fixed the ERPNext issue in this commit : https://github.com/Myddleware/myddleware/commit/ffcdb6f88a61cb3f4f8da02aacada13de88ac04f
We will merge this commit into the main branch this week.
You can change your ERPNext file manually or wait for our next release.
Best regard,
Stéphane

[2022-06-06 12:52] stlgaits commented on #746
Hi, could you let me know specifically which steps / way of installing you used ? The reason I'm asking is that there are multiple ways of installing Myddleware.

Could  you run these commands and show me the output:
`symfony check:requirements`
and
`php bin/console doctrine:schema:validate`

[2022-06-06 18:31] avico-her commented on #746
Thank you very much,
I managed finally to find the problem,
As created a SSL certificate, and a VM it caused the allow override to be ignored.
I  changed the container and it works.

Thank you

[2022-06-06 21:55] Myddleware commented on #737
HI @francescobianco ,
You should use the new crontab here :
![image](https://user-images.githubusercontent.com/11330301/172255474-a623669c-e05f-4c0f-9a27-bbdf3239d13c.png)

Then add this command into your crontab :
`*/5 * * * * cd <myddleware_directory>; php bin/console myddleware:cronrun --env=background`

Hope it will help you.

[2022-06-08 13:50] Myddleware commented on #739
Hi @simonetravaglini and @francescobianco ,
Maybe you just want that, when a parent document (with header data) is sent to the target application, then Myddleware will read the corresponding item data from the source application and send it to the target application. So you don’t need to send parent and item document in one call to the target application, you just need that they are sent at the sa

[2022-06-08 14:02] Myddleware commented on #739
**If you use Myddleware 3**
Redefine your Rule manager class (more details here : https://github.com/Myddleware/myddleware/issues/664#issuecomment-1056758568).

Then add and adapt this code :

[code]

[2022-06-13 13:15] RomanFaure opened #750 "Can't cancel a document in version 3.1.5"
On version 3.1.5 : When I cancel a document in error, the link to see the task is "Failed to create the job" and the doc is not canceled

[2022-06-14 15:12] stlgaits commented on #750
This should now be fixed once [this PR](https://github.com/Myddleware/myddleware/pull/752) is accepted into the Release :
![image](https://user-images.githubusercontent.com/74190794/173612706-c9b7e243-c96b-4aa8-85ab-06bab4415c67.png)
![image](https://user-images.githubusercontent.com/74190794/173613089-7cdc1fec-7985-4d94-b0f8-b7d0320d45ad.png)

[2022-06-14 15:12] #750 closed, assigned to stlgaits

[2022-06-15 14:30] stlgaits opened #753 "Error thrown when trying to create a connector (when selecting a Solution, the ConnectorParams / Credentials form should be displayed below)"
https://github.com/Myddleware/myddleware/pull/751
When selecting a solution in Create Connector Page, instead of displaying the ConnectorParams form, an error is thrown which I do not totally understand.
![image](https://user-images.githubusercontent.com/74190794/173851478-fb437495-b041-4c5b-abea-bb49dbffd6c7.png)
![image](https://user-images.githubusercontent.com/74190794/173851538-26905abe-536e-

[2022-06-21 12:38] simonetravaglini commented on #737
@Myddleware @francescobianco it's ok use crontab, but why you can access to rules creation and get error when saving?
IT's a normal behaviour?

[2022-06-22 19:54] Myddleware commented on #737
hI @simonetravaglini ?

No It isn't a normal behavior. Sorry for that. We don't maintain this view anymore, it will be removed in the next main version.

But if you really want to use this view, you can still modify it inthe database, table jobscheduler. You can set All or the rule id into the param1 column.
![image](https://user-images.githubusercontent.com/11330301/175124205-114aafa8-3cf5-40b4-b

[2022-06-23 06:27] simonetravaglini commented on #737
ok thanks now is clear! @francescobianco

[2022-06-23 16:58] stlgaits commented on #672
Mailer seems to be working fine with the new configuration, however, because emails don't actually send in dev environment (they remain visible only in the dev / web profiler toolbar), we will still need to ensure this is correctly implemented in prod

[2022-06-24 08:07] francescobianco opened #758 "Error with Source filed listed into Target fields [Myddleware 3]"
During syncronization of a Rule with a Subrule (relation of type parent) uset to sync line items of Invoice as show in this image
![MicrosoftTeams-image](https://user-images.githubusercontent.com/472171/175490553-4978568a-62bb-412a-9b1b-cfcba5e9bb38.png)

We have the following error

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/472171/175490764-a5b5c61c-7db5-4da5-98f8-0500

[2022-07-06 15:03] stlgaits opened #765 "Reset Password Email Link throws "No reset password token found in the URL or in the session.""
When clicking the email's link, an error is triggered. It seems the token is not sent properly

![image](https://user-images.githubusercontent.com/74190794/177582071-374b05e8-60ea-49db-bb63-591d6ca35ebf.png)

![image](https://user-images.githubusercontent.com/74190794/177581904-9664d639-b897-431a-8c42-5e88aefc6b6b.png)

[2022-07-07 07:38] lokwaniyash opened #766 "Hubspot field not getting populated"
![image](https://user-images.githubusercontent.com/12872852/177718243-c816eef7-8587-49f6-b959-49732aa2748c.png)
I made a connector for hubspot, and also tried to use the api call to fetch the fields, it worked from postman
salesforce fields seem to be getting populated as well, I've rechecked the api key, and tested the api myself so I'm sure the api key is correct, could you guys help me solve th

[2022-07-07 12:49] francescobianco commented on #758
Any luck @Myddleware @myddleware-dev @CamillePMyddleware ?

[2022-07-07 22:28] Myddleware commented on #766
Hi @lokwaniyash ,
We can't reproduce you issue in Myddleware 3.1.5 :
![image](https://user-images.githubusercontent.com/11330301/177881845-cc7c3ffd-7a0c-4b8f-852b-654ca5ff2c06.png)

Please could you tell me what Myddleware version you use ? Thanks

[2022-07-07 22:31] Myddleware commented on #758
HI @francescobianco
Sorry for the delay. We will do our best to answer you tomorrow.
Have a nice day

[2022-07-10 23:22] Myddleware commented on #758
Hi @francescobianco ,
Thanks for the detail of your message. This is probably a bug. I think that it should always be the source field event for a parent relationship.
Could you try to replace :
[code]
By
`$fields[] = $ruleRelationShip['field_name_target'];`

I think that we haven't seen the bug when we have developped tested it because we developped it for Prestashop first. And all tables have an

[2022-07-11 07:43] simonetravaglini opened #769 "[Myd3] Vtiger connector doesn't have delete function anymore"
In myddleware3 vtiger connector doesnt' have anymore delete function.
I mean this one in M2:
![image](https://user-images.githubusercontent.com/6990139/178215153-0ad6a033-c9b7-4e23-866a-a5f1f1b37b75.png)

Also "Read all at each run" is missing

@francescobianco

[2022-07-11 21:49] Myddleware commented on #769
Hi @simonetravaglini  and @francescobianco ,
I can see the delete function in Vtiger connector here : https://github.com/Myddleware/myddleware/blob/7601bf750f14f6b6c23a6ea67d59c3b71fe38ab7/src/Solutions/vtigercrm.php#L663

I thing that "Read all at each run" at each run was a custom code for you in Myddleware 2, isn't it ? If yes, the cade has to be adapted to Myddleware 3, we can guide you for th

[2022-07-13 20:02] simonetravaglini commented on #769
@Myddleware after debugging we found that the issue was related to the fact that delete function was not "ON" on source connector (MSSQL).
@francescobianco would you like to share details and commit the way we solve?

[2022-07-13 20:05] simonetravaglini opened #770 "[MYD3] Template issues"
Hi, playing with templates I found this 2 issues:
1 - if when loading a template an error occours the error it's not logged at frontend (in MYD2 I get a message with the error in example a missing field)
2 - if I have more than 1 template on same connectors, when I select a template, it could happen that load a different one

[2022-07-14 15:29] francescobianco commented on #769
Hi @Myddleware this was related to the fact:

By default MySQL database has deletion flags enabled, visible here https://github.com/Myddleware/myddleware/blob/7601bf750f14f6b6c23a6ea67d59c3b71fe38ab7/src/Solutions/mysql.php#L37

Otherwise for MicrosoftSQL it NOT by default
https://github.com/Myddleware/myddleware/blob/7601bf750f14f6b6c23a6ea67d59c3b71fe38ab7/src/Solutions/microsoftsql.php#L36

In

[2022-07-18 14:32] #725 closed, assigned to nobody

[2022-07-18 14:49] JiahuiLuData opened #771 "Job Scheduler not working after update from 3.0.4a to 3.1.5"
After upgrading myddleware, my job scheduler synchro stopped working( but manually running the rules is still ok). So I followed the instruction here: https://myddleware.github.io/myddleware/#/cron_jobs , here are the things I have tried:

1. Run php bin/symfony_requirements:

<img width="623" alt="image" src="https://user-images.githubusercontent.com/91266642/179536822-ba382366-9893-4235-bb8c-686

[2022-07-18 20:20] Myddleware commented on #771
Hi @JiahuiLuData ,
You should use the new scheduler version in Myddleware 3.1 :
![image](https://user-images.githubusercontent.com/11330301/179609935-df34391b-99b0-41a6-b0d3-cbd0f6da1403.png)

Then replace your jobscheduler command into your crontab by this command :
`php bin/console myddleware:cronrun --env=background`

Please let me know if you need more help^.
Stéphane

[2022-07-19 09:15] simonetravaglini commented on #770
@Myddleware do you think you can manage this issue soon?

[2022-07-19 11:54] bhaktaraz commented on #205
**Working sample data to create 'Sales Invoice' through ERPNext Rest API**

`$salesInvoiceData = [
                "docstatus" => 1,
                "customer" => "Test Customer API",
                "due_date" => date('Y-m-d'),
                "is_pos" => 1,
                "update_stock" => 1,
                "items" => [
                    [
                        "item_code" => "SUNSCN_0001"

[2022-07-19 13:00] CamillePMyddleware commented on #770
Hello @simonetravaglini, I am currently reproducing your issue and I can confirm that there is an unlogged bug which seems to be a doctrine error. I will investigate this further and keep you posted
![image](https://user-images.githubusercontent.com/95077335/179756057-3aa36ff8-a903-4a0e-8dbc-054b8431065d.png)

@Myddleware I am unable to generate av template :'(

[2022-07-19 19:44] JiahuiLuData commented on #771
Hi Stephane,

Thanks for your timely reply! I have tried the method above and it worked, thanks! However, it kept sending me this email content:
 Hello,
<p>A job is running beyond the limit you have set up : 60 minutes<br/>
The job started at  .<br/>
ID of this job : <br/>
Please check whether this job is still transferring data. If it's not, please stop the job manually by opening the job and cli

[2022-07-19 21:08] Myddleware commented on #771
Hi @JiahuiLuData, we will do our best to reproduce an dfix this issue.
@AlexMyddleware could you check this ? Thanks.

[2022-07-21 09:26] stlgaits opened #780 "Zuora connector & third-party API files are obsolete and need replacing"
All files in src/Solutions/lib/zuora are obsolete (dating back to 2011 - the Zuora API has since massively changed) and need to be removed and replaced with something matching the current Zuora API: https://www.zuora.com/developer/API-Reference/
I suggest potentially replacing all this with https://packagist.org/packages/mhrabovcin/zuora-rest which seems up-to-date and well maintained.
It goes wit

[2022-07-21 09:46] Myddleware commented on #780
@EstelleMyddleware , we can remove this connector from Myddleware. Thanks.

[2022-07-21 18:30] #771 closed, assigned to CamillePMyddleware, AlexMyddleware

[2022-07-21 18:33] Myddleware commented on #771
@JiahuiLuData , you can install the latest version 3.1.6a, it should be fixed.
Have a nice day.

[2022-07-27 07:25] francescobianco opened #786 "Solution disabled by default"
Why we have these solutions disabled by default?

![Screenshot from 2022-07-27 09-24-14](https://user-images.githubusercontent.com/472171/181186999-b8f9e3b1-76ad-42c7-bf5d-790d32617955.png)

How switch these from `active=0` to `active=1` by front-end?

cc @simonetravaglini @Myddleware @myddleware-dev

[2022-07-27 07:48] Myddleware commented on #786
Hi @francescobianco ,
These solutions are disabled by defaut because they haven't been adapted to myddleware 3 yet, or because the haven't been tested properly in Myddleware 3.
Could you tell me which solutions do you need ?
Have a nice day,
Stephane

[2022-07-27 14:58] francescobianco commented on #786
Hi! We are looking for to use: mautic and facebook

@Myddleware

[2022-07-27 15:24] simonetravaglini commented on #786
@Myddleware we have a project that is starting that need file CSV. If possibile is more urgent than mautic and facebook that are for a prospect project.

[2022-07-29 18:51] Myddleware commented on #786
@simonetravaglini , @AlexMyddleware will work on it on Monday.
We 'll keep you posted.

[2022-07-31 23:39] rulotec opened #791 "change php command after server migration"
Hi Myddleware team!

I had a myddleware 2.5.6 instance running on a server where the php command was php73.
Now I've migrated to a server where the php command is simply php.

I updated several config files like `app/config/public/parameters_public.yml` to change `executable: php73` to `executable: php`
However I was getting an error when running rules manually:

I found out that line 958 in `Mydd

[2022-07-31 23:51] rulotec commented on #786
Hi guys, I'm also very interested in having facebook back. I'm currently using myddleware 2 in order to be able to use the facebook solution. When you say "will work on it on Monday", does that include FB? If not, is there any other ETA?

Thanks in advance!

[2022-08-01 00:26] rulotec commented on #618
Here's two options that might work:

* https://github.com/thephpleague/oauth2-facebook
* https://github.com/janu-software/facebook-php-sdk

[2022-08-01 07:06] stlgaits commented on #618
@rulotec thanks for this, I will check them out and hopefully we can implement one of those instead ^^

[2022-08-01 07:40] Myddleware commented on #791
Hi @rulotec ,
Could you first try to clear your cache ? The cache has to be clear after a modificication in config file.
Please let us know if it solved your issue.
Thanks.

[2022-08-01 07:45] Myddleware commented on #786
Hi @rulotec ,
Sorry but we will only work on "File" connector today as it is just test/adaptation for Myddleware 3.
About facebook, we will have to rebuild the connector, it means several days of work. We will keep you posted on this issue : https://github.com/Myddleware/myddleware/issues/618#issuecomment-1200543272

Sorry but our main focus during this month is to finish the development of Myddle

[2022-08-01 15:25] AlexMyddleware commented on #786
Hey [@rulotec](https://github.com/rulotec), we made some progress but the file connector is will require additional work on our part. We will get back to you tomorrow.

[2022-08-01 15:44] rulotec commented on #618
Thanks Estelle, I'd really like to use the latest version of myddleware with the FB connector.

One more question. If I install myddleware 3 and use php 7.4 (or less) and enable the fb connector through the database. Would that work?

[2022-08-01 15:50] Myddleware commented on #786
Thanks @AlexMyddleware ,
Yes @simonetravaglini , we are almost there. However we have some additional tests to make. Here is the pull request where we have fix a bug on the file connector : https://github.com/Myddleware/myddleware/pull/796
We will merge the branch tomorrow if all the tests are OK.
Have a nice day.

[2022-08-01 18:33] rulotec commented on #791
When you say "clear your cache", do you mean I have to delete the `myddleware/var/cache` directory:

![image](https://user-images.githubusercontent.com/36896420/182219217-82d93ea2-2c1b-4f3a-adb9-b808ed6893e3.png)

Or is there a different way?

Also, about using myddleware 2.5.6 with php 7.4, do you think I could run into issues? So far I haven't and I'm only using the vtiger and facebook connector

[2022-08-02 09:05] AlexMyddleware commented on #786
Hello @simonetravaglini, you can download this myddleware release https://github.com/Myddleware/myddleware/releases/tag/v3.1.7b, it will makes the file connector work properly.
As for the facebook and mautic connectors, we will look into it as soon as we can.
If you need anything else let me know.

[2022-08-02 14:43] simonetravaglini commented on #786
@AlexMyddleware thanks for update

[2022-08-04 07:26] stlgaits commented on #618
@rulotec You can give it a go but as far as I'm aware I don't think it would given that this is the current SDK : https://packagist.org/packages/facebook/graph-sdk and if you have a look it doesn't go beyond PHP 7.0, is abandoned and hasn't been updated in years.

[2022-08-04 08:33] simonetravaglini opened #800 "Myd3.15 pagination issue"
Hi,
in document list, if I switch page I get 404 error.
CAn you reproduce this issue?
example url:
http://mymyddleware/index.php/rule/flux/list/page-7

[2022-08-04 19:13] rulotec commented on #618
I've been using myddleware 2 with php 7.2 for a long time using the facebook connector. I have now been using myddleware 2 with php 7.4 for about a week with the facebook connector without issues.

I would assume that if it's working correctly now, it would work in myddleware 3 as well if I also use php 7.4. Since the connector hasn't changed. Does that make sense?

[2022-08-10 22:07] Myddleware commented on #618
Hi @rulotec ,
The facebook connector isn't enable in Myddleware 3. I see that we have made the connector compatible with Myddleware 3 but we haven't tested it.
So if you want, you can try it with Myddleware 3. You could test it and if you find some issue we could fix it. Then we could enable it in Myddleware 3 thanks to your tests ;).
Please let me know what you think.

[2022-08-10 22:13] Myddleware commented on #800
You are right, we have an issue with pagination in Myddleware 3. We will fix it.
If you want to see more result right now, here is a wrokaround. You can change the config in table config. You can set 10 000 here :
![image](https://user-images.githubusercontent.com/11330301/184029524-cbe14cf4-acb3-41ef-a4eb-c3a3b8a9fc6f.png)

So you will have only one page with a lot of result;

I 'll let you know

[2022-08-10 22:14] Myddleware commented on #800
@AlexMyddleware , could you have a look into this issue please ?
Thanks.

[2022-08-10 22:24] Myddleware commented on #769
Hi @francescobianco ,
Because you have tested it, we will add it to Myddleware standard in the next release.
Thanks you very much.

[2022-08-10 22:29] Myddleware commented on #769
Here is the commit : https://github.com/Myddleware/myddleware/commit/34ca00d30299cba014602a6a8d633f981580143d

[2022-08-10 22:32] Myddleware commented on #770
Hi @simonetravaglini ,
We forgot to tell you that we have fixed the issue here : https://github.com/Myddleware/myddleware/commit/ccef683bacad765d8385ad9050551b94b70ad0a4
Please upgrade Myddleware, it whould work now.
Let us know if you have any other issue.

[2022-08-10 22:32] #770 closed, assigned to CamillePMyddleware

[2022-08-10 22:46] Myddleware commented on #758
Hi @francescobianco ,
Did you try the fix ? If yes does it work as expected. If yes we will fix Myddleware 's code.
Thanks.

[2022-08-11 06:37] AlexMyddleware commented on #800
@Myddleware I will look into it right away.

[2022-08-11 12:38] AlexMyddleware commented on #800
Hello @simonetravaglini , I found the bug and fixed it, the fix will be present in myddleware 3.1.8.
You can also correct it manually right away by removing 2 lines of your \src\Controller\FluxController.php.

They are respectively these lines:
`if ($form->get('click_filter')->isClicked()) {`
line 306
and the closing curling bracket
` } // end clicked`
line 377

You can check out [this commit](htt

[2022-08-11 12:38] #800 closed, assigned to AlexMyddleware

[2022-08-22 06:37] #671 closed, assigned to CamillePMyddleware

[2022-08-22 08:58] simonetravaglini opened #808 "When opening dashboard time to load is too long"
Hi,
when you have lot of dcouments of transfer, opening dashboard (home page) it's a big problem, require some minutes.
I think it's something to solve soon.
Thanks.

@francescobianco

[2022-08-24 07:23] simonetravaglini opened #809 "MYD3: SMTP configuration password it's not hide"
![image](https://user-images.githubusercontent.com/6990139/186356476-64db1fc6-8dfe-47ae-97fb-0e6ea4e8d952.png)

[2022-08-24 15:52] francescobianco opened #811 "Problem on notification from command line [Mydd3]"
Because notifications weren't working, we did a test from CLI

If i run from CLI the following command:

[code]

I get back an error and **not email was sent**

[code]

[2022-08-24 15:58] francescobianco opened #812 "Add custom FROM email into SMTP settings"
Actually I can't change my FROM EMAIL by SMTP settings form. I need it too.

This is bad because by default the system use the HARDCODED 'no-replay@myddleware.com'

# WHY?

Many email provider STOP sending email if you use custom email as FROM instead of the official one.
For example on Microsoft Office 365, I can only use my username 'name.surname@microsoft.com' as FROM EMAIL and not other.

I su

[2022-08-26 08:52] simonetravaglini opened #813 "[MYD3] Cron: sequence of rules"
Hi,
in myd2 scheduler I had possiblity to set priority, to determine sequence of rule.
In myd3 with cron how could work?
Suppose I have ten rules that runs every 5 minutes, how I can set sequence?
If the sequence followed is creation, it should be possible to modify from frontend

[2022-08-29 14:47] CamillePMyddleware commented on #808
Hi @simonetravaglini,
Sorry for the delay, we are going to make some tests on our side.
We will keep you posted as soon as possible.

Have a nice day

[2022-08-30 08:49] AlexMyddleware commented on #809
Hello @simonetravaglini , the bug has been fixed, the fix will be available in the next release. We will do some additional testing to see if the format is compatible all smtp configuration types,but if nothing arises then consider the problem solved.

[2022-08-30 08:49] #809 closed, assigned to AlexMyddleware

[2022-08-30 14:34] CamillePMyddleware commented on #811
Hello @francescobianco,
Sorry for the delay, we are going to make some tests on our side.
We will keep you posted as soon as possible.

thanks and have a nice day

[2022-08-31 07:53] stlgaits commented on #809
https://github.com/Myddleware/myddleware/pull/817

[2022-08-31 10:32] #746 closed, assigned to stlgaits, CamillePMyddleware

[2022-08-31 10:34] #711 closed, assigned to stlgaits

[2022-08-31 10:34] #669 closed, assigned to stlgaits

[2022-08-31 11:57] Myddleware commented on #808
Yes @simonetravaglini you are right.
For now we are using a workaround : we use this URL to connect to Myddleware to skip the homapage : <your myddleware URL>/index.php/rule/list
The issue in on the ERROR query, we have to improve it as it takes too long to get the result. We will work on it.

[2022-08-31 11:58] Myddleware commented on #808
@AlexMyddleware , we should improve the queries for the homepage. We will work together on it.

[2022-08-31 14:20] RomanFaure opened #818 "Documents research"
It will be more efficient if we can search document by date and by number of instances of loading by document. If you can add this 2 filters in the documents parts, thank you !

[2022-08-31 14:22] RomanFaure opened #819 "Optimization of requests"
Optimize the requests according to the search fields in the home page.

[2022-08-31 14:26] Myddleware commented on #818
Hi @RomanFaure ,
Yes it would be great but maybe we can just change the field type for "Date of modification" field from date type to datime type :
![image](https://user-images.githubusercontent.com/11330301/187702997-eaac065a-82fd-4556-ad1b-c4a47012559c.png)

[2022-08-31 14:28] Myddleware commented on #819
Yes, I am pretty sure that we can improve the search query. Maybe we can join DocumentData table to the query only if we source or target data are requesting. We also have to check the index.

[2022-09-06 09:16] simonetravaglini commented on #811
@CamillePMyddleware hi, news about this topic? You were able to reproduce issue?

[2022-09-06 09:18] simonetravaglini commented on #813
@Myddleware did you had time to analize this issue?

[2022-09-07 00:13] Myddleware commented on #813
Hi @simonetravaglini ,
The bundle "cron-bundle" from shapecode vendor doesn't manage the order. There is no order sequence column set in the table cron_job. The order is the one by default in the table cron_job, so the order of creation.

The only order you can change is the one set by Myddleware in the table ruleorder. However this sequence is calculated depending on the relationship between all

[2022-09-07 00:14] Myddleware commented on #813
I forgot to tell you sorry for the delay of our answer ;(

[2022-09-07 00:33] Myddleware commented on #812
Hi @francescobianco ,
We will add an optional value in the .env.local file to override the "from email". We will develop this inthe next main version (3.1.8).
We will keep you posted.

[2022-09-07 00:34] Myddleware commented on #812
@EstelleMyddleware  or @CamillePMyddleware , could you take care of this please ? Thanks.

[2022-09-07 07:10] simonetravaglini commented on #813
@Myddleware thanks for clarification.
Maybe an option could be give the possibility to use, like in M2, also scheduler function.
So with scheduler you set rules with priority and also many option you can use like before.
Crontask shuold work "in addition", and you can use if you need to set a rules in a more advanced way.
Do you think could be possible?

[2022-09-07 14:58] CamillePMyddleware commented on #811
Hi @simonetravaglini,
Sorry for the delay, for the moment we are trying to reproduce the problem, we will come back to you as soon possible.

thanks

[2022-09-07 21:53] Myddleware commented on #813
Hi @simonetravaglini ,
Thanks for your message.  I understand your point of view. However I think it will be confusing if we add a crontask runs by the cron-bundle which is run by the Linux crontab.

We have decided to use the cron-bundle because it will open new features for Myddleware. For example, you will soon be able to create a group of task (project). Then you will be able to run several pr

[2022-09-08 06:54] simonetravaglini commented on #813
Hi stephane,
thanks for answer. It could work but there is a case we have to add, and should not be hard.
Suppose I have a set of rules that I want to run every 5 minutes. I create rules, set actives, add order, and activate a cron with run all. Then I need a rule that run one a day. I set a cron for that. But In this case, if rule is active, is run also with run all.
So a solution could be add in

[2022-09-08 07:37] Myddleware commented on #813
That's a great idea @simonetravaglini ,
We have added the parameter "force" in Myddleware 3.1.8 (not yet released) to force to run a rule even if another task is running. Myddleware will be able to run several task in the same time.
I have changed a little bit the code, now force paramet will also allow to run an inactive rule : https://github.com/Myddleware/myddleware/commit/70ebab2fa7dfbee63fe20

[2022-09-08 08:32] simonetravaglini commented on #813
@Myddleware Force it's a great idea! Also for the case I call a rule from API... Maybe you can consider instead of run at same time to create a queue... anyway the solution implemented seems to solve all cases! After release we will test!

[2022-09-08 11:24] Myddleware commented on #813
Hi @simonetravaglini , yes force parameter is always set to true when a command is called form the API.

[2022-09-09 15:49] Myddleware commented on #812
Hi @CamillePMyddleware and @francescobianco ,
I have to work next week on the enhancement of the notification to allow Myddleware to use Sendinblue to send notification. I will manage the FROM email at the same time. Default value for FROM email will still be replay@myddleware.com , but it will be possible to redefine it using the .env.local file.

[2022-09-12 21:12] Myddleware commented on #812
Hi @francescobianco ,
I have checked again the code and I see that you can already override the FROM email using the config table.
https://github.com/Myddleware/myddleware/blob/5f4fdd11d7e7e4b34a9304ff913c5883179d086b/src/Manager/NotificationManager.php#L150

Please add an entry email_from in the config table and no-reply@myddleware.com should be overriden by your custom value.

Please let me know

[2022-09-15 19:28] mjm2230 commented on #79
Hi @jeremy-schweitzer and @Myddleware I'm running into this exact same issue. Would you mind sharing what the issue was on the Salesforce side? I'm wondering if it might help to update the Myddleware documentation for Salesforce connectors. I followed it exactly but am hitting this issue. Thank you for any help you can provide!

[2022-09-19 14:44] CamillePMyddleware commented on #79
Hi @mjm2230,
Could you tell me which version of Myddleware are you using ?

Thanks and have a nice day

[2022-09-19 16:19] mjm2230 commented on #79
Hi @CamillePMyddleware ! Thanks for getting back to me.

We're using version 3.0.6a.

[2022-09-20 15:28] simonetravaglini commented on #811
@CamillePMyddleware @Myddleware any news? Becouse we are not able to send notification from M3 at all... :(

[2022-09-22 12:59] AnnysStyle opened #824 "Integração com Gestor Acadêmico"
Olá, nos comentários do plugin no moodle, vi que tem integração com gestores acadêmicos, quais seriam eles?
O UnifiedTransform também faz integração?

[2022-09-23 16:44] Myddleware commented on #824
Hi @AnnysStyle ,
Sorry we manage support only in english and french so I answer in english.
Myddleware isn't connected to UnifiedTransform yet. If there is an available REST API we could connect Myddleware and UnifiedTransform.
Please let me know if you still want that Myddleware connects UnifiedTransform. The development caost is usually between  5
and 7 days.
We remain at your disposal.

[2022-09-23 16:49] AnnysStyle commented on #824
Hello, I apologize.
Let's test Unified Transform to see how it will supply us.
Would you have any REST API for us to test later.
Thank you for the answer!

[2022-10-12 00:13] mjm2230 commented on #79
Hi @CamillePMyddleware ! I'm wondering if you had any ideas to help me. Thank you!

[2022-10-17 10:08] stlgaits opened #830 "Unable to edit target fields when handling a document in error"
Documents in error should be editable (inside the target field section of the Document view) when the document is in error, as per the screenshot below :

![image](https://user-images.githubusercontent.com/74190794/196150534-91ee426c-d096-4265-a835-7974c8d96d7f.png)

However, it is currently impossible to edit a target field's data, hence making the Run the same record / Reload the document action

[2022-10-18 13:43] stlgaits opened #831 "Minor issue: project ID field improperly displayed on Airtable connector creation form"
This fields translation isn't properly loading (probably a typo?) and instead displaying "solution.fields.projectid".

![image](https://user-images.githubusercontent.com/74190794/196446866-0994fc54-ae70-441d-bfa0-cbcfe84f2cc9.png)

Myddleware version 3.1.7b

[2022-10-18 14:48] stlgaits opened #832 "File connector is missing from the available connectors list (disabled?)"
The File connector is not available in the dropdown list on the Create Connector view. Probably disabled by mistake?
![image](https://user-images.githubusercontent.com/74190794/196464294-0699279b-f978-4a87-b549-dd68936b1075.png)

Myddleware version 3.1.7b

[2022-10-21 06:54] lordimac opened #833 "Build Error with 3.1.7b regarding AccessorSignature"
Hello,
I'm getting an build error on Debian 22.04 Docker Host when running make install.

[code]

[2022-10-21 07:59] lordimac commented on #833
Ok, I was able to build it after removing the yarn.lock file. But this comes with another problem. If I want to create a connector all I get is the following error message:

` Connection failed :`

[2022-10-21 08:04] Myddleware commented on #833
Hi @lordimac ,
Could you send us a screenshot about this error ? What application do you try to connect ?
Thanks.

[2022-10-21 10:52] lordimac commented on #833
Hi there,
it doesn't matter which connector I choose, error message is the same.

If it's important, I build the stack according to the readme, but with removed yarn.lock file so it gets compiled without error. Don't know if there is now a wrong version of a framework which you are using.

[code]

![firefox_2022-10-21_12-51-13](https://user-images.githubusercontent.com/2249102/197179628-af64ca97-f

[2022-10-21 12:55] Myddleware commented on #833
Thanks @lordimac ,
@EstelleMyddleware coulmd you have a look into this on Monday please ?
Thanks.

[2022-10-24 06:53] stlgaits commented on #833
The first issue I can see is that the make command attempted to install NodeJS in its current version (19) but as far as I'm aware, Myddleware 3.1 is only compatible with Node's LTS version (16.18) at the moment.

[2022-10-24 06:56] stlgaits commented on #833
Regarding the second issue, if you managed to build correctly and to log in to your Myddleware user, the database has been built correctly, therefore I am curious as to why this error is being triggerred. Could you please look at 2 things for me ?
- first, can you attempt the same process but with your JavaScript console opened and check whether there are error messages in there. If yes, please ca

[2022-10-24 07:09] lordimac commented on #833
Good morning,
thanks for the reply.

According to your messages, how to avoid building with NodeJS 19? I'm not very into this.

Attached you will find the console screenshot when opening up http://vsrv-cs-docker:30080/index.php/rule/connector/create and choosing a connector.

![firefox_2022-10-24_09-04-24](https://user-images.githubusercontent.com/2249102/197467155-a2b9234e-e151-4226-a916-e2dec86c

[2022-10-24 07:33] stlgaits commented on #833
Thanks for your prompt response, this confirms what I thought, it seems that the make command upgrades some JavaScript libraries to the latest version by default, which isn't what we want. On my side I've been able to reproduce the same issue too (with the $.tabs() error. What I will do is try to fix this ASAP and ship the fix in 3.1.8 or 3.1.9 release. Meanwhile, maybe you could try to [install u

[2022-10-24 07:52] stlgaits commented on #833
Note to self: this also impacts other JQuery UI functions, such as draggable (used in Myddleware fields mapping during rule creation: the source fields are no longer draggable, there's no errror message but simply the fields won't move when selected). TBC

[2022-10-24 08:41] lordimac commented on #833
I took a look into the Dockerfile and found the problem. It refers to the latest version of node instead of lts.

The line I'm talking about is Line 24 in Dockerfile.

Changed from
`RUN curl -fsSL https://deb.nodesource.com/setup_current.x | bash - && \`
to
`RUN curl -fsSL https://deb.nodesource.com/setup_lts.x | bash - && \`

I build the new docker image and run make with this new image. Everythi

[2022-10-24 08:45] stlgaits commented on #833
Fantastic, thanks for spotting this, I've just approved your PR. Meanwhile I've fixed the discrepencies between JS libs on a "standard" (non-Docker) install. I will PR this bugfix & add it to new release.

[2022-10-25 20:17] Myddleware commented on #79
Hi @mjm2230 ,
We are very sorry for the delay in our reply.  We will make sure to reply quickly next time.
We try to reproduce your issue but we get all Salesforce modules :
![image](https://user-images.githubusercontent.com/11330301/197873251-8320a22e-c6c1-4204-9bb4-4e6fa5090b2c.png)

Could you tell us if you use a sandbox or a production environnement ?
Could you check the log in the directory v

[2022-10-26 01:32] mjm2230 commented on #79
Hi Stéphane,

It is a sandbox environment.

Please excuse my ignorance, but how do I check there? When I add var/log/prod.log to my Myddleware url, I get an error that the directory does not exist. However, when I click on the job details through the homepage, I see the following information:

![image](https://user-images.githubusercontent.com/22847068/197913461-93f5d326-32f5-4b9b-9c8d-18190af0cd4

[2022-10-26 19:46] Myddleware commented on #79
Hi @mjm2230 ,

The "timezone" bug has been fixed. Could you install the latest version (3.1.7) ? You can run the command myddleware:upgrade : https://myddleware.github.io/myddleware/#/admin_tasks?id=automatic-myddleware-upgrade

ABout Salesforce, did you set the sandbox flag to 1 :
![image](https://user-images.githubusercontent.com/11330301/198121774-56c737a1-c74c-4cc8-adec-e893567c7a42.png)

The

[2022-10-26 20:34] Myddleware commented on #811
Hi @simonetravaglini ,
Just let you know taht notifications are fixed in the next main release (3.1.8). We try to finish all the test tomorrow then we will launch it.
We will keep you posted.

[2022-10-26 22:58] mjm2230 commented on #79
This is super helpful -- thank you! I don't have access right now to the server but am working with the team who set up this instance of Myddleware to share that info with me ASAP.

[2022-10-27 11:48] rafaelb26-dv opened #837 "error: Field email not found in the module customers"
Hi, I'm creating a connection from my prestashop to moodle. When I create the default rule, it shows me this error: Field email not found in the module customers. Please make sure you have access to this field

![image01](https://user-images.githubusercontent.com/85837915/198276238-6c236b41-b3d4-413b-8e12-f2b92e712b43.png)
![image02](https://user-images.githubusercontent.com/85837915/198276246-2b9

[2022-10-27 13:14] Myddleware commented on #837
Hi @rafaelb26-dv ,
Could you check that you have access to the field email in the module customer (Prestashop) and in the module user (Moodle) ?

A simple way to test this : create a test rule using modules (not template) between customer module (Prestashop) and user module (Moodle) and check that the field email appears into the field mapping view for Moodle and Prestashop.

[2022-10-27 16:15] rafaelb26-dv commented on #837
which one?
![Screenshot_20221027_131342](https://user-images.githubusercontent.com/85837915/198343583-f655f083-ff4d-4d03-94f5-59ce7462e244.png)

[2022-10-27 17:44] Myddleware commented on #837
If I remember well, it is something like "The e-shop customers" .

[2022-10-27 17:56] rafaelb26-dv commented on #837
it only shows customers on the prestashop side

![image01](https://user-images.githubusercontent.com/85837915/198363395-2b897403-bbeb-41f9-bd08-ae9d01b58404.png)

![image02](https://user-images.githubusercontent.com/85837915/198363430-3a9ad3f9-6286-4eb1-8d4b-aa4df8d490c7.png)

[2022-10-27 18:06] Myddleware commented on #837
OK so your problem comes from here.
Could you check if you have enable the webservice for module customer into Prestashop ?
![image](https://user-images.githubusercontent.com/11330301/198365686-9eb3769b-6f3a-4aaa-aaec-d7a360b08bf7.png)

[2022-10-27 18:20] rafaelb26-dv commented on #837
was already

![Screenshot_20221027_151522](https://user-images.githubusercontent.com/85837915/198367948-f28539d7-6d9c-459a-abed-4dce7caaa030.png)

[2022-10-27 18:24] Myddleware commented on #837
Please could you tell us which Myddleware version and PRestashop version you use ?
We will try to reproduce your issue tomorrow.
Have a nice day.

[2022-10-27 18:29] rafaelb26-dv commented on #837
Sure,
Myddleware - version 3.1.7b
Prestashop - version 1.7.8.7
Have a nice day you too

[2022-10-31 16:33] AVATAVA commented on #657
I have the same issue using a prestashop to moodle template.  When I press the "confirm rule" button, I only see "please wait". I can manually create a rule - but cannot confirm a template.

[2022-11-01 11:58] ModeBan commented on #657
That is to do with authentication on Prestashop or moonless. Enter your credentials again and it should work

________________________________
From: AVATAVA ***@***.***>
Sent: Monday 31 October 2022, 16:33
To: Myddleware/myddleware ***@***.***>
Cc: Modestas Banys ***@***.***>; Mention ***@***.***>
Subject: Re: [Myddleware/myddleware] Nothing happens when using magento to erpnext template (Issue #6

[2022-11-01 14:07] AVATAVA commented on #657
Thanks for the reply- the authentication works fine if I create a rule of my own and run it- I just cannot use the template, and when it fails I get nothing in the prod.log, I just see the "please wait" which never times out. I can read data from either moodle or prestashop, so it does not seem logical that  I cannot confirm a template.

[2022-11-02 09:44] lordimac opened #840 "Remove/Disable users when not in filter anymore"
Hello,
is there any way to remove/disable Moodle users when they are not anymore in the filter but synced before? I'm unsure if this should be inside myddleware or the Moodle plugin.

[2022-11-02 15:07] francescobianco opened #842 "Microsoft Database coulmn with spaces [Mydd3]"
Hi! @Myddleware

we have a MS database with column name with spaces

but when I try to sync data the query seem broken due to space replacement with '%20' (the encoded version)

look at this

[code]

Could you check if it works from your side into your Testing Database?

@simonetravaglini

[2022-11-02 17:53] genius987 opened #843 "error "task_view" must match "[^/]++" ("" given) to generate a corresponding URL"
Hi @francescobianco , i have problem with my Myddleware installation.
When I start the rule it gives me this error

**Parameter "id" for route "task_view" must match "[^/]++" ("" given) to generate a corresponding URL.**

@Jrbebel
Image about error
[https://drive.google.com/file/d/1JX8vN2wCq90E9wyQq2FiN_GPdGRyAtDS/view?usp=share_link](url)

[2022-11-02 21:37] Myddleware commented on #840
HI @lordimac ,
Could you tell me what how does your rule work (from which application/module to which application/module) ?

Or maybe you could use the field suspended ?

Have a nice day
Stéphane

[2022-11-02 21:40] Myddleware commented on #842
Hi @francescobianco,
This is a bug known as we have the same issue using Airtable.
We have create a workaround by replacing the space by ___ . However, it should be fixed into Myddleware. I set the flag bug on this issue.

[2022-11-02 21:44] Myddleware commented on #843
IHi @genius987 ,
It happens when the tack hasn't been generated.
Could you try to run the rule using a command into your terminal (from yor Myddleware root directory) :
`php bin/console myddleware:synchro <if of your rule> --env=background`
Does it work ?

[2022-11-02 22:13] genius987 commented on #843
Thanks very much, it works with shell 👍.
but why doesn't work using web page?
 I tried with different installations but the error is the same.

[2022-11-02 22:27] Myddleware commented on #843
Could you check the log into the file /var/log/prod.log ?
Let me know if a message is generated when you click on this button.

[2022-11-02 22:44] genius987 commented on #843
@Myddleware  thanks, i send prod.log

`[2022-11-02 22:33:39] app.ERROR: Parameter "id" for route "task_view" must match "[^/]++" ("" given) to generate a corresponding URL. /home/mifabene/public_html/moodle/sincronizzadati/vendor/symfony/symfony/src/Symfony/Component/Routing/Generator/UrlGenerator.php 193 [] []
[2022-11-02 22:33:38] request.INFO: Matched route "regle_exec". {"route":"regle_exec","

[2022-11-03 16:28] Myddleware commented on #837
Sorry @rafaelb26-dv ,
We couldn't reproduce the issue. We will be able to work on it again only next week. Sorry for that.
We will keep you posted.
Stephane

[2022-11-03 16:32] genius987 commented on #843
@Myddleware Do you have some idea?

[2022-11-04 00:41] Myddleware commented on #837
Hi Rafael,
We have set the same version than you and we get all the fields from Prestashop (email included) :
![image](https://user-images.githubusercontent.com/11330301/199860517-14fc8d8c-adb0-477e-9526-529b72972e13.png)

Maybe the issue could come from your Prestashop instance. Could you try to get the schema from your API using this URL :
Prestashop_URL/api/customers?schema=synopsis
Add your AP

[2022-11-04 11:35] rafaelb26-dv commented on #837
Hi Myddleware, i did what you asked and it showed this error:

![12345](https://user-images.githubusercontent.com/85837915/199963203-d81747f0-2ade-436b-809f-8c86deb088ee.png)

[2022-11-04 15:55] RomanFaure commented on #837
Hi Rafael,
I guess you don't have the right version of prestashop, you should try with the 7.3 for prestashop.
Have a nice day !

[2022-11-04 16:02] francescobianco commented on #843
@genius987 did you use Docker version or legacy apache server?

[2022-11-04 20:35] genius987 commented on #843
@francescobianco i'm using legacy apache server version 3.1.1

[2022-11-04 22:32] Myddleware commented on #837
Hi @rafaelb26-dv ,
Sorry @RomanFaure  means your php version used for your Prestashop instance.
Could you check if you have the right version :
https://devdocs.prestashop-project.org/1.7/basics/installation/system-requirements/

Thanks.

[2022-11-05 09:38] lordimac commented on #840
Yes, I want to sync an Database with Member Informations to Moodle. But also want to disable/delete users which are disabled in the database. Can be filtered with a field named "Status".

[2022-11-05 09:56] francescobianco commented on #843
It seems installation problem, could you make a screenshot includin browser page and the URL of the page that have the error @genius987

Somethings in terms of HTACCESS file blow the perfect traslation from URL to Myddleware input params

[2022-11-07 08:24] stlgaits commented on #657
@AVATAVA Hi, could you please check your JavaScript console to see whether there are any error messages displayed there (I just want to make sure they are the same as mine) and look any errors flagged in red ?
![image](https://user-images.githubusercontent.com/74190794/200261073-d82f7681-962e-4569-a330-ef1dbbe1108e.png)

 I've just tried to reproduce your error prod mode, it wasn't triggered in de

[2022-11-07 14:59] AVATAVA commented on #657
Hi @EstelleMyddleware , I am using Myddleware 3.1.1. I see no errors in the console, and no errors are produced in the prod.log. Prestashop is 1.7.8.2 and Moodle is 4.0.2
![myddleware-error](https://user-images.githubusercontent.com/16229933/200341683-708d4b6d-5f28-43d5-a640-d860be561eb3.PNG)

[2022-11-07 15:12] stlgaits opened #846 "Bug: 500 error when trying to create a rule"
Not sure whether this is due to my config or if it's a more serious error but when attempting to create a rule, I got the following error being triggered.

[code]

[2022-11-07 18:33] rafaelb26-dv commented on #837
Hi myddleware, my php version is 7.4.32, I looked at the requirements and it's ok

[2022-11-07 18:34] rafaelb26-dv commented on #837
Hi @RomanFaure, is there a way to change the Prestashop version without losing data?

[2022-11-07 20:47] Myddleware commented on #837
Hi @rafaelb26-dv ,
I think the issue is on Prestashop side. You should get the API schema when you call the URL I gave you.
Unfortunately, we aren't Prestashop expert so I advise you to search on Prestashop forum why you don't get the API schema. Once you will get the right XML, you should get the Prestashop's fields in Myddleware.
Please keep us updated.

[2022-11-07 20:48] Myddleware commented on #837
But yes @rafaelb26-dv , your php version seems to be the right one.

[2022-11-08 07:43] stlgaits commented on #832
Fixed in Release 3.1.8a https://github.com/Myddleware/myddleware/pull/810

[2022-11-08 07:43] #832 closed, assigned to nobody

[2022-11-08 11:24] rafaelb26-dv commented on #837
Hi, @Myddleware,  how it's going? is it supposed to be like this?
![api](https://user-images.githubusercontent.com/85837915/200551967-ee964c03-7ad6-4d63-8e34-d163e6a30df6.png)

[2022-11-09 09:45] Myddleware commented on #837
Hi @rafaelb26-dv ,
I think you already have the module list into Myddleware. The error is when you try to get the field list. For example, you should get the customer field list with this URL :
Prestashop_URL/api/customers?schema=synopsis

[2022-11-09 12:37] Myddleware commented on #840
Hi @lordimac ,
I advise you to create a formula for the field suspended depending on the status in your database. Something like :
({status}=="Active" ? "0" : "1")
![image](https://user-images.githubusercontent.com/11330301/200832079-e4c69567-9bbd-48fb-9810-d90b381ae7ce.png)

![image](https://user-images.githubusercontent.com/11330301/200831998-88d499f6-6d48-425d-8fec-3baa6174e789.png)

Please ada

[2022-11-09 13:15] lordimac commented on #840
Oh wow, I didnt even know that we can create custom formulas for every field. My bad! Thank you very much, this should do the trick.

[2022-11-09 13:19] Myddleware commented on #840
Great ;)
I close the issue but don't hesitate to re open it or create another one if you have another issue.

[2022-11-09 13:19] #840 closed, assigned to nobody

[2022-11-10 13:51] rafaelb26-dv commented on #837
Hi @Myddleware, i changed the prestashop version to 1.7.7.7 and apparently it worked
![api](https://user-images.githubusercontent.com/85837915/201109430-896e878a-8d6a-4474-864d-61406c09dc15.png)

[2022-11-10 14:34] rafaelb26-dv opened #851 "Failed to create document"
Hi @Myddleware, i create a default rule for prestashop-moodle, it created right, but now it keeps giving this error:
![error01](https://user-images.githubusercontent.com/85837915/201119151-474a7bb7-1610-4020-86ce-dfe8ab02189b.png)

Log:
![error02log](https://user-images.githubusercontent.com/85837915/201119188-c0f18916-b060-4eac-b6d0-c6285e89bf4f.png)

[2022-11-10 15:40] Myddleware commented on #837
Great, thanks for your feedback.

[2022-11-10 15:40] #837 closed, assigned to nobody

[2022-11-10 15:50] Myddleware commented on #851
Hi @rafaelb26-dv ,
I guess that the field you have selected as reference date in the rule edit view (confirmation tab) isn't a date :
![image](https://user-images.githubusercontent.com/11330301/201140584-1e636356-5d9a-435b-911d-b1962db47265.png)

If you want Myddleware to work properly, this field should be the date when the record is modified in the database. Here is an example for MySQL :
![imag

[2022-11-10 16:44] Myddleware commented on #657
Hi @AVATAVA ,
I can't reproduce the issue, the rule are successfully generated in my Myddleware instance.
Could you upgrade Myddleware to the latest version and check again please ?
Please keep us updated.
Thanks

[2022-11-10 17:14] Myddleware commented on #824
Hi @AnnysStyle ,
It is usually Myddleware that will connect to the other application. It is the reason why we develop the connector into Myddleware.

[2022-11-10 17:28] #79 closed, assigned to Myddleware

[2022-11-10 17:39] Myddleware commented on #791
Oh sorry about this topic, we forgot it.
Yes you can clear the cache be deleting myddleware/var/cache/* . Otherwise there is a symfony command too.

The latest version of Myddleware is compatible with php 7.4 so the best way would be that you upgrade Myddleware. Don't forget to backup your instance before the upgrade because the upgrade from Myddleware 2 to Myddleware 3 is a bug one.

[2022-11-10 18:07] rafaelb26-dv commented on #851
Hi @Myddleware, only have these options, which one is correct?
![error03](https://user-images.githubusercontent.com/85837915/201173171-66b10b8e-f35a-4674-954c-bd8f8be3b3f7.png)

[2022-11-10 18:48] Myddleware commented on #851
It depends what you need, if you want %Myddleware to create data only, update data only or both to your application. We usually set Create and update data.

[2022-11-10 22:11] AVATAVA commented on #657
Thanks for the reply. Is it possible we can hire someone from the team to get this working? We have tried several times using the contact forms on the myddleware.com site and have no reply at all.

[2022-11-10 23:11] Myddleware commented on #657
Hi @AVATAVA ,
We have some issue with this form. Sorry for that.
I found your message and have your direct email. I will send you a direct message.
Stéphane

[2022-11-11 09:22] francescobianco opened #852 "getDocumentHistory must fix LIMIT to 1"
Many database derived connector suffert by undefined limit on query! I suggest to add the following line

[code]

Into this function https://github.com/Myddleware/myddleware/blob/c4f59cd8ae275c735e03ad0961654dd9a4f95d15/src/Manager/DocumentManager.php#L1128

The mission of this function is to get data from a system for a specific record based on $searchQuery, in many case it look for ONE record. T

[2022-11-11 16:23] rafaelb26-dv commented on #851
Hi @Myddleware , think it worked, but there was another error, I will open a new issue

[2022-11-11 16:23] #851 closed, assigned to nobody

[2022-11-11 16:27] rafaelb26-dv opened #853 "errorcatcontextnotvalid"
Hi @Myddleware, my rule is not able to associate the products (prestashop) with the courses (moodle)
![error4](https://user-images.githubusercontent.com/85837915/201385611-64387533-cf8d-48c4-921d-42b5be90c4c1.png)

the error:

errorcatcontextnotvalid : You cannot perform functions in category context (Category Id: 1). The context error was: Invalid parameter value detectedFailed to send document.

[2022-11-14 21:10] Myddleware commented on #853
Hi @rafaelb26-dv ,
If I remember well, we have forced the category 1 when we create a course into Moodle. But in your case, maybe the category 1 doesn't exist, in this cas you have to edit the rule and change the id 1 by the right one.
Hope it helps.

[2022-11-20 17:27] Timertygit opened #863 "Prestashop webservice wrong call from myddleware"
Hi Developers,

I've noticed a bug in the myddleware preshashop module "Shops_urls". When I try to use this module there is no information retrieved from prestashop.
When i look at the apache access log on the prestashop side I've noticed that the request is done with a "date_add" and "date_upd" filter, but for this request we can't use those filters.
When i remove the "%2Cdate_upd%2Cdate_add" and

[2022-11-20 19:13] Timertygit opened #864 "Field to avoid duplicates not shown - version 3.1.8a"
Hi Developers,

I've tried several modules and connectors, but it seems that the field to avoid duplicates is never shown.
Could it be a bug in this version?

![1](https://user-images.githubusercontent.com/118681183/202921194-06f3640c-f6a0-4f90-b8ef-d7d4b6821b15.JPG)

Myddleware 3.1.8a is running in docker.

[2022-11-21 16:10] Myddleware commented on #864
Hi @Timertygit ,
Only a few fields are available for duplicate check with ERPNext. We have enabled only the ones we have tested.
But you can add mire fields if you want.  A small development will be requiered.

You have 2 ways to do it :
 - **the quick one** but not good because not upgrade safe, but it will allow you to test if it works :
Edit the file <myddleware_directory>\src\Solutions\erpnext

[2022-11-21 16:18] Myddleware commented on #863
Hi @Timertygit ,
I think this module isn't properly managed, thanks for your feedback with all the detail.
Could you edit this file this file <myddleware_directory>\src\Solutions\prestashop.php and add this code into the method getRefFieldName :
[code]
Then put 0 in the reference field of you rule
![image](https://user-images.githubusercontent.com/11330301/203104886-d0a29664-0540-4774-b044-0a63138

[2022-11-21 19:47] Timertygit commented on #863
Hi,

Thanks for the fast response. I've altered the code but it seems that the &date=1 filter is still added.
Tried the Reference date with a 0 but also with 1 and an empty field, al the same result.

[21/Nov/2022:20:39:41 +0100] "GET /webshops/api/ HTTP/2.0" 200 35585 "-" "-"
[21/Nov/2022:20:39:42 +0100] "GET /webshops/api/shop_urls&date=1?filter%5Bdate_upd%5D=%5B1%2C9999-12-31+00%3A00%3A00%5D&di

[2022-11-22 14:57] simonetravaglini opened #869 "installation without docker under windows"
Hi,
normally we use docker to install myddleware.
But we have some specific case where it's a little bit hard.
The typical scenario is a customer that need to install under a VM with windows instead of linux. In this case the standard docker installation could not work.
Do you have something ready to install under XAMP on a windows VM?
@francescobianco

[2022-11-23 11:25] Myddleware commented on #869
Hi @simonetravaglini ,
Could you try using this tuto : https://myddleware.github.io/myddleware/#/?id=install-myddleware
Have a nice day

[2022-11-23 21:12] Myddleware commented on #863
Hi @Timertygit ,
We have reproduced the issue on our test environement. We will fix it as soon as possible.
We will keep you updated.

[2022-11-24 10:11] Myddleware commented on #863
Hi @Timertygit ,
We have fixed the issue in this commit : https://github.com/Myddleware/myddleware/commit/7010c0ec6f47d7ae784d357abef5c6129976cd5f

We will add this fix in the next release but you can change the code into your instance before if you want.
Have a nice day.

[2022-11-26 22:20] Timertygit commented on #863
Hi @Myddleware

I've tested the commit 7010c0e, but it seems to create another error on the SQL syntax for invalid source_date_modified.
In the parameter -> Reference field I've tried multiple entries, but it doesn't matter if you give a date or not.

Failed to create document (id source : 1): An exception occurred while executing a query: SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect d

[2022-11-28 10:52] simonetravaglini opened #876 "running instance in cron remain 1"
Hi,
I don't know why but sametimes in cronjob table the column running instance remain set to 1 also if the rule is not still active.
So when the cron run it skips the rule (but I don't have evidence of that fact).
Do you have idea how could happen?
@francescobianco

version myddleware 3.1.7b

[2022-11-28 10:52] #869 closed, assigned to nobody

[2022-11-28 10:53] #578 closed, assigned to nobody

[2022-11-28 10:53] #708 closed, assigned to nobody

[2022-11-28 10:54] #769 closed, assigned to nobody

[2022-11-28 10:54] #739 closed, assigned to nobody

[2022-11-28 10:55] simonetravaglini commented on #808
@Myddleware news on this point?

[2022-11-28 10:56] simonetravaglini commented on #686
@Myddleware news?

[2022-11-28 10:56] #332 closed, assigned to Myddleware

[2022-11-28 10:58] #615 closed, assigned to nobody

[2022-11-28 10:58] #813 closed, assigned to Myddleware

[2022-11-28 15:50] Myddleware commented on #808
Hi @simonetravaglini ,
We haven't fix the dashbord yet but this is our next main topic (performance on dashlet and document search view). We plan to release the new interface and the SMTP management this week.
We will keep you posted.

[2022-11-28 16:09] Myddleware commented on #686
Hi @simonetravaglini ,
We have done this small fix bug you have to save the field "Primary key in your source table" first, then edit the rule again and simulate the record.
Hope it will be OK for you.

[2022-11-28 16:10] Myddleware commented on #686
We plan to release Myddleware 3.2.0 this week.

[2022-11-28 16:16] Myddleware commented on #876
Hi @simonetravaglini ,
It could happen when the task is not stopped properly. For example if the server stopped, or if the script is stopped by a timeout. In you case I advise you to set the max_instances with a big number (1000 for example).
Don't hesitate to set the running instance to 0.

Our next topic is the performance in Myddleware. And the topic just after is a big one, it will be to be ab

[2022-11-28 16:54] Myddleware commented on #863
Oh very sorry, I have tested only in simulation.

We have fix the issue on document creation : https://github.com/Myddleware/myddleware/commit/a23d671aa95738404edc67db0899c7bae7bf37ce

We will release the new Myddleware version this week but you can set change your code using the commit before if you want.

[2022-11-30 14:27] simonetravaglini commented on #467
Hi sorry if I reopen this issue.
In my case I try to create the second rule to update, but in relationship step I don't have possibility to set relation with ID of first rule. Should I customize the code to have available?

[2022-11-30 19:05] Timertygit commented on #863
Hi @Myddleware

No problem, I can confirm that the issue has been fixed.

Thanks!

[2022-11-30 19:05] #863 closed, assigned to nobody